{% extends 'templates/partials/crux.twig' %}
{% block content %}
    <div class="information_box">

        <div class="Information_content">
            <div class="information">
                <table class="pull-left" style="width: 50%">
                    <tr>
                        <th><img src="images/iphone.png"
                                 width="50px" height="50px" id="tableicons"></th>
                        <th><h3 id="information_heading">Maximize the Power of Your Phone Number</h3>
                            <p id="information_paragraph">Send emails from "yourphonenumber@oneidentity.com" and it is delivered as SMS, mail message on Gmail, Yahoo,etc</p></th>
                    </tr>

                    <tr>
                        <th><img src="images/052-512.png" width="50px" height="50px"
                                 id="tableicons"></th>
                        <th><h3 id="information_heading">Stay fully Connected</h3>
                            <p id="information_paragraph">
                                Sync your social and email accounts to your phone Number and manage all the accounts here.
                            </p></th>
                    </tr>
                    <tr>
                        <th><img src="images/icon-image-128.png" width="50px"
                                 height="50px" id="tableicons"></th>
                        <th><h3 id="information_heading">Media Sharing</h3>
                            <p id="information_paragraph">Share photos, videos, messages, notes, events and more with all your
                                buddies. </p>
                        </th>
                    </tr>

                    {#<tr>#}
                        {#<th><img src="images/chat-bubble-icon-74346.png" width="50px"#}
                                 {#height="50px" id="tableicons"></th>#}
                        {#<th><h3 id="information_heading">Instant Messaging</h3>#}
                            {#<p id="information_paragraph">Share memories and chat#}
                                {#with friends on our instant messaging service. </p></th>#}
                    {#</tr>#}

                </table>
                <div class="form_section">
                    <div class="form_heading"><h2>Sign Up</h2></div>
                    <div><span style="color: red; text-align: center; margin-left: 80px">{{ error }}</span></div>
                    <form method="post" action="{{ path_for('index') }}">
                        <div style="float:left;width:100%;height:auto; margin-left: 30px">
                            <div class="form-group" style="margin-left: 0em; margin-top: 1.2em;">
                                <select class="formscontrol" style="height: 34px;" name="countryCode" id="countryCode" >
                                    {% for country in countries %}
                                        <option {% if country.name == code %}selected{% endif %} value="{{ country.code }}">{{ country.name }} ({{ country.code }})</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <input type="number" class="control" id="exampleInputPassword1" name="phone" placeholder="Enter Phone Number" value="{{ old.phone }}">
                                <button type="submit" class="btn btn-primary" style="margin-left: 16px;">Join</button>
                            </div>
                        </div>
                        <div class="space"></div>
                        <p class="text-center" style="font-size: 12px">By signing up, you agree to the Terms of Service and Privacy Policy, including Cookie Use. Others will be able to find you by email or phone number when provided.</p>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
