<!DOCTYPE html>
<html>
<head>
    <title>One Identity</title>
    <link rel="stylesheet" type="text/css" href="static/css/Homepage.css">
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/fonts.css">
    <link rel="stylesheet" type="text/css" href="static//css/font-awesome/css/font-awesome.min.css">
</head>
<body>
<div class="body_wrapper">
    {% include 'templates/partials/header.twig' %}
    <div class="div_content">
        <div class="profile_section_box">
            <section class="profile">
                <div class="div1_profile">
                    <div class="div11profilepicture_div1_profile">
                        <img src="http://zblogged.com/wp-content/uploads/2015/11/5.png" width="200" height="200">

                    </div>
                    <div class="div12_div1_profile">
                        <div class="profileinfo_div12">
                            <h2>Tessy James</h2>
                            <p>Student at University of Benin</p>
                            <dl id="demographics">
                                <dt>
                                    <small>Location</small>
                                </dt>
                                <dd><span><small>Nigeria</small></span></dd>
                            </dl>
                            <table class="extra_info">
                                <tbody>
                                <tr>
                                    <th>Education</th>
                                    <th>
                                        <ul class="education_list">
                                            <li>
                                                University of Benin
                                            </li>
                                        </ul>
                                    </th>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="number_of_connections">
                            <strong>28</strong>
                            <p>
                                <small>connections</small>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="div2_profile">
                    <div class="redirect_profilepage">
                        <h2>View Tessy’s full profile. It's free!</h2>
                        <p>
                            <small>Your colleagues, classmates, and 400 million other professionals are on
                                oneidentity.
                            </small>
                        </p>
                        <button id="viewprofile"><b>View profile</b></button>
                    </div>

                </div>
            </section>

            <section class="profile">
                <div class="education">
                    <h5>Education</h5>
                    <br>
                    <img src="images/Uniben.png" width="70" height="70" id="logo">
                    <h5><b><span>University of Benin</span></b></h5>
                    <p>
                        <small>2012-2017</small>
                    </p>

                </div>
            </section>

            <section class="profile">
                <div class="viewpage">
                    <h3>View Tessy’s full profile to...</h3>
                    <small>
                        <ul>
                            <li>See who you know in common</li>
                            <li>Get introduced</li>
                            <li>Contact Tessy directly</li>
                        </ul>
                    </small>
                    <button id="viewbutton">
                        <b>View Tessy's Profile</b>
                    </button>
                    <small><p>Not the Tessy you’re looking for?<a href="#view">View more</a></p></small>
                </div>

            </section>
        </div>

        <div class="aux">
            <section class="side_bar">
                <div class="related_friend">
                    <div>
                        <ul style="margin-left:-1.5em;">
                            <table>
                                <div>
                                    <th>
                                        <a href=""><img src="images/phone.png" width="70" height="70" id="img"></a>
                                    </th>
                                    <th>
                                        <a id="call"><b>Make a Call</b></a>
                                    </th>
                                </div>
                            </table>
                            <table>
                                <div>
                                    <th>
                                        <a id="send_sms"><img src="images/sms.png" width="70" height="70" id="img"></a>
                                    </th>

                                    <th>
                                        <a id="send_sms1"><b>Send an SMS</b></a>
                                    </th>
                                </div>
                                <div id="sms" class="sms_modal">
                                    <div id="sms_content" class="modal_content">
                                        <span id="close">X</span><br>
                                        <div style="margin-top:0px">
                                            <label class="recieve">Recipient:</label>
                                            <input type="number" name="text" class="recipient_input"><br>
                                        </div>
                                        <div style="margin-top:10px;">
                                            <label class="textre">Text:</label><br>
                                            <textarea type="text" placeholder="Write Your text Msg"
                                                      class="textbox"></textarea>
                                        </div>
                                        <button id="clickbtn">Send</button>
                                    </div>

                                </div>

                            </table>
                            <table>
                                <div>

                                    <th>
                                        <a href=""><img src="images/mail.png" width="70" height="70" id="img"></a>
                                    </th>
                                    <th>
                                        <a href="#ref"><b>Send a Email</b></a>
                                    </th>
                                </div>
                            </table>


                            <table>
                                <div>
                                    <th>
                                        <a id="sync_mail"><img src="images/Sync-Cloud.png" width="70" height="70"
                                                               id="img">
                                        </a>
                                    </th>
                                    <th>
                                        <a id="sync_mail1">Synchronise your Email Account</a>
                                    </th>
                                </div>

                                <div id="sync" class="synchronize">
                                    <div id="sync_content" class="syncmodal_content">
                                        <span id="close1">X</span><br>
                                        <ul class="acctlist">
                                            <div id="list" style="margin-left:-64px;">
                                                <a href="/user/google"><img src="images/gmail.png" width="100"
                                                                            height="100"></a>
                                            </div>
                                            <div id="list">
                                                <a href="/user/yahoo"><img src="images/yahooo.png" width="100"
                                                                           height="100"></a>
                                            </div>
                                            <div id="list">
                                                <a href="/user/outlook"><img src="images/outlook.png" width="100"
                                                                             height="100"></a>
                                            </div>
                                        </ul>
                                        <a href="/user/custom" id="addbtn">+</a>
                                    </div>

                                </div>

                            </table>
                        </ul>

                    </div>

                </div>
            </section>

            <section class="side_bar">
                <div class="related">
                    <h3><b>New to OneIdentity?</b></h3>
                    <br>
                    <button class="viewbadges"><b>Sign Up here</b></button>
                </div>
            </section>

            <section class="side_bar">
                <div class="related_friend">
                    <h5><b>People also viewed</b></h5>
                    <div>


                        <ul style="margin-left:-1.5em;">
                            <table>
                                <th><img src="images/Moira.jpg" width="70" height="70" id="img"></th>
                                <th><a href="#ref">Moira Queen</a></th>
                            </table>
                            <table>
                                <th><img src="images/barry.jpg" width="70" height="70" id="img"></th>
                                <th><a href="#ref">Barry Alen</a></th>
                            </table>
                            <table>
                                <th><img src="images/Oliver.png" width="70" height="70" id="img"></th>
                                <th><a href="#ref">Oliver Queen</a></th>
                            </table>
                            <table>
                                <th><img src="images/kent.jpg" width="70" height="70" id="img"></th>
                                <th><a href="#ref">Kent Clark</a></th>
                            </table>
                        </ul>

                    </div>

                </div>

            </section>

        </div>
    </div>
</div>
{% include 'templates/partials/footer.twig' %}
<script>
    var modal = document.getElementById("sms");

    var sendbutton = document.getElementById("send_sms");
    var closebtn = document.getElementById("close");
    var modal = document.getElementById("sms");

    var sendbutton1 = document.getElementById("send_sms1");


    sendbutton1.onclick = function () {
        modal.style.display = "block";
    }
    sendbutton.onclick = function () {
        modal.style.display = "block";
    }
    closebtn.onclick = function () {
        modal.style.display = "none";
    }

    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }

    var syncmodal = document.getElementById("sync");
    var closebtn = document.getElementById("close1");

    var syncacctbtn = document.getElementById("sync_mail");
    var syncacctbtn1 = document.getElementById("sync_mail1");

    syncacctbtn.onclick = function () {
        syncmodal.style.display = "block";
    }
    syncacctbtn1.onclick = function () {
        syncmodal.style.display = "block";
    }
    closebtn.onclick = function () {
        syncmodal.style.display = "none";
    }
    window.onclick = function (event) {
        if (event.target == syncmodal) {
            syncmodal.style.display = "none";
        }
    }
</script>
</body>
</html>