<!DOCTYPE html>
<html lang="en">
<head ng-app="mainApp">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>1Identiti</title>

    <!-- Bootstrap -->
    <script src="/static/js/pace.js"></script>
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/theme.css" rel="stylesheet">
    {#<link href="/static/css/font-awesome.css" rel="stylesheet">#}
    <link href="/static/fonts/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/css/animate.css" rel="stylesheet">
    <link href='/static/css/roboto.css' rel='stylesheet' type='text/css'>
    <link href="/static/css/theme-loading-bar.css" rel="stylesheet"/>
    <link href="/static/css/plugins/toastr/toastr.min.css" rel="stylesheet">
    <!-- Gritter -->
    <link href="/static/js/plugins/gritter/jquery.gritter.css" rel="stylesheet">
    <link href="/static/css/animate.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    <link href="/static/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="/static/css/plugins/summernote/summernote.css" rel="stylesheet">
    <link href="/static/css/plugins/summernote/summernote-bs3.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="/static/js/html5shiv.min.js"></script>
    <script src="/static/js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="container" id="container" style="display:none;">
    <header>
        <!-- Main comapny header -->
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation"
             style="height: 50px; background-color: black;">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand top-navbar-brand" href="{{ path_for('index') }}"
                       style="font-size: 25px; margin-top: -2px; color: white">1Identiti</a>
                </div>
            </div>
        </nav>
    </header>
    <section ng-controller="MainController" ng-init="confirmation()" id="form" class="animated fadeInDown">
        <div class="container">
            <div id="loginbox" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <div class="panel black-alpha-90">
                    <div class="panel-heading">
                        <div class="panel-title text-center" style="color: white"><h2>Complete Registration - [[variable.token]]</h2></div>
                    </div>
                    <div class="panel-body">
                        {% if error %}
                            <div id="login-alert" class="alert alert-danger col-sm-12">{{ error }}</div>
                        {% endif %}
                        <form id="loginform" class="form-horizontal" role="form" action="{{ path_for('confirm') }}" accept-charset="utf-8" method="post" autocomplete="off">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user-md"></i></span>
                                <input id="phone" type="text" class="form-control" name="password" value="{{ phone }}"
                                       placeholder="Enter Phone Number" disabled>
                            </div>
                            <div class="input-group">
                                {% if errors.token %}
                                    <span style="color: red">{{ errors.token | first }}</span>
                                {% endif %}
                                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                <input id="token" type="text" class="form-control" name="token" value="" placeholder="Enter Token" autocomplete="off">
                            </div>
                            <div class="input-group" ng-show="variable.token">
                                {% if errors.password %}
                                <span style="color: red">{{ errors.password | first }}</span>
                                {% endif %}<br>
                                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                <input id="password" type="password" class="form-control" name="password" placeholder="Enter Password" autocomplete="off">
                            </div>
                            <div class="input-group col-xs-12 text-center login-action">
                                <div class="checkbox">
                                    <label style="color: white"><a href="/resend/{{ phone }}/token">Click here to resend token</a>
                                        <span id="btn-login"><button type="submit" class="btn btn-success">Submit</button></span>
                                    </label>
                                </div>
                            </div>
                            <div style="margin-top:10px" class="form-group">
                                <div class="col-sm-12 controls">
                                    <p style="color: white">By signing up, you agree to the Terms of Service and Privacy Policy, including Cookie Use. Others will be able to find you by email or phone number when provided.</p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <nav class="navbar navbar-default navbar-fixed-bottom" style="background-color: black" role="navigation">
            <div class="container text-center">
                <div class="footer-content">
                    <span style="float: left"><a href="http://tm30.net" style="color: white"><i class="fa fa-copyright"
                                                                                                aria-hidden="true"></i>&nbsp;TM30</a></span>
                </div>
            </div><!-- /.container-fluid -->
        </nav>
    </footer>
</div>

<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/angular.min.js"></script>
<script src="/static/js/moment.min.js"></script>
<script src="/static/js/angular-moment.min.js"></script>
<script src="/static/js/app.js"></script>
<script src="/static/js/jquery.backstretch.min.js"></script>
<script src="/static/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="/static/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

<!-- Flot -->
<script src="/static/js/plugins/flot/jquery.flot.js"></script>
<script src="/static/js/plugins/flot/jquery.flot.tooltip.min.js"></script>
<script src="/static/js/plugins/flot/jquery.flot.spline.js"></script>
<script src="/static/js/plugins/flot/jquery.flot.resize.js"></script>
<script src="/static/js/plugins/flot/jquery.flot.pie.js"></script>

<!-- Peity -->
<script src="/static/js/plugins/peity/jquery.peity.min.js"></script>
<script src="/static/js/demo/peity-demo.js"></script>

<!-- Custom and plugin javascript -->
<script src="/static/js/inspinia.js"></script>
{#<script src="/static/js/plugins/pace/pace.min.js"></script>#}

<!-- jQuery UI -->
<script src="/static/js/plugins/jquery-ui/jquery-ui.min.js"></script>

<!-- GITTER -->
<script src="/static/js/plugins/gritter/jquery.gritter.min.js"></script>

<!-- Sparkline -->
<script src="/static/js/plugins/sparkline/jquery.sparkline.min.js"></script>

<!-- Sparkline demo data  -->
<script src="/static/js/demo/sparkline-demo.js"></script>

<!-- ChartJS-->
<script src="/static/js/plugins/chartJs/Chart.min.js"></script>

<!-- Toastr -->
<script src="/static/js/plugins/toastr/toastr.min.js"></script>
<script src="/static/js/plugins/toastr/toastr.min.js"></script>
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'http://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-53918379-1', 'auto');
    ga('send', 'pageview');

</script>
<script>
    Pace.on('hide', function () {
        $("#container").fadeIn('1000');
        $.backstretch([
            "/images/landing.jpg"
        ], {duration: 5000, fade: 1000});
    });

</script>
</body>
</html>