<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from mydesignsforweb.com/alpha/register.html by HTTrack Website Copier/3.x [XR&CO'2013], Thu, 01 Dec 2016 08:41:00 GMT -->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>1Identity</title>

	<!-- Bootstrap -->
	<script src="/static/js/pace.js"></script>
	<link href="/static/css/bootstrap.css" rel="stylesheet">
	<link href="/static/css/theme.css" rel="stylesheet">
	<link href="/static/css/font-awesome.css" rel="stylesheet">
	<link href="/static/css/animate.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:700,400|Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
	<link href="/static/css/theme-loading-bar.css" rel="stylesheet" />

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	<script src="/static/js/html5shiv.min.js"></script>
	<script src="/static/js/respond.min.js"></script>
	<![endif]-->
</head>
<body>
<div class="container" id="container" style="display:none;">
	<header>
		<!-- Main comapny header -->
		<nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="height: 50px; background-color: black;">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand top-navbar-brand" href="{{ path_for('index') }}"
					   style="font-size: 25px; margin-top: -2px; color: white; margin-right: 100px">1Identity</a>
					<form class="form-inline hidden-sm hidden-xs" style="margin-top: 13px; margin-left: 20px; float: right; zoom: 0.8" method="get" action="{{ path_for('search') }}">
						<div class="form-group">
							<div class="input-group" style="width: 20em;">
								<input type="number" name="phone" id="phone" class="form-control" value="{{ old.phone }}"
									   placeholder="Enter Phone Number">
								<div class = "input-group-btn">
									<button class="btn" style="background-color: whitesmoke; color: black" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
								</div>
							</div>
						</div>
					</form>
				</div>
				<div style="color: white; margin-top: 13px; zoom: 0.8" class="hidden-sm hidden-xs">
					<form class="form-inline" style="float: right" action="{{ path_for('login') }}" accept-charset="utf-8" method="post">
						<div class="form-group">
							<div class="input-group" style="width: 20em;">
								<div class = "input-group-btn">
									<select class="form-control" name="countryCode" id="countryCode" style="width: 10em">
										{% for country in countries %}
											<option {% if country.name == code %}selected{% endif %}
													value="{{ country.code }}">{{ country.name }} ({{ country.code }})</option>
										{% endfor %}
									</select>
								</div>
								<input type="number" name="phone" id="phone" class="form-control" value="{{ old.phone }}"
									   placeholder="Enter Phone Number">
							</div>
							<input type="password" class="form-control" id="pwd" placeholder="Enter password">
							<input type="submit" name="submit" value="Login" class="btn btn-success">
						</div>
					</form>
				</div>
			</div>
		</nav>
	</header>
	<section id="form">
		<div class="container">
			<div id="registertext" class="mainbox col-xs-12 col-sm-6">
				<div class="jumbotron black-alpha-90 animated fadeInLeft">
					<h2>Be a member of <strong>1Identity</strong></h2>
					<p>You are just one step away from entering an awesome world.</p>
				</div>
			</div>
			<div id="loginbox" class="mainbox col-xs-12 col-sm-6 animated zoomInDown">
				<div class="panel white-alpha-90" >
					<div class="panel-heading">
						<div class="panel-title text-center"><h2> Join <strong>1Identity</strong></h2></div>
					</div>
					<div class="panel-body" >
						<div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
						<form id="loginform" class="form-horizontal" role="form" action="{{ path_for('register') }}" accept-charset="utf-8" method="post">
							<div class="input-group">
								<div class = "input-group-btn" style="width: 40%">
									<select class="form-control" name="countryCode" id="countryCode" style="background-color: transparent">
										{% for country in countries %}
											<option {% if country.name == code %}selected{% endif %}
													value="{{ country.code }}">{{ country.name }} ({{ country.code }})</option>
										{% endfor %}
									</select>
								</div>
								<input type="number" name="phone" id="phone" class="form-control" value="{{ old.phone }}"
									   placeholder="Enter Phone Number">
							</div>
							<div class="input-group col-xs-12 text-center login-action">
								<div class="checkbox">
									<label>
										<input id="login-remember" type="checkbox" name="remember" value="1" style="margin-top: 10px;"> I agree to terms and conditions &nbsp;
										<span id="btn-login"><button type="submit" class="btn btn-success">Register  </button></span>
									</label>
								</div>
							</div>
							<div style="margin-top:10px" class="form-group">
								<div class="col-sm-12 controls">

								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<footer>
		<nav class="navbar navbar-default navbar-fixed-bottom" style="background-color: black" role="navigation">
			<div class="container text-center">
				<div class="footer-content">
                    <span style="float: left"><a href="http://tm30.net" style="color: white"><i class="fa fa-copyright"
																								aria-hidden="true"></i>&nbsp;TM30</a></span>
					<span style="color: white">Already registered? &nbsp;&nbsp;<a href="{{ path_for('login') }}"
																				  class="btn btn-xs btn-primary"> Sign In </a></span>
				</div>
			</div><!-- /.container-fluid -->
		</nav>
	</footer>
</div>

<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/jquery.backstretch.min.js"></script>
<script>
	Pace.on('hide', function(){
		$("#container").fadeIn('1000');
		$.backstretch([
			"images/landing.jpg"
//				"images/taxi-2.jpg"
		], {duration: 5000, fade: 1000});
	});
</script>
</body>

<!-- Mirrored from mydesignsforweb.com/alpha/register.html by HTTrack Website Copier/3.x [XR&CO'2013], Thu, 01 Dec 2016 08:41:01 GMT -->
</html>