<!DOCTYPE html>
<html lang="en" ng-app="mainApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>1Identiti</title>
    <link rel='shortcut icon' href='/images/favicon.ico' type='image/x-icon' />

    <!-- Bootstrap -->
    <script src="/static/js/pace.js"></script>
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/theme.css" rel="stylesheet">
    {#<link href="/static/css/font-awesome.css" rel="stylesheet">#}
    <link href="/static/fonts/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/css/animate.css" rel="stylesheet">
    {#<link href='/static/css/roboto.css' rel='stylesheet' type='text/css'>#}
    <link href="/static/css/theme-loading-bar.css" rel="stylesheet"/>
    <link href="/static/css/plugins/toastr/toastr.min.css" rel="stylesheet">
    <!-- Gritter -->
    <link href="/static/js/plugins/gritter/jquery.gritter.css" rel="stylesheet">
    <link href="/static/css/animate.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    <link href="/static/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="/static/css/plugins/summernote/summernote.css" rel="stylesheet">
    <link href="/static/css/plugins/summernote/summernote-bs3.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="/static/js/html5shiv.min.js"></script>
    <script src="/static/js/respond.min.js"></script>
    <![endif]-->
</head>
<body ng-controller="MainController" ng-init="init('{{ countries }}')">
<div class="container" id="container" style="display:none;">
    <header>
        <!-- Main comapny header -->
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="height: 50px; background-color: black;">
            <div class="container">
                <div class="navbar-header">
                    {#<a class="navbar-brand top-navbar-brand" href="{{ path_for('index') }}"#}
                       {#style="font-size: 25px; margin-top: -2px; color: white; margin-right: 100px">1Identiti</a>#}
                    {#<a class="navbar-brand top-navbar-brand" href="{{ path_for('index') }}" style="font-size: 25px; margin-top: -14px; color: white; margin-right: 100px">#}
                        {#1Identiti#}
                        {#<div style="width: 90px; height: 45px; opacity: 1">#}
                            {#<img src="/images/cool.png" width="100%" height="100%">#}
                        {#</div>#}
                    {#</a>#}
                    <a class="navbar-brand top-navbar-brand" href="{{ path_for('index') }}"
                       style="font-size: 25px; margin-top: -2px; color: white">1Identiti</a>
                    <form class="form-inline" style="margin-top: 13px; margin-left: 20px; float: right; zoom: 0.8" method="get" action="{{ path_for('search') }}">
                        <div class="form-group">
                            <div class="input-group" style="width: 20em;">
                                <input type="number" name="phone" id="phone" class="form-control" placeholder="Enter Phone Number">
                                <div class = "input-group-btn">
                                    <button class="btn" style="background-color: whitesmoke; color: black" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div style="color: white; margin-top: 13px; zoom: 0.8" class="hidden-sm hidden-xs">
                    <form class="form-inline" style="float: right" action="{{ path_for('login') }}" accept-charset="utf-8" method="post">
                        <div class="form-group">
                            <div class="input-group" style="width: 25.5em; color: black">
                                <div class = "input-group-btn">
                                    <select class="form-control" name="countryCode" id="countryCode" style="width: 10em">
                                        <option ng-repeat="country in data.countries" ng-selected="country.name == data.countryCode" ng-model="country.code">[[ country.name ]] ([[ country.code ]])
                                        </option>
                                    </select>
                                </div>
                                <input type="number" name="phone" id="phone" class="form-control" value="{{ old.phone }}"
                                       placeholder="Enter Phone Number">
                                <input type="hidden" value="{{ code }}" name="code" id="code">
                            </div>
                            <input type="password" class="form-control" id="pwd" placeholder="Enter password">
                            <input type="submit" name="submit" value="Login" class="btn btn-success">
                        </div>
                    </form>
                </div>
            </div>
        </nav>
    </header>
    <section id="form" class="animated fadeInDown">
        <div class="container">
            <div id="loginbox" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <div class="panel black-alpha-90">
                    <div class="panel-heading">
                        <div class="panel-title text-center" style="color: white"><h2> Join <strong>1Identiti</strong></h2></div>
                    </div>
                    <div class="panel-body">
                        {% if messages.error %}
                            <div id="login-alert" class="alert alert-danger col-sm-12">{{ messages.error|first }}</div>
                        {% endif %}
                        <form id="loginform" class="form-horizontal" role="form" action="{{ path_for('register') }}" accept-charset="utf-8" method="post">
                            <div class="input-group">
                                <div class = "input-group-btn" style="width: 40%">
                                    <select class="form-control" name="countryCode" id="countryCode">
                                        <option ng-repeat="country in data.countries" ng-selected="country.name == data.countryCode" ng-model="country.code" value="[[country.code]]">[[ country.name ]] ([[ country.code ]])
                                        </option>
                                    </select>
                                </div>
                                <input type="number" name="phone" id="phone" class="form-control" value="{{ old.phone }}"
                                       placeholder="Enter Phone Number" required>
                                <input type="hidden" value="{{ code }}" name="code" id="code">
                            </div>
                            <div class="input-group col-xs-12 text-center login-action">
                                <div class="checkbox">
                                    <label style="color: white">
                                        <span id="btn-login"><button type="submit" class="btn btn-success">Register  </button></span>
                                    </label>
                                </div>
                            </div>
                            <div style="margin-top:10px" class="form-group">
                                <div class="col-sm-12 controls">

                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <nav class="navbar navbar-default navbar-fixed-bottom" style="background-color: black" role="navigation">
            <div class="container text-center">
                <div class="footer-content">
                    <span style="float: left"><a href="http://tm30.net" style="color: white"><i class="fa fa-copyright"
                                                                                                aria-hidden="true"></i>&nbsp;TM30</a></span>
                    <span style="color: white">Already registered? &nbsp;&nbsp;<a href="{{ path_for('login') }}"
                                                                                  class="btn btn-xs btn-primary"> Sign In </a></span>
                </div>
            </div><!-- /.container-fluid -->
        </nav>
    </footer>
</div>

<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/jquery.backstretch.min.js"></script>

<script>
    Pace.on('hide', function () {
        $("#container").fadeIn('1000');
        $.backstretch([
            "images/landing.jpg"
        ], {duration: 5000, fade: 1000});
    });

</script>
<script src="/static/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="/static/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

<!-- Flot -->
<script src="/static/js/plugins/flot/jquery.flot.js"></script>
<script src="/static/js/plugins/flot/jquery.flot.tooltip.min.js"></script>
<script src="/static/js/plugins/flot/jquery.flot.spline.js"></script>
<script src="/static/js/plugins/flot/jquery.flot.resize.js"></script>
<script src="/static/js/plugins/flot/jquery.flot.pie.js"></script>

<!-- Peity -->
<script src="/static/js/plugins/peity/jquery.peity.min.js"></script>
<script src="/static/js/demo/peity-demo.js"></script>

<!-- Custom and plugin javascript -->
<script src="/static/js/inspinia.js"></script>
{#<script src="/static/js/plugins/pace/pace.min.js"></script>#}

<!-- jQuery UI -->
<script src="/static/js/plugins/jquery-ui/jquery-ui.min.js"></script>

<!-- GITTER -->
<script src="/static/js/plugins/gritter/jquery.gritter.min.js"></script>

<!-- Sparkline -->
<script src="/static/js/plugins/sparkline/jquery.sparkline.min.js"></script>

<!-- Sparkline demo data  -->
<script src="/static/js/demo/sparkline-demo.js"></script>

<!-- ChartJS-->
<script src="/static/js/plugins/chartJs/Chart.min.js"></script>

<!-- Toastr -->
<script src="/static/js/plugins/toastr/toastr.min.js"></script>
{#<script>#}
    {#(function (i, s, o, g, r, a, m) {#}
        {#i['GoogleAnalyticsObject'] = r;#}
        {#i[r] = i[r] || function () {#}
                    {#(i[r].q = i[r].q || []).push(arguments)#}
                {#}, i[r].l = 1 * new Date();#}
        {#a = s.createElement(o),#}
                {#m = s.getElementsByTagName(o)[0];#}
        {#a.async = 1;#}
        {#a.src = g;#}
        {#m.parentNode.insertBefore(a, m)#}
    {#})(window, document, 'script', 'http://www.google-analytics.com/analytics.js', 'ga');#}

    {#ga('create', 'UA-53918379-1', 'auto');#}
    {#ga('send', 'pageview');#}

{#</script>#}
<script src="/static/js/angular.min.js"></script>
<script src="/static/js/moment.min.js"></script>
<script src="/static/js/angular-moment.min.js"></script>
<script src="/node_modules/checklist-model/checklist-model.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.6.1/angular-sanitize.min.js"></script>
<script src="/static/js/app.js"></script>
</body>

<!-- Mirrored from mydesignsforweb.com/alpha/ by HTTrack Website Copier/3.x [XR&CO'2013], Thu, 01 Dec 2016 08:40:40 GMT -->
</html>