{% extends 'templates/partials/apex.twig' %}
{% block content %}
    <div class="centerform" style="height: 370px">
        <h1 style="text-align: center; font-size: 24px; margin-top: -20px">Complete Registration</h1>
        <form action="{{ path_for('confirm') }}" accept-charset="utf-8" method="post">
            {% if error %}
                <div style="color: red; margin-top: -5px">
                    {{ error }}
                </div>
            {% endif %}
            <div style="margin-left: 5.5em">
                <input type="text" name="phone" id="password" style="margin-right: 180px; width: 82%;" value="{{ phone }}" disabled>
            </div><br>
            <div style="margin-left: 5.5em">
                {% if errors.token %}
                    <span style="color: red">{{ errors.token | first }}</span>
                {% endif %}
                <input type="text" name="token" id="password" style="margin-right: 180px; width: 82%;" placeholder="Enter Valid Token">
            </div>
            <div style="margin-left: 5.5em">
                {% if errors.password %}
                    <span style="color: red">{{ errors.password | first }}</span>
                {% endif %}<br>
                <input type="password" name="password" id="password" style="margin-right: 180px; width: 82%;" placeholder="Create Password">
            </div>
            <div style="margin-top: 20px"><input type="submit" name="Submit" value="Join" id="signinbutton"></div>
            <div>
                <br>
                <p>By signing up, you agree to the Terms of Service and Privacy Policy, including Cookie Use. Others will be able to find you by email or phone number when provided.</p>
                {{ csrf.field | raw }}
            </div>
        </form>
    </div>
{% endblock %}