{% extends 'templates/partials/apex.twig' %}
{% block content %}
    <div class="centerform" style="height: 250px">
        <h1 style="text-align: center; margin-top: -15px">Reset Password</h1>
        <div class="space"></div>
        <form action="{{ path_for('forgot') }}" accept-charset="utf-8" method="post" class="form-inline">
            <div>
                {% if error %}
                    <div style="color: red; margin-top: -20px">
                        {{ error }}
                    </div>
                {% endif %}
                <div class="input-group">
                    <div class="input-group-btn">
                        <select name="countryCode" type="button" style="width: 120px;" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {% for country in countries %}
                                <option {% if country.code == '+1' %}selected{% endif %}
                                        value="{{ country.code }}">{{ country.name }} ({{ country.code }})
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                    <input type="number" name="phone" id="phone" style="width: 100%;" class="form-control" placeholder="Enter Phone Number" value="{{ old.phone }}" required>
                    <span class="input-group-btn"><button class="btn btn-primary" type="submit">Send Token</button></span>
                </div>
            </div>
            <div>
                <h2 style="color: white;font-size: 16px;">A verification token will be sent to this mobile phone to
                    confirm a password reset</h2>
            </div>
        </form>
    </div>
{% endblock %}



