{% extends 'templates/center.twig' %}

{% block content %}

    <section class="signin">
        <div class="logo">
            <a href="/">
                <img src="" alt="">
            </a>
        </div>
        <div class="panel-pane pane-ov-recovery-form hidden-pane">
            <div id='ov-ajax-forms-user_pass-messages'></div>
            <form action="{{ path_for('register') }}" method="post" id="user-pass"
                  accept-charset="UTF-8">
                <div><h1 class="prefix-title">Create new Account</h1>
                    <div class="form-item form-type-textfield form-item-name">
                        <label for="edit-name--2">Phone
                            <span class="form-required" title="This field is required.">*</span>
                            {% if errors.phone %}
                                <span class="error-block error">{{ errors.phone | first }}</span>
                            {% endif %}
                        </label>
                        <input placeholder="Your mobile phone number" autocomplete="off" type="number" id="phone" name="phone"
                               value="{{ old.phone }}" size="60" maxlength="25" class="form-text required"/>
                    </div>
                    <div class="form-item form-type-textfield form-item-name">
                        <label for="edit-name--2">Password
                            <span class="form-required" title="This field is required.">*</span>
                            {% if errors.verify_password %}
                                <span class="error-block error">{{ errors.password | first }}</span>
                            {% endif %}
                        </label>
                        <input placeholder="Enter a password" autocomplete="off" type="password" id="password" name="password"
                               value="" size="60" maxlength="25" class="form-text required"/>
                    </div>
                    <div class="form-item form-type-textfield form-item-name">
                        <label for="edit-name--2">Repeat Password
                            <span class="form-required" title="This field is required.">*</span>
                            {% if errors.verify_password %}
                                <span class="error-block error">{{ errors.verify_password | first }}</span>
                            {% endif %}
                        </label>
                        <input placeholder="Repeat password" autocomplete="off" type="password" id="verify_password" name="verify_password"
                               value="" size="60" maxlength="25" class="form-text required"/>
                    </div>
                    <div class="form-actions form-wrapper">
                        <input type="submit" value="Create Account" class="btn-xs btn-primary"/>
                    </div>

                    {{ csrf.field | raw }}
                </div>
            </form>
        </div>
        <div class="panel-pane pane-ov-registration-form">
            <div id="ajax_form_multistep_form">
                <form class="user-info-from-cookie" autocomplete="off" enctype="multipart/form-data"
                      action="https://www.onlinevolunteering.org/en/sign-up" method="post" id="user-register-form"
                      accept-charset="UTF-8">
                    <div>
                        <div class="field-type-list-boolean field-name-field-account-type field-widget-options-buttons form-wrapper"
                             id="edit-field-account-type">
                            <div class="form-item form-type-radios form-item-field-account-type-und">
                                <label for="edit-field-account-type-und"><a href="/login"> Have an Account? sign in here</a></label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!-- contextual_links -->

{% endblock %}