{% extends 'templates/partials/apex.twig' %}
{% block content %}
    <div class="centerform" >
        <h1 style="text-align: center; margin-top: -15px">Sign In</h1>
        <div class="space"></div>
        <form action="{{ path_for('login') }}" accept-charset="utf-8" method="post">
            <div style="margin-left: 4.5em">
                {% if error %}
                    <div style="color: red; margin-top: -20px">
                        {{ error }}
                    </div>
                {% endif %}
                <select class="formscontrol" style="background: #2e6da4" name="countryCode" id="countryCode" >
                    {% for country in countries %}
                        <option {% if country.name == [[countryCode]] %}selected{% endif %} value="{{ country.code }}">{{ country.name }} ({{ country.code }})</option>
                    {% endfor %}
                </select>
                {#<div class="bfh-selectbox bfh-countries" data-country="US" data-flags="true">#}
                    {#<input type="hidden" value="">#}
                    {#<a class="bfh-selectbox-toggle" role="button" data-toggle="bfh-selectbox" href="#">#}
                        {#<span class="bfh-selectbox-option input-medium" data-option=""></span>#}
                        {#<b class="caret"></b>#}
                    {#</a>#}
                    {#<div class="bfh-selectbox-options">#}
                        {#<input type="text" class="bfh-selectbox-filter">#}
                        {#<div role="listbox">#}
                            {#<ul role="option">#}
                            {#</ul>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
                <input type="number" name="phone" id="phone" style="margin-right: 72px; width: 63%;" placeholder="Enter Phone Number" value="{{ old.phone }}" required>
            </div>
            <div class="space"></div>
            <div>
                <input type="password" name="password" id="password" placeholder="Password" required>
                {% if errors.password %}
                <span class="error-block error">{{ errors.password | first }}</span>
                {% endif %}<br>
            </div>
            <div style="margin-top: 20px"><input type="submit" name="Submit" value="Sign In" id="signinbutton"></div>
            <div>
                <a href="{{ path_for('register') }}"><h2 style="text-decoration: underline; font-size: 16px; color: wheat">New users: sign up here.</h2></a>
                <a href="{{ path_for('forgot') }}"><h2 style="color: white; text-decoration: underline; font-size: 16px">Forgot Password.</h2></a>
            </div>
        </form>
    </div>
{% endblock %}



