{% extends 'templates/partials/apex.twig' %}
{% block content %}
    <div class="centerform" >
        <h1 style="text-align: center; margin-top: 0">Join OneIdentity Today</h1>
        <div class="space"></div>
        <form action="{{ path_for('register') }}" accept-charset="utf-8" method="post">
            <div style="margin-left: 4.5em">
                {% if flash.getMessage('error') %}
                    <div style="color: red; margin-top: -20px">
                        {{ flash.getMessage('error') | first }}
                    </div>
                {% endif %}
                <select class="formscontrol" style="background: #2e6da4" name="countryCode" id="countryCode" >
                    {% for country in countries %}
                        <option {% if country.name == code %}selected{% endif %} value="{{ country.code }}">{{ country.name }} ({{ country.code }})</option>
                    {% endfor %}
                </select>
                <input type="number" name="phone" id="phone" style="margin-right: 72px; width: 63%;" placeholder="Enter Phone Number" value="{{ old.phone }}" required>
            </div>
            <div style="margin-top: 20px"><input type="submit" name="Submit" value="Join" id="signinbutton"><br></div>
            <div>
                <br>
                <p>By signing up, you agree to the Terms of Service and Privacy Policy, including Cookie Use. Others will be able to find you by email or phone number when provided.</p>
                {{ csrf.field | raw }}
            </div>
        </form>
    </div>
{% endblock %}