<!DOCTYPE html>
<html>
<head>
    <title>One Identity</title>
    <link rel="stylesheet" type="text/css" href="../css/Homepage.css">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/fonts.css">
</head>
<body class="verify">
    <div class="container">
        <div>
            <a href="/"><h1 class="verify_heading">OneIdentity</h1></a>
        </div>
        <div class="verify-banner">
            {% include 'templates/partials/flash.twig' %}
            <h1 class="verify-title">You are one step from completion</h1>
            <span class="verify-subtitle">check your phone for verification sms. <a href="/"><small style="color: white; font-style: italic; text-decoration: underline; font-family: 'Abyssinica SIL'" >Return home</small></a></span>
        </div>
    </div>
</body>
</html>