._body {
    width: 100%;
    background: url("/images/landing.jpg");
    background-repeat: no-repeat;
    height: 100%;
    background-size: cover;
}

.body_container, .body_wrapper {
    width: 100%;
}

.headerCSS {
    height: 46px;
    width: 100%;
    background-color: #333;
    color: black;
    text-decoration: none;
    font-family: "Century Schoolbook L";
    position: fixed;
    top: 0;
}

.header_form {
    float: right;
    margin-right: 30px;
    padding: 20px;
    text-align: center;

}

#forgotpassword {
    float: right;
}

.formscontrol {
    width: 20%;
    background-color: #5cb85c;
    color: white;
    border-color: #555;
    float: left;
    height: 30px;
    padding: 4px 6px;
    margin-right: -3px;
    font-size: 13px;
    line-height: 1.42857143;
    border-radius: 4px;
    -moz-appearance: none;
    -webkit-appearance: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.control {
    width: 45%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    float: left;
    border-radius: 4px;
    border-left: none;
    border-color: #555;
    border: 1px 1px 1px 1px;

}

option {
    background-color: white;
    color: black;
}

input#signup:focus {
    border: 1px solid grey;

}

input#signin_botton {

    background-color: green;
    border: none;
    color: white;
    width: 100px;
    padding: 5px;
    border-radius: 2px;

}

input#signin_botton:hover {
    background-color: grey;
    color: white;
    border: 1px solid white;

}

.oneidentity_heading {
    font-size: 24px;
    margin-left: 36px;
    float: left;
    margin-top: 10px;
    color: white;
    text-decoration: none;
}

.information_box {
    width: 100%;
    /*height: 600px;*/
    background-color: white;
}

.information_content {
    width: 100%;
    /*height: 500px;*/
    vertical-align: center;

}

.information {
    color: black;
    width: 100%;
    margin-top: 12%;
    /*margin-top: -10px;*/
    /*float: left;*/

}

table {
    margin-top: -0px;
    text-align: left;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
}

#tableicons {
    margin-right: 10px;
    margin-left: 30px;
}

h3#information_heading {
    font: 23px 'larsseitlight', sans-serif;
}

p#information_paragraph {
    font: 18px 'larsseitlight', sans-serif;
}

.form_section {
    width: 30%;
    /*height: 50%;*/
    padding: 20px;
    background-color: whitesmoke;
    float: right;
    /*margin-left: 5.5em;*/
    /*margin-top: -20px;*/
    margin-right: 10.5em;
    margin-top: 5%;
}

.form_heading {
    font-family: georgia, cursive;
    margin-top: 15px;
    /*font-size: 25px;*/
    /*padding-left: 10%;*/
    text-align: center;
}

.main_form {
    text-align: center;
    margin-top: 30px;

}

input#signup, #phone, #password {
    text-align: center;
    color: black;
    border-radius: 4px;
    width: 22em;
}

input#exampleInputEmail1 {
    width: 70%;
    float: left;

}

/*.styled-select{
   width: 300px;
   height: 54px;
   overflow: hidden;
   background: url(new_arrow.png) no-repeat right #ddd;
   border: 1px solid #ccc;
   }*/

input#signup:focus {
    border: 1px solid white;

}

input#signup_botton, #signinbutton {
    padding: 10px;

    vertical-align: center;
    background-color: white;
    border: none;
    color: grey;
    width: 50%;
}

#signinbutton {
    border: 1px solid white;
    background-color: green;
    color: white;
    width: 70%;
}

.centerform {
    width: 600px;
    height: 330px;
    margin-right: auto;
    /*margin-left: 8%;*/
    /*margin-top: 12%;*/
    text-align: center;
    vertical-align: center;
    background-color:rgba(0, 0, 0, 0.6);
    color: white;
    left: 30%;
    top: 30%;

    /*background-color: #e0e0e0;*/
    opacity: 1;
    /*background: rgb(54, 25, 25);*/
    padding: 50px;
    position: fixed;
    font-size: 16px;
    font-family: "Century Schoolbook L";
}

input#signup_botton:hover {
    background-color: grey;
    color: white;
    border: 1px solid white;

}

a {
    text-decoration: none;
    color: #57A;

    cursor: pointer;
    font-size: inherit;

}

a:hover {
    text-decoration: underline;
}

footer {
    height: 46px;
    width: 100%;
    background-color: #333;
    color: white;
    bottom: 50px;
    position: fixed;

}

/*input[type="submit"]#searchbar {*/
    /*background-color: white;*/
    /*color: #333;*/
    /*border: none;*/
    /*width: 70px;*/
    /*height: 30px;*/
    /*border-radius: 5px;*/

/*}*/

/*input[type="submit"]#searchbar:hover {*/
    /*background-color: grey;*/
    /*color: white;*/
/*}*/

a.footernotes {
    color: white;
    font-size: small;
    text-decoration: none;
    font: 0.8em 'larsseitlight', sans-serif;
}

.businessolution, .general {
    float: left;
    margin-left: 50px;
    padding: 3px;
    margin-right: -30px;

}

.businessolution {
    margin-left: 100px;
}

.footer_table {
    width: 100%;
}

.copyright {
    width: 100%;
    height: 50px;
    background-color: black;
    float: left;
    vertical-align: center;
    bottom: 0px;
    position: fixed;

}

/*.body_wrapper {*/
/*background-color:;*/
/*}*/

.div_content {
    text-align: center;
    width: 974px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 90px;
}

.profile_section_box {
    display: block;
    float: left;
    margin-bottom: 10px;
    width: 626px;

}

.profile, .side_bar {
    font-family: "Century Schoolbook L";
    background-color: ghostwhite;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.15);
    margin-bottom: 10px;
    overflow: hidden;
+ position: relative;

}

.div1_profile {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.div11profilepicture_div1_profile {
    width: 200px;
    height: 200px;
    float: left;
}

.div12_div1_profile {
    float: right;
    width: 405px;
    padding: 0 20px 20px;
}

.profileinfo_div12 {
    font: inherit;
    float: left;
    text-align: left;
}

.extra_info {
    font-size: xx-small;

}

.education_list {
    list-style: none;
    /*list-style-type: none;*/
    margin-bottom: -5px;
}

.number_of_connections {
    float: right;
    margin-top: 30px;
}

.div2_profile {
    background-color: grey;
    width: 100%;
    height: 146px;
}

.redirect_profilepage {
    height: 136px;
    width: 90%;
    color: whitesmoke;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 10px;
    text-align: left;
}

button#viewprofile {
    color: black
}

.education, .viewpage {
    padding: 20px;
    text-align: left;
}

#logo {

    float: right;
    padding-bottom: 20px;

}

#viewbutton {
    background-color: #f6e312;
    border-color: #e9ac1a;
    border-radius: 8px;
    padding: 5px;
}

.aux {
    float: left;
    margin-left: 10px;
    width: 318px;
}

.related_friend {
    padding-left: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;

}

.related {
    padding-left: 8px;
    padding-top: 5px;
    padding-bottom: 20px;
    text-align: center;

}

#img {
    margin-top: 5px;
    margin-right: 10px;
}

.meet {
    text-align: left;
    padding: 15px;
}

.viewbadges {
    background-color: #ffa31a;
    border: 1px solid #b36b00;
    color: white;
    font-size: 16px;
    height: 50px;
    border-radius: 3px;
    width: auto;
}

.sms_modal, .synchronize {
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    display: none;
    z-index: 1;
    position: fixed;
    padding: 100px;
    left: 0;
    top: 0;
    overflow: auto;
}

.modal_content, .syncmodal_content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    padding-bottom: 70px;
    padding-left: 30px;
    border: 1px solid #888;
    width: 80%;

}

.syncmodal_content {
    width: 70%;
    padding: 80px;
    padding-bottom: 100px;

}

#close, #close1, #close2, #close3 {
    float: right;
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;

}

#close:hover, #close:focus, #close1:hover, #close1:focus,#close2:hover, #close2:focus,#close3:hover, #close3:focus  {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#close1 {
    margin-top: -57px;
    margin-right: -34px;
}

#clickbtn {
    width: 100px;
    float: right;
    background-color: #ffa31a;
    border: 1px solid #b36b00;
    border-radius: 8px;
    padding: 10px;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.recieve, .textre {
    font-size: 25px;
    font-family: 'pacifico', cursive;

}

.recipient_input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 4px solid grey;
    width: 60%;
    font-size: 30px;

}

.textbox[type="text"] {
    width: 80%;
    height: 300px;
    border: 4px solid grey;
    font-size: 30px;
    color: black;
}

#addbtn {
    border-radius: 10px;
    border: 1px solid #286090;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #fff;
    color: #286090;
    font-size: 40px;
    font-weight: bolder;
    margin-bottom: -10px;
    margin-left: 30px;

}

#addbtn:hover, #addbtn:focus {
    text-decoration: none;
    background-color: #286090;
    color: white;
    border: 1px solid #122b40;
}

.acctlist {
    list-style-type: none;
    float: left;
    margin-top: -20px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;

}

#list {
    margin-right: 50px;
    margin-left: 30px;
    float: left;

}

.space {
    height: 20px;
}

.input_header {
    margin-left: 7em;
    margin-top: 0.4em;
    width: 20%;
    padding: 5px;
    /*border-radius: 5px;*/
    border: 1px solid grey;
}

#signin {
    /*margin-right: 10px;*/
    /*margin-top: 0.4em;*/
    width: 200px;
    padding-left: 10px;
    /*border-radius: 5px;*/
    border: 1px solid grey;
}

.flash_alert {
    padding: 8px;
    border: 1px solid transparent;
    border-radius: 4px;
    margin-bottom: -3%;
    width: 90%;
}

.verify {
    background: url("/images/landing.jpg");
}

.verify-banner {
    border: 1px solid transparent;
    border-radius: 4px;
    height: 200px;
    background-color:rgba(0, 0, 0, 0.1);
    width: 60%;
    margin: 20%;
    color: white;
}

.verify-title {
    text-align: center;
    text-transform: capitalize;
    margin-top: 10%;
    font-family: 'pacifico', cursive;
}
.verify-subtitle {
    font-family: 'Raleway';
    margin-left: 20%;
    margin-top: 5%;
    color: #2b820a;
    font-size: 18px;
}

.verify_heading {
    color: white;
    font-family: 'pacifico', cursive;
    font-weight: normal;
    font-size: 25px;
    font-style: normal;
    float: left;
    margin-left: -12%
}

.switch{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-left:100px;

}
.switch input{
    display: none;
}


.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
   border-radius: 50%;
}
input:checked + .blue {
  background-color: #2196F3;
}

input:checked + .green {
  background-color: #66ff66;
}
input:checked + .red {
  background-color: #ff5c33;
}
input:checked + .yellow {
  background-color:#e6e600;
}


input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
  -webkit-transform: translate(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.notificationfont{
    font-size: 30px;
  font-family: 'Lobster';



}
.toggle_list{
    width: 100%;
    margin-left: auto;
    margin-right: auto;

}

.notification_labels{
    font-family: 'Montserrat' cursive;
    font-size: 20px;
    margin-left: 30px;
    font-weight: normal;

}
.yahoo_modal,.outlook_modal{
     background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    display: none;
    z-index: 1;
    position: fixed;
    padding: 100px;
    left: 0;
    top: 0;
    overflow: auto;
}


.list33{
    margin-right: 50px;
    margin-left: 30px;
    float: left;

}
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.header_option {
    width: 80px;
    height: 23px;
    background-color: #2e6da4;
    color: white;
}