body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.wrapper {
    min-height: 100%;
    margin-bottom: -50px;
}

.Homepage_header {
    background-image: url(https://abs.twimg.com/a/1470279950/img/t1/lohp_streams_header_bg_v4.png);
    background-size: 100%;
    height: 200px;
    position: relative;
    margin-bottom: 50px;
    top: 0px;

    margin-top: -20px;
    margin-left: -10px;
    margin-right: -40px;

}

ul.buttonlist {
    list-style-type: none;
    float: left;
    margin-left: 640px;
}

li {
    float: left;
}

.header_button_Signup {
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);

}

.header_button_login {
    background-color: #60d6a4;
    border: none;

}

.header_button_Signup, .header_button_login {

    color: white;
    border-radius: 5px;
    width: 120px;
    height: 50px;
    text-align: center;
    font-size: 16px;
    font-weight: 200;
    margin-right: 10px;
}

.header_button_Signup:hover, .header_button_login:hover {
    background-color: white;
    color: #60d6a4;
}

.headermessage {
    color: white;
    vertical-align: center;
    margin: 20px 20px 200px 300px;
    font-size: 48px;
    font-weight: 500;
}

div.tab {
    width: 100%;
}

ul.headertab {
    float: left;
    list-style-type: none;
    margin-top: -140px;
    margin-left: -39px;
    margin-right: -10px;
    width: 100%;
    position: absolute;
    margin-bottom: 10px;

}

.headerbuttontab {
    background-color: white;
    border-left: 1px solid #b7c1bd;
    border-bottom: 1px solid #b7c1bd;
    padding: 15px 1.79em;
}

.headerbuttontab:hover {
    border-bottom: 4px solid #1da1f2;
    cursor: pointer;

}

#downarrow::after {
    content: "v";
    font-weight: normal;
    font-style: normal;
    text-align: right;
    margin-left: 7px;
}

.picturesframes {
    float: left;
    top: 0px;
}

.pic {
    width: 290px;
    margin: 10px 10px 10px 10px;
    float: left;
    border: none;
}

.underpictext {
    background-color: white;
    border: 1px solid #b7c1bd;
    color: black;
    font-weight: 600;
    margin-top: -6px;

    height: 80px;
    padding: 10px;
    padding-bottom: 40px;
}

span#picdivtext:hover {
    text-decoration: underline;
    cursor: pointer;
}

.smallimage {
    border: 0;
    border-radius: 12px;
}