@media print {
    @page {
        size: portrait
    }

    * {
        -webkit-print-color-adjust: exact
    }

    .simple-page .lang-menu, .opportunity-back, .footer-main, .simple-menu, .back-link, .node-content-action, footer {
        display: none
    }

    section + section, .node-content-view {
        page-break-before: always;
        max-width: 100%;
        width: 100%
    }

    section + section .field, .node-content-view .field {
        margin-bottom: 5mm
    }

    section + section .field:last-child, .node-content-view .field:last-child {
        margin-bottom: 0
    }

    .your-application .opportunities-info .user-info, .your-application .opportunities-info .opportunity-item-wrapper {
        max-width: 50%;
        display: inline-block;
        vertical-align: top
    }

    .opportunity .opportunity-actions {
        display: none
    }

    .opportunity-data {
        margin-top: 1cm
    }

    .opportunity-data-item {
        width: 50%;
        border: 0;
        padding-top: 20mm;
        height: 50mm
    }

    .vol-needed, .opp-region, .opp-hours-weeks {
        background-position: 50% 3mm;
        background-size: 12mm
    }

    .opp-hours-weeks {
        background-position: 50% 2mm
    }

    .vol-needed {
        background-size: 15mm
    }

    .opportunities-list .opportunities-item, .opportunities-list .opportunities-item:nth-child(2n), .opportunities-list .opportunities-item:nth-child(3n) {
        -webkit-box-shadow: none;
        box-shadow: none;
        border: 1px solid #dee5eb;
        margin-right: 2%;
        width: 48%
    }

    .opportunities-list .opportunities-item:nth-child(2n) {
        margin-right: 0
    }

    .opp-languages::before, .opportunity-task::before, .opportunity-task-2::before {
        margin-top: -3mm
    }

    .tabs-data-list, .content-tab-data {
        display: block;
        opacity: 1;
        visibility: visible;
        height: auto
    }

    .content-tab::before, .content-tab-data::before {
        content: attr(data-tab)
    }

    .content-tab {
        border: 0
    }

    .content-tab::before {
        background: #25a898;
        border-radius: 100%;
        color: #fff;
        padding: 10px 15px;
        margin-right: 10px;
        display: inline-block;
        vertical-align: middle
    }

    .content-tab-data::before {
        display: block;
        font-weight: bold;
        border-bottom: 3px solid #25a898;
        padding: 0;
        margin: 0 0 10px
    }
}