body{
	width: 100%;
	height:100%;
	background-color: #dfdfdf;
	font:inherit;
	margin: 0;
	padding:0;
	vertical-align: baseline;
    font-size: 100%;
}

.bodywrapper{
	width:100%;

}

.profile_section{
	
}
.profile{
	overflow: hidden;
	position: relative;
background-color: #fff
}
