.header{
	width:100%;
	height:45px;
	background-color: ghostwhite;
	/*border-bottom: 4px solid whitesmoke;*/
	/*border-left: 4px solid whitesmoke;*/
	border: 3px solid floralwhite;
	border-top: None;
}
.footer{
	width:100%;
	height:45px;
	/*background-color:white;*/
    background-color: whitesmoke;
	position: fixed;
	z-index: 10;
	bottom: 0;
	border: 3px solid floralwhite;
	border-bottom: None;
}
body{
	margin:0;
	background-color:#f5f8fa;
}
.container{
	margin-top:50px;
	height:1000px;
	width: 100%;
}
#HomeSidebar{
		width: 80%;
		height: 400px;
		margin-left: 15%;
		float: left;
		text-align: center;
		background-image: url(/images/RichThumb-350x300.jpg);
		border-radius: 20%;
	/*box-shadow: all;*/

}
#content{
	width:auto;
	height:700px;
	margin-right:250px;
	background-color:#e6ffff;
	float:right;

}
.menu{
	height:40px;
	margin-left: 5.5em;
	list-style: none;
}

#profileSidebar{
	width:300px;
	height:400px;
	margin-left:12%;
	/*background-color:white;*/
	float:left;
}
.content{
	width:75%;
	height:65%;
	margin-right:15px;
	/*background-color:rgba(246,250,218,1);*/
    background-color: #fcf8e3;
	float:right;
	border: 2px solid ghostwhite;
    padding: 30px;
    border-radius: 5px;
    float: left;
   
    margin-left: 30px;
}
.menuSeg{
	width: 100px;
	margin-top: 12px;
	float: left;
	color: black;
}
.dropbtn{
	width: 90px;
	height: 45px;
	background-color:white;
	border: none;
    cursor: pointer; 
}
#photoFrame{
			width: auto;
		height: 160px;
		margin-left: 25%;
		padding-top: 20px;
		margin-right: auto;
}
.img-circle{
	  border-radius: 50%;
	  width: 160px;
	  height: 160px;
	  float: left;
}
#basicInfo{
	height: 150px;
	width: 100%;
	background-color: #fcf8e3;
	font-size: 12px;
	font-family: "Abyssinica SIL";
	padding: 15px;
	text-align: center;

}
#maintabs {
	text-align: left;
	font-size: 0px;
	margin: 0px;
	padding: 0px 0px 0px 20px;
	list-style-type: none;
}
a { color: inherit; }
#mailTabHome{
	width: auto;
	height: 300px;
	background-color: transparent;
	padding-top: 20px;
float: left;

}
#Mdirections{
	width: 725px;
	height: 50px;
	margin-left: auto;
	margin-right: auto;

}
#ToS{
	width: 550px;
}
#CcS{
	width: 550px;
}
.TArea{
	outline: none;
	margin-top: 70px;
	margin-left: 44px;
}
#EmailCOntrols{
	width: 530px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
	background-color: inherit;
	padding-top: 15px;
	padding-left: 20px;
}
.modButton{
	width: 20px;
	background-color: #ccc;
	color: black;
	text-align: center;
	border: 0px;
}
.dropbtn {
    background-color: inherit;
    color: black;
    height: 40px;
    text-align: center;
    font-size: 12px;
    border: 3px;
    width: 70px;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #ccc;
    border: 8px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    width: 600px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #f1f1f1}

.show {display:block;}
#mailAction{
	width: 548px;
	height: 40px;
	/*margin-left: 125px;*/
	/*background-color: white;*/
	margin-top: 10px;
}
#sendiy{
	float: right;
}
#origin{
	width:548px;
	background-color:#ccc;
	border:none;
	height:30px;
	margin-left:3px;
}
#attachee{
	font-size: 16px;
}
.section{
	width: 800px;
	height: 100px;
	background-color:whitesmoke;
	margin-top: 50px;
}
.proMenu{
	width: 300px;
	height: 50px;
	/*background-color: rgba(246,250,218,1);*/
    background-color: #fcf8e3;
	cursor: pointer;
	font-size: 16px;
	border: 2px solid whitesmoke;
  	text-align: left;
	margin-left: -25%;
    border-radius: 12px;
}
.proMenu:hover{
	color: grey;
	border-color: black;
}
.fa-caret-right{
	float: right;
}
#hto{
	width: 90px;
	margin-right: 10px;
}

#AccntDiv{
	width:800px;
	height: 500px;	
	margin-bottom: 10px;
	background-color: #e6ffff;
	padding-left: 20px;

}
#SecPriDiv{
	width: 800px;
	height:500px;
	margin-bottom: 10px;
	background-color: #e6ffff;

}
#PassDiv{
	width: 800px;
	height: 500px;
	margin-bottom: 10px;
	background-color: #e6ffff;
}
#MobDiv{
	width: 800px;
	height: 500px;
	margin-bottom: 10px;
	background-color: #e6ffff;
}
#EmNotiDiv{
	width: 800px;
	height: 500px;
	margin-bottom: 10px;
	background-color: #e6ffff;

}
#NotiDiv{
	width: 800px;
	height: 500px;
	margin-bottom: 10px;
	background-color: #e6ffff;
}
#WebNotDiv{
	width: 800px;
	height: 500px;
	margin-bottom: 10px;
	background-color: #e6ffff;
}
#AppDiv{
	width: 800px;
	height: 500px;
	margin-bottom: 100px;
	background-color: #e6ffff;
}
#contentt{
	width:800px;
	height:700px;
	
	background-color:whitesmoke;
	float:right;
}

.menuBox{
	width: 100%;
	height: 200px;
	background-color: whitesmoke;
}
.profileContent {
	margin-left: 32%;
	width: 62%;
	height: 60%;
	/*background-color: rgba(246,250,218,1);*/
    background-color: #fcf8e3;
    border-radius: 18px;
}

.active {
	background-color: ghostwhite;
	border: 4px solid rgba(246,250,218,1);
}

.profileHeader {
	padding-top: 21px;
	text-align: center;
	/*text-decoration: underline;*/
	font-family: "Abyssinica SIL";
	font-size: 30px;
}

.form_control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.form_box {
    margin: 20px;
}

.profileBasic {
    padding-top: 21px;
    /*text-decoration: underline;*/
    font-family: "Abyssinica SIL";
    font-size: 25px;
}

.submit_margin {
    margin-top: 15px;
}

.table_margin {
	text-align: center;
	margin-top: 10px;
	margin-left: 15%;
	margin-bottom: 10px;
}

.home_box {
    margin: 10px;
}

.homeBasic {
    padding-top: 21px;
    /*text-decoration: underline;*/
    font-family: "Abyssinica SIL";
    font-size: 25px;
    text-align: center;
}

.home_control {
    display: block;
    width: 90%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.exit {
    font-size: 18px;
    /* margin: -12px; */
    margin-top: -38px;
    margin-right: 5%;
}

.exit_icon {
    margin-left: 10px;
}

.removeHover {
    color: inherit;
}

.background {
    background: url("/images/landing.jpg");
}
