<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>1Identiti</title>
    <link rel='shortcut icon' href='/images/favicon.ico' type='image/x-icon'/>

    <script src="/static/js/pace.js"></script>
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/node_modules/select2/dist/css/select2.min.css"/>
    <link href="/static/css/theme.css" rel="stylesheet">
    <link href="/static/fonts/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/css/animate.css" rel="stylesheet">
    <link href="/static/css/theme-loading-bar.css" rel="stylesheet"/>

    <!-- Gritter -->
    <link href="/static/js/plugins/gritter/jquery.gritter.css" rel="stylesheet">
    <link href="/static/css/animate.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    <link href="/static/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="/static/css/plugins/summernote/summernote.css" rel="stylesheet">
    <link href="/static/css/plugins/summernote/summernote-bs3.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/js/plugins/bootstrap-tagsinput/dist/bootstrap-tagsinput.css"/>
    <link href="/static/css/plugins/toastr/toastr.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/pure-css-loader/dist/css-loader.css">
    <link rel="stylesheet" href="/bower_components/bootstrap-tokenfield/dist/css/bootstrap-tokenfield.min.css"/>
    <link rel="stylesheet" href="/bower_components/dropzone/dist/min/dropzone.min.css"/>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="/static/js/html5shiv.min.js"></script>
    <script src="/static/js/respond.min.js"></script>
    <![endif]-->
</head>

<body ng-app="mainApp" ng-controller="ComposeController" ng-init="init('{{ default_sender }}')">

<div id="wrapper">
    <div ng-show='loading' class="loader loader-default is-active" data-text="Loading..."></div>
    <div id="page-wrapper" class="gray-bg s3-loader">
        <div class="row border-bottom">
            <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <ul class="nav navbar-top-links navbar-left">
                        <li class="dropdown">
                            <a href="/home">
                                <span style="font-size: 20px" class="clear">1Identiti</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <form class="navbar-form-custom" style="width: 250px;" method="get" action="{{ path_for('search') }}">
                    <div class="form-group">
                        {#<select placeholder="Search for a friend or colleague..." class="form-control colleague_search"#}
                        {#name="q" id="q" style="width:100%">#}
                        {#</select>#}
                    </div>
                </form>

                {% if user %}
                    <ul class="nav navbar-top-links navbar-right">
                        {#<li>#}
                            {#<a href="{{ path_for('mailbox') }}">#}
                                {#<i class="fa fa-envelope-o"></i> Mailbox#}
                            {#</a>#}
                        {#</li>#}
                        <li>
                            <a href="{{ path_for('contacts') }}">
                                <i class="fa fa-book"></i> Contacts
                            </a>
                        </li>
                        <li>
                            <a href="/{{ user.phone }}">
                                <i class="fa fa-user-md"></i> Profile
                            </a>
                        </li>

                        <li>
                            <a href="{{ path_for('settings') }}">
                                <i class="fa fa-gear"></i>Settings
                            </a>
                        </li>

                        <li>
                            <a href="{{ path_for('logout') }}">
                                <i class="fa fa-sign-out"></i> Log out
                            </a>
                        </li>
                    </ul>
                {% else %}
                    <div style="zoom: 0.8; margin-top: 30px; margin-right: 30px">
                        <form class="form-inline hidden-xs hidden-sm" action="{{ path_for('login') }}"
                              accept-charset="utf-8" method="post">
                            <div class="form-group">
                                <div class="input-group" style="width: 25.5em;">
                                    <div class="input-group-btn">
                                        <select class="form-control" name="countryCode" id="countryCode"
                                                - style="width: 10em; color: black">
                                            <option ng-repeat="country in data.countries"
                                                    ng-selected="country.name == data.countryCode"
                                                    ng-model="country.code" value="[[country.code]]">[[ country.name
                                                ]] ([[ country.code ]])
                                            </option>
                                        </select>
                                    </div>
                                    <input type="number" name="phone" id="phone" class="form-control"
                                           value="{{ old.phone }}" placeholder="Enter Phone Number"
                                           style="color: black;" required>
                                    <input type="hidden" value="{{ code }}" name="code" id="code">
                                </div>
                                <input style="color: black" type="password" class="form-control" id="password"
                                       name="password" placeholder="Enter password" required>
                                <input type="submit" name="submit" value="Login" class="btn btn-primary">
                            </div>
                        </form>
                    </div>
                {% endif %}
            </nav>
        </div>

        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-lg-2 hidden-sm hidden-xs">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content mailbox-content">
                            <div class="file-manager">
                                <div class="space-25"></div>
                                <h5><strong>Folders</strong></h5>
                                <ul class="folder-list m-b-md" style="padding: 0">
                                    <li><a href="{{ path_for('mailbox') }}"> <i class="fa fa-inbox "></i> Inbox <span
                                                    class="label label-warning pull-right"
                                                    ng-bind="data.message_count"></span> </a></li>
                                    <li><a href="{{ path_for('sent') }}"> <i class="fa fa-envelope-o"></i> Sent</a></li>
                                    <li><a href="{{ path_for('drafts') }}"> <i class="fa fa-file-text-o"></i> Drafts</a>
                                    </li>
                                    <li><a href="{{ path_for('trash') }}"> <i class="fa fa-trash-o"></i> Trash</a></li>
                                    <li><a href="{{ path_for('spam') }}"> <i class="fa fa-trash"></i> Spam</a></li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-10 animated fadeInRight">
                    <div class="mail-box-header">
                        <div class="pull-right tooltip-demo">
                            <button ng-show="data.from && data.subject" ng-click="draft()"
                                    class="btn btn-sm btn-default" title="Draft" type="button"><i
                                        class="fa fa-save"></i> Save Draft
                            </button>
                            <a href="{{ path_for('mailbox') }}" class="btn btn-danger btn-sm" data-toggle="tooltip"
                               data-placement="top" title="Discard email"><i class="fa fa-trash"></i></a>
                        </div>
                        <button class="btn btn-sm btn-primary" title="Send" type="button" id="sendEmailBtn">
                            <i class="fa fa-send-o"></i>
                            Send
                        </button>
                    </div>
                    <div class="mail-box">
                        <div class="mail-body">
                            <form class="form-horizontal dropzone" method="post" enctype="multipart/form-data" action="{{ path_for('compose') }}" id="sendNewEmailMessage">
                                <div style="color: red" ng-bind="error"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">From:</label>
                                    <div class="dropdown col-sm-10">
                                        <select name="from" id="from" class="btn btn-primary dropdown-toggle"
                                                style="width: 100%" ng-model="data.from">
                                            {% for account in email_accounts %}
                                                <option ng-selected="data.from"
                                                        value="{{ account.email }}">{{ account.email }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group"><label class="col-sm-2 control-label">To:</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control tags-input required"
                                               placeholder="Enter emails" ng-model="data.to" name="to[]"
                                               id="to" required>
                                    </div>
                                </div>
                                <div class="form-group"><label class="col-sm-2 control-label">cc:</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control tags-input"
                                               placeholder="Enter emails" ng-model="data.cc" name="cc[]"
                                               id="cc">
                                    </div>
                                </div>
                                <div class="form-group"><label class="col-sm-2 control-label">Bcc:</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control tags-input"
                                               placeholder="Enter emails" ng-model="data.bcc" name="bcc[]"
                                               id="bcc">
                                    </div>
                                </div>
                                <div class="form-group"><label class="col-sm-2 control-label">Subject:</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control required" name="subject"
                                               ng-model="data.subject"
                                               id="subject" required="required"/>
                                        <input type="hidden" class="form-control" name="message" value="[[message]]"
                                               id="message"/>
                                    </div>
                                </div>
                                <div class="mail-text h-200">
                                    <div class="summernote" id="note"></div>
                                    <div class="clearfix"></div>
                                </div>
                            </form>
                            {#<form style="margin-top: 30px;" action="/compose" class="dropzone" id="upload-files" data-ajax-method="POST" data-ajax="true">#}
                                {#<input type="hidden" value="Upload File to Server" id="btnUpload">#}
                            {#</form>#}
                        </div>
                    </div>
                    {#<form class="dropzone" action="/upload" method="post">#}
                        {#<div class="mail-body text-left tooltip-demo">#}
                            {#<div class="form-group">#}
                                {#<div class="col-sm-12" id="attachment_load">#}
                                    {#<div class="dropzone" id="loadAttachments" name="uploads[]">#}
                                    {#</div>#}
                                    {#<button class="btn btn-xs btn-default" type="button" id="addMoreFileBtn"><i#}
                                    {#class="fa fa-paperclip">&nbsp;&nbsp;</i>Attach More#}
                                    {#</button>#}
                                    {#<div class="row pull-left">#}
                                    {#<div style="padding-left: 15px;" class="fallback">#}
                                    {#<input type="file" name="uploads[]" id="myFiles" multiple/>#}
                                    {#</div>#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                        {#<div class="clearfix"></div>#}
                    {#</form>#}
                </div>
            </div>
        </div>
        <div class="footer">
            <div>
                <strong>Copyright</strong> TM30 &copy; {{ year }}
            </div>
        </div>
    </div>
</div>

<div class="modal inmodal fade" id="smsModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                            class="sr-only">Close</span></button>
                <h4 class="modal-title">Send Message</h4>
                <small class="font-bold">Send a simple easy message to a number of your choice.</small>
            </div>
            <div class="modal-body">
                <form method="post" action="{{ path_for('sms') }}">
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">Recipient:</label>
                        <input type="number" class="form-control" id="phone" name="phone" required>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="control-label">Message:</label>
                        <textarea class="form-control" id="message" name="message" required></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- YAHOO Modal -->
<div class="modal inmodal fade" id="yahooModal" tabindex="-2" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                            class="sr-only">Close</span></button>
                <h4 class="modal-title">Connect Your Email Account</h4>
                <small class="font-bold">synchronize your email account.</small>
            </div>
            <div class="modal-body">
                <form class="form-inline" method="post" action="{{ path_for('yahoo') }}">
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">Email:</label>&nbsp;
                        <div class="input-group">
                            <input type="text" class="form-control" id="email" name="email"
                                   placeholder="Enter Email Address" required>
                            <div class="input-group-addon">@yahoo.com</div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal inmodal fade" id="emailModal" tabindex="-2" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                            class="sr-only">Close</span></button>
                <h4 class="modal-title">Connect Your Email Account</h4>
                <small class="font-bold">synchronize your email account.</small>
            </div>
            <div class="modal-body">
                <form method="post" action="{{ path_for('email') }}">
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">Email:</label>
                        <input type="email" class="form-control" id="email" name="email"
                               style="width: 100%; text-align: justify" required>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="add_more_files_div" style="display: none;" class="row">
    <input type="file" name="uploads[]" id="myfiles" multiple/>
</div>

<!-- Mainly scripts -->
<script src="/static/js/jquery-2.1.1.js"></script>
<script src="/static/js/jquery.form.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="/static/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

<!-- Custom and plugin javascript -->
<script src="/static/js/inspinia.js"></script>
{#<script src="/static/js/plugins/pace/pace.min.js"></script>#}

<!-- iCheck -->
<script src="/static/js/plugins/iCheck/icheck.min.js"></script>

<!-- SUMMERNOTE -->
{#<script src="static/js/plugins/summernote/summernote.min.js"></script>#}
<script src="/static/js/plugins/iCheck/icheck.min.js"></script>
<script src="/static/js/plugins/summernote/summernote.min.js"></script>
<script src="/node_modules/bootstrap-timepicker/js/bootstrap-timepicker.min.js"></script>
<script src="/node_modules/select2/dist/js/select2.full.min.js"></script>
<script src="/static/js/plugins/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js"></script>
{#<script src="/static/js/plugins/typeahead/typeahead.bundle.js"></script>#}
<script src="/static/js/angular.min.js"></script>
<script src="/static/js/moment.min.js"></script>
<script src="/static/js/angular-moment.min.js"></script>
<script src="/node_modules/checklist-model/checklist-model.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.6.1/angular-sanitize.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.16.0/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
<script src="/static/js/plugins/toastr/toastr.min.js"></script>
<script src="/bower_components/typeahead.js/dist/typeahead.jquery.min.js"></script>
<script src="/bower_components/typeahead.js/dist/typeahead.bundle.min.js"></script>
<script src="/bower_components/typeahead.js/dist/bloodhound.min.js"></script>
<script src="/bower_components/bootstrap-tokenfield/dist/bootstrap-tokenfield.min.js"></script>
<script src="/bower_components/dropzone/dist/min/dropzone.min.js"></script>
<script src="/static/js/app.js"></script>
<script>
    $(document).ready(function () {

        $('.i-checks').iCheck({
        checkboxClass: 'icheckbox_square-green',
        radioClass: 'iradio_square-green'
        });

        $('.summernote').summernote().code('{{ preference.signature }}');
        console.log('{{ preference.signature }}')

        Dropzone.autoDiscover = false;
        var myDropzone = new Dropzone('#sendNewEmailMessage', {
            paramName: "files",
            maxFilesize: 25.0,
            maxFiles: 1000,
            parallelUploads: 10000,
            uploadMultiple: true,
            autoProcessQueue: false,
            addRemoveLinks: true,
            acceptedFiles:"audio/*,image/*,.psd,.pdf,.docx,.xls,.xlsx,video/*",

            init: function () {
                document.getElementById("sendEmailBtn").addEventListener("click", function(e) {
                    console.log("Hello World!!!");
                    // Make sure that the form isn't actually being sent.
                    e.preventDefault();
                    e.stopPropagation();
//                    angular.element("#message").scope().$apply(function () {
//                        angular.element("#message").scope().loading = true;
//                    });
                    document.getElementById('message').value = $('.summernote').code();
                    var form = $("#sendNewEmailMessage");
//                    form.validate({
//                        rules: {
//                            // The key name on the left side is the name attribute
//                            // of an input field. Validation rules are defined
//                            // on the right side
//                            subject: "required",
//                            from: {
//                                required: true,
//                                // Specify that email should be validated
//                                // by the built-in "email" rule
//                                email: true
//                            },
//                            to: {
//                                required: true,
//                                minlength: 5
//                            }
//                        },
//                        messages: {
//                            subject: "Please enter email subject",
//                            from: "Please enter a valid email address",
//                            to: "Please enter a valid email address"
//                        },
//                        // Make sure the form is submitted to the destination defined
//                        // in the "action" attribute of the form when valid
//                        submitHandler: function(frm) {
//                            console.log(frm.valid());
////                            frm.submit();
//                        }
//                    });
                    if (form.valid() == true) {
                        displayToast(0, 'Sending','info');
                        if (myDropzone.getQueuedFiles().length > 0) {
                            myDropzone.processQueue();
                        } else {
                            form.submit();
                        }
                    }
                });
            }
        });

        myDropzone.on("complete", function (file) {
            toastr.clear();
            if (this.getUploadingFiles().length === 0 && this.getQueuedFiles().length === 0) {
                displayToast(0, 'Message Sent','success');
                location.href = '/mailbox'
            }
            else {
                displayToast(1000, 'Message Not Sent.','error');
            }
        });

        $(".tags-input").tokenfield({
//            typeahead:[null,{displayKey:'value',source:engine.ttAdapter()}]
//            typeahead:{
//                source: function(typeahead,query){
//                    console.log(query);
//                    $.ajax({
//                        url: '/api/v1/users/contact/platform',
//                        type:'GET',
//                        data:'query'+query,
//                        dataType:'JSON',
//                        async:false,
//                        success:function(data){
//                            typeahead.process(data);
//                            console.log(data);
//                        }
//                    });
//                }
//            }
        });

        $('.tags-input').on('tokenfield:createtoken', function (event) {
            var existingTokens = $(this).tokenfield('getTokens');
            $.each(existingTokens, function (index, token) {
                if (token.value === event.attrs.value) {
                    displayToast(1000, "You have typed this email address before", 'error', false);
                    event.preventDefault();
                }
            });
        });

//        $("#sendEmailBtn").click(function () {
//            displayToast(1000, 'Sending','info');
//            angular.element("#message").scope().$apply(function () {
//                angular.element("#message").scope().loading = true;
//            });
//            document.getElementById('message').value = $('.summernote').code();
//            //$("#sendNewEmailMessage").submit();
//        });

//        Dropzone.options.loadAttachments = {
//            paramName: 'uploads[]',
//            autoProcessQueue: false,
//            uploadMultiple: true,
//            parallelUploads: 1000,
//            maxFiles: 1000,
//            maxFilesize: 25,
//
////            init: function () {
////                dzClosure = this; // Makes sure that 'this' is understood inside the functions below.
//////                this.hiddenFileInput.setAttribute("name", "field_name[]");
////
//////                // for Dropzone to process the queue (instead of default form behavior):
//////                document.getElementById("sendEmailBtn").addEventListener("click", function(e) {
//////                    //console.log("Hello World!!!");
//////                    // Make sure that the form isn't actually being sent.
//////                  //  e.preventDefault();
//////                    e.stopPropagation();
//////                    dzClosure.processQueue();
//////                });
////
////                $(document).on('click', '#sendEmailBtn', function (e) {
////                    alert("Hello World!!");
////                    e.preventDefault();
////                    e.stopPropagation();
////                    dzClosure.processQueue();
////                });
////
////
////                //send all the form data along with the files:
////                this.on("sendingmultiple", function (data, xhr, formData) {
////                    console.log(data);
////                    formData.append("to", jQuery("#to").val());
////                    formData.append("bcc", jQuery("#bcc").val());
////                });
////            }
//        };
    });

    var clean = function () {
        angular.element("#message").scope().message = $('.summernote').code();
    };

//        $(".colleague_search").select2({
//            ajax: {
//                url: '/api/v1/users/contact/platform',
//                dataType: 'json',
//                delay: 200,
//                data: function (params) {
//                    return {
//                        q: params.term,
//                        page: params.page
//                    }
//                },
//                processResults: function (data) {
//                    return {
//                        results: $.map(data.message, function (obj) {
//                            return {
//                                id: JSON.stringify([obj.id, obj.phone]),
//                                text: obj.first_name + " " + obj.last_name
//                            };
//                        })
//                    };
//                },
//                cache: true
//            },
//            escapeMarkup: function (markup) {
//                return markup
//            },
//            minimumInputLength: 1,
//            placeholder: 'Select Contact To Add',
//            allowClear: true
//        });
//
//        $(".colleague_search").on('select2:select', function (e) {
//            var value_arr = $(this).val();
//            var value = JSON.parse(value_arr);
//            window.location = "/" + value[1];
//        });


        {#$('.i-checks').iCheck({#}
            {#checkboxClass: 'icheckbox_square-green',#}
            {#radioClass: 'iradio_square-green'#}
        {#});#}

        {#//        $(".tags-input").select2();#}

        {#$('.i-checks').iCheck({#}
            {#checkboxClass: 'icheckbox_square-green',#}
            {#radioClass: 'iradio_square-green'#}
        {#});#}

        {#$('.summernote').summernote().code('{{ preference.signature }}');#}

        {#var engine = new Bloodhound({#}
            {#datumTokenizer: function (datum) {#}
                {#return Bloodhound.tokenizers.whitespace(datum.value);#}
            {#},#}
            {#queryTokenizer: Bloodhound.tokenizers.whitespace,#}
{#//            local:['dog','poig','Goat']#}
            {#remote: {#}
                {#url: '/api/v1/users/contact/platform',#}
                {#filter: function (_data) {#}
                    {#console.log(_data.message);#}
                    {#var dataRet = JSON.parse(_data);#}
                    {#return $.map(dataRet.message, function (data) {#}
                        {#console.log(data);#}
                        {#return {#}
                            {#value: data.first_name + " " + data.last_name#}
                        {#};#}
                    {#});#}
                {#},#}
                {#processdata: function (data) {#}
                    {#console.log(data);#}
                {#},#}
                {#success: function (data) {#}
                    {#console.log(data);#}
                {#}#}
            {#}#}
        {#});#}

        {#engine.initialize();#}

//    });
</script>

</body>

</html>
