<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>1Identiti</title>
    <link rel='shortcut icon' href='/images/favicon.ico' type='image/x-icon' />
    <script src="/static/js/pace.js"></script>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/theme.css" rel="stylesheet">
    <link href="/static/fonts/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">
    {#<link href='/static/css/roboto.css' rel='stylesheet' type='text/css'>#}
    <link href="/static/css/theme-loading-bar.css" rel="stylesheet"/>
    <link href="/static/css/plugins/toastr/toastr.min.css" rel="stylesheet">
    <!-- Gritter -->
    <link href="/static/js/plugins/gritter/jquery.gritter.css" rel="stylesheet">
    <link href="/static/css/animate.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    <link href="/static/css/plugins/summernote/summernote.css" rel="stylesheet">
    <link href="/static/css/plugins/summernote/summernote-bs3.css" rel="stylesheet">

    <link href="/static/css/plugins/fullcalendar/fullcalendar.print.css" rel='stylesheet' media='print'>
    <link href="/static/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="/static/css/plugins/chosen/chosen.css" rel="stylesheet">
    <link href="/static/css/plugins/colorpicker/bootstrap-colorpicker.min.css" rel="stylesheet">
    <link href="/static/css/plugins/cropper/cropper.min.css" rel="stylesheet">
    <link href="/static/css/plugins/switchery/switchery.css" rel="stylesheet">
    <link href="/static/css/plugins/jasny/jasny-bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/plugins/nouslider/jquery.nouislider.css" rel="stylesheet">
    <link href="/static/css/plugins/datapicker/datepicker3.css" rel="stylesheet">
    <link href="/static/css/plugins/ionRangeSlider/ion.rangeSlider.css" rel="stylesheet">
    <link href="/static/css/plugins/ionRangeSlider/ion.rangeSlider.skinFlat.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/pure-css-loader/dist/css-loader.css">

</head>

<body ng-app="mainApp">

<div ng-controller="MessageController" id="wrapper" ng-init="init('{{ from }}', '{{ to }}', '{{ cc }}', '{{ reply_to }}', '{{ subject }}', {{ body }}, '{{ message_num }}', '{{ folder }}', '{{ date }}')">
    <div id="page-wrapper" class="gray-bg s3-loader">
        <div ng-show='loading' class="loader loader-default is-active" data-text="Retrieving message"></div>
        <div class="row border-bottom">
            <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <ul class="nav navbar-top-links navbar-left">
                        <li class="dropdown">
                            <a href="/home" >
                                <span style="font-size: 20px" class="clear">1Identiti</span>
                            </a>
                        </li>
                    </ul>
                </div>
                {#<form class="navbar-form-custom" style="width: 250px;" method="get" action="{{ path_for('search') }}">#}
                    {#<div class="form-group">#}
                        {#<input type="text" placeholder="Search for a friend or colleague..." class="form-control"#}
                               {#name="q" id="q">#}
                    {#</div>#}
                {#</form>#}
                {#<form class="navbar-form-custom" style="width: 300px; margin-top: 18px" method="get" action="{{ path_for('search') }}">#}
                    {#<div class="form-group">#}
                        {#<select class="form-control colleague_search"#}
                                {#name="q" id="q" style="width:100%">#}
                        {#</select>#}
                    {#</div>#}
                {#</form>#}
                <ul class="nav navbar-top-links navbar-right visible-xs visible-sm">
                    <li>
                        <a href="{{ path_for('mailbox') }}">
                            <i class="fa fa-envelope-o"></i>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path_for('contacts') }}">
                            <i class="fa fa-book"></i>
                        </a>
                    </li>
                    <li>
                        <a href="/{{ user.phone }}">
                            <i class="fa fa-user-md"></i>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path_for('logout') }}">
                            <i class="fa fa-sign-out"></i>
                        </a>
                    </li>
                </ul>
                <ul class="nav navbar-top-links navbar-right hidden-sm hidden-xs">
                    {#<li>#}
                        {#<a href="{{ path_for('mailbox') }}">#}
                            {#<i class="fa fa-envelope-o"></i>Inbox#}
                        {#</a>#}
                    {#</li>#}
                    <li>
                        <a href="{{ path_for('contacts') }}">
                            <i class="fa fa-book"></i>Contacts
                        </a>
                    </li>
                    <li>
                        <a href="/{{ user.phone }}">
                            <i class="fa fa-user-md"></i>Profile
                        </a>
                    </li>
                    <li>
                        <a href="/settings">
                            <i class="fa fa-gear"></i>Settings
                        </a>
                    </li>
                    <li>
                        <a href="{{ path_for('logout') }}">
                            <i class="fa fa-sign-out"></i>Logout
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-lg-2" style="background-color: #fff; height: 300px; margin-left: 15px;">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content mailbox-content">
                            <div class="file-manager">
                                <a class="btn btn-block btn-primary compose-mail" style="margin-top: 20px" href="{{ path_for('compose') }}"><i class="fa fa-pencil" style="margin-right:10px"></i> Compose</a>
                                <div class="space-25"></div>
                                <h5>Mailbox</h5>
                                <ul class="folder-list m-b-md" style="padding: 0">
                                    <li><a href="{{ path_for('mailbox') }}"><i class="fa fa-inbox"></i> Inbox <span
                                                    class="label label-warning pull-right" ng-bind="data.message_count"></span> </a></li>
                                    <li><a href="{{ path_for('sent') }}"> <i class="fa fa-envelope-o"></i> Sent</a></li>
                                    <li><a href="{{ path_for('drafts') }}"> <i class="fa fa-file-text-o"></i> Drafts</a></li>
                                    <li><a href="{{ path_for('trash') }}"> <i class="fa fa-trash-o"></i> Trash</a></li>
                                    <li><a href="{{ path_for('spam') }}"> <i class="fa fa-trash"></i> Spam</a></li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 animated fadeInRight" style="margin-left: 30px">
                    <div class="mail-box-header">
                        <div class="pull-right">
                            <a ng-show="message.folder !== 'Trash'" href="#reply_mail" class="btn btn-white btn-sm" title="Reply"><i class="fa fa-reply"></i> Reply</a>
                            {#<a href="#" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top"#}
                               {#title="Print email"><i class="fa fa-print"></i> </a>#}
                            <a ng-hide="trash.clicked" ng-click="trashMessage(message.number, message.folder)" class="btn btn-danger btn-sm" data-toggle="tooltip"
                               data-placement="top" title="Move to trash"><i class="fa fa-trash-o"></i> </a>
                        </div>
                        <h2>
                            <span class="font-noraml"><strong ng-bind="message.subject"></strong></span>
                        </h2>
                        <div class="mail-tools tooltip-demo m-t-md">
                            <h5>
                                <span class="pull-right font-noraml" am-time-ago="message.date"></span><br>
                                <span class="font-noraml" style="margin-bottom: 5px" ng-cloak><strong>From: </strong>[[message.from]]</span><br><br>
                                <span class="font-noraml" style="margin-bottom: 5px" ng-show="message.to" ng-cloak><strong>To: </strong>[[message.to]]</span><br><br>
                                <span class="font-noraml" style="margin-bottom: 5px" ng-show="message.cc" ng-cloak><strong>Cc: </strong>[[message.cc]]</span><br><br>
                                <span class="font-noraml" style="margin-bottom: 5px" ng-show="message.reply_to" ng-cloak><strong>Reply-To: </strong>[[message.reply_to]]</span>
                            </h5>
                        </div>
                    </div>
                    <div class="mail-box">

                        <div class="mail-body">
                            <ng-bind-html ng-bind-html="message.body"></ng-bind-html>
                            {#<p>{{ body }}</p>#}
                        </div>
                        {#<div class="mail-attachment">#}
                            {#<p>#}
                                {#<span><i class="fa fa-paperclip"></i> 2 attachments - </span>#}
                                {#<a href="#">Download all</a>#}
                                {#|#}
                                {#<a href="#">View all images</a>#}
                            {#</p>#}

                            {#<div class="attachment">#}
                                {#<div class="file-box">#}
                                    {#<div class="file">#}
                                        {#<a href="#">#}
                                            {#<span class="corner"></span>#}

                                            {#<div class="icon">#}
                                                {#<i class="fa fa-file"></i>#}
                                            {#</div>#}
                                            {#<div class="file-name">#}
                                                {#Document_2014.doc#}
                                                {#<br/>#}
                                                {#<small>Added: Jan 11, 2014</small>#}
                                            {#</div>#}
                                        {#</a>#}
                                    {#</div>#}

                                {#</div>#}
                                {#<div class="file-box">#}
                                    {#<div class="file">#}
                                        {#<a href="#">#}
                                            {#<span class="corner"></span>#}

                                            {#<div class="image">#}
                                                {#<img alt="image" class="img-responsive" src="img/p1.jpg">#}
                                            {#</div>#}
                                            {#<div class="file-name">#}
                                                {#Italy street.jpg#}
                                                {#<br/>#}
                                                {#<small>Added: Jan 6, 2014</small>#}
                                            {#</div>#}
                                        {#</a>#}

                                    {#</div>#}
                                {#</div>#}
                                {#<div class="file-box">#}
                                    {#<div class="file">#}
                                        {#<a href="#">#}
                                            {#<span class="corner"></span>#}

                                            {#<div class="image">#}
                                                {#<img alt="image" class="img-responsive" src="img/p2.jpg">#}
                                            {#</div>#}
                                            {#<div class="file-name">#}
                                                {#My feel.png#}
                                                {#<br/>#}
                                                {#<small>Added: Jan 7, 2014</small>#}
                                            {#</div>#}
                                        {#</a>#}
                                    {#</div>#}
                                {#</div>#}
                                {#<div class="clearfix"></div>#}
                            {#</div>#}
                        {#</div>#}
                        {#<div class="mail-body text-right tooltip-demo">#}
                            {#<a class="btn btn-sm btn-white" href="{{ path_for('compose') }}"><i class="fa fa-reply"></i>#}
                                {#Reply</a>#}
                            {#<a class="btn btn-sm btn-white" href="{{ path_for('forward') }}"><i class="fa fa-arrow-right"></i>#}
                            {#Forward</a>#}
                            {#<button title="" data-placement="top" data-toggle="tooltip" type="button"#}
                                    {#data-original-title="Print" class="btn btn-sm btn-white"><i class="fa fa-print"></i>#}
                                {#Print#}
                            {#</button>#}
                            {#<button title="" data-placement="top" data-toggle="tooltip" data-original-title="Trash"#}
                                    {#class="btn btn-sm btn-danger"><i class="fa fa-trash-o"></i> Remove#}
                            {#</button>#}
                        {#</div>#}
                        <div class="clearfix"></div>
                    </div>
                    {#<section id="reply_mail" ng-show="message.folder !== 'Trash'">#}
                        {#<div class="mail-text h-200">#}
                            {#<div class="summernote" id="note"></div>#}
                            {#<div class="clearfix"></div>#}
                        {#</div>#}
                        {#<div style="background-color: transparent; margin-top: 10px">#}
                            {#<button ng-click="draft('{{ user.email }}')"#}
                                    {#class="btn btn-sm btn-default pull-left" title="Draft" type="button"><i#}
                                        {#class="fa fa-save"></i> Save Draft#}
                            {#</button>#}
                            {#<button class="btn btn-sm btn-primary pull-right" title="Send" type="button" ng-click="send('{{ user.email }}')">#}
                                {#<i class="fa fa-send-o"></i>#}
                                {#Send#}
                            {#</button>#}
                        {#</div>#}
                    {#</section>#}
                </div>
            </div>
        </div>
        <div class="footer">
            <div>
                <strong>Copyright</strong> TM30 &copy; {{ year }}
            </div>
        </div>
    </div>

</div>

<div class="modal inmodal fade" id="smsModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                            class="sr-only">Close</span></button>
                <h4 class="modal-title">Send SMS</h4>
                <small class="font-bold">Send a simple easy sms to a number of your choice.</small>
            </div>
            <div class="modal-body">
                <form method="post" action="{{ path_for('sms') }}">
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">Recipient:</label>
                        <input type="number" class="form-control" id="phone" name="phone" required>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="control-label">Message:</label>
                        <textarea class="form-control" id="message" name="message" required></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal inmodal fade" id="yahooModal" tabindex="-2" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                            class="sr-only">Close</span></button>
                <h4 class="modal-title">Connect Your Email Account</h4>
                <small class="font-bold">synchronize your email account.</small>
            </div>
            <div class="modal-body">
                <form class="form-inline" method="post" action="{{ path_for('yahoo') }}">
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">Email:</label>&nbsp;
                        <div class="input-group">
                            <input type="text" class="form-control" id="email" name="email"
                                   placeholder="Enter Email Address" required>
                            <div class="input-group-addon">@yahoo.com</div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- YAHOO Modal -->
<div class="modal inmodal fade" id="emailModal" tabindex="-2" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                            class="sr-only">Close</span></button>
                <h4 class="modal-title">Connect Your Email Account</h4>
                <small class="font-bold">synchronize your email account.</small>
            </div>
            <div class="modal-body">
                <form method="post" action="{{ path_for('email') }}">
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">Email:</label>
                        <input type="email" class="form-control" id="email" name="email"
                               style="width: 100%; text-align: justify" required>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="/static/js/jquery-2.1.1.js"></script>
<script src="/static/js/bootstrap.min.js"></script>

<!-- Custom and plugin javascript -->
<script src="/static/js/inspinia.js"></script>
<script src="/static/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

<!-- Chosen -->
<script src="/static/js/plugins/chosen/chosen.jquery.js"></script>
<!-- JSKnob -->
<script src="/static/js/plugins/jsKnob/jquery.knob.js"></script>
<!-- Input Mask-->
<script src="/static/js/plugins/jasny/jasny-bootstrap.min.js"></script>
<!-- Data picker -->
<script src="/static/js/plugins/datapicker/bootstrap-datepicker.js"></script>
<!-- NouSlider -->
<script src="/static/js/plugins/nouslider/jquery.nouislider.min.js"></script>
<!-- Switchery -->
<script src="/static/js/plugins/switchery/switchery.js"></script>
<!-- IonRangeSlider -->
<script src="/static/js/plugins/ionRangeSlider/ion.rangeSlider.min.js"></script>
<!-- iCheck -->
<script src="/static/js/plugins/iCheck/icheck.min.js"></script>
<!-- MENU -->
<script src="/static/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<!-- Color picker -->
<script src="/static/js/plugins/colorpicker/bootstrap-colorpicker.min.js"></script>
<!-- Image cropper -->
<script src="/static/js/plugins/cropper/cropper.min.js"></script>
<script src="/static/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="/static/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

<!-- Flot -->
<script src="/static/js/plugins/flot/jquery.flot.js"></script>
<script src="/static/js/plugins/flot/jquery.flot.tooltip.min.js"></script>
<script src="/static/js/plugins/flot/jquery.flot.spline.js"></script>
<script src="/static/js/plugins/flot/jquery.flot.resize.js"></script>
<script src="/static/js/plugins/flot/jquery.flot.pie.js"></script>

<!-- Peity -->
<script src="/static/js/plugins/peity/jquery.peity.min.js"></script>
<script src="/static/js/demo/peity-demo.js"></script>
<!-- jQuery UI -->
{#<script src="/static/js/plugins/jquery-ui/jquery-ui.min.js"></script>#}
<!-- GITTER -->
<script src="/static/js/plugins/gritter/jquery.gritter.min.js"></script>
<!-- Sparkline -->
<script src="/static/js/plugins/sparkline/jquery.sparkline.min.js"></script>
<!-- Sparkline demo data  -->
<script src="/static/js/demo/sparkline-demo.js"></script>
<!-- ChartJS-->
<script src="/static/js/plugins/chartJs/Chart.min.js"></script>
<!-- Toastr -->
<script src="/static/js/plugins/toastr/toastr.min.js"></script>
<script src="/static/js/angular.min.js"></script>
<script src="/static/js/moment.min.js"></script>
<script src="/static/js/angular-moment.min.js"></script>
<script src="/node_modules/checklist-model/checklist-model.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.6.1/angular-sanitize.min.js"></script>
<script src="/static/js/app.js"></script>
<script src="/static/js/plugins/iCheck/icheck.min.js"></script>
<script src="/bower_components/bootstrap-tokenfield/dist/bootstrap-tokenfield.min.js"></script>
<script src="/static/js/plugins/summernote/summernote.min.js"></script>
<script>
    $(document).ready(function () {
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green'
        });


        $('.summernote').summernote().code('{{ preference.signature }}');

        $(".tags-input").tokenfield({
//            typeahead:[null,{displayKey:'value',source:engine.ttAdapter()}]
//            typeahead:{
//                source: function(typeahead,query){
//                    console.log(query);
//                    $.ajax({
//                        url: '/api/v1/users/contact/platform',
//                        type:'GET',
//                        data:'query'+query,
//                        dataType:'JSON',
//                        async:false,
//                        success:function(data){
//                            typeahead.process(data);
//                            console.log(data);
//                        }
//                    });
//                }
//            }
        });

        $('.tags-input').on('tokenfield:createtoken', function (event) {
            var existingTokens = $(this).tokenfield('getTokens');
            $.each(existingTokens, function (index, token) {
                if (token.value === event.attrs.value) {
                    displayToast(1000, "You have typed this email address before", 'error', false);
                    event.preventDefault();
                }
            });
        });

    });
</script>
</body>
</html>

