{% extends 'templates/partials/base.twig' %}

{% block content %}

    <input type="hidden" name="get_my_info" id="get_my_info" value=""/>
    <div ng-controller="ContactController" ng-init="init()">
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-9">
                <h2>Groups</h2>
                <ol class="breadcrumb">
                    <li>
                        <a href="{{ path_for('index') }}">Home</a>
                    </li>
                    <li class="active">
                        <strong>Groups</strong>
                    </li>
                </ol>
            </div>
        </div>

        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-2 hidden-sm hidden-xs" style="background-color: #fff; min-height: 260px; margin-left: 15px;">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content mailbox-content">
                            <div class="file-manager">
                                <h5><strong>Mailbox</strong></h5>
                                <ul class="folder-list m-b-md" style="padding: 0">
                                    <li><a href="{{ path_for('mailbox') }}"> <i class="fa fa-inbox "></i> Inbox <span
                                                    class="label label-warning pull-right"
                                                    ng-bind="data.message_count"></span> </a></li>
                                    <li><a href="{{ path_for('sent') }}"> <i class="fa fa-envelope-o"></i> Sent</a></li>
                                    <li><a href="{{ path_for('drafts') }}"> <i class="fa fa-file-text-o"></i> Drafts</a>
                                    </li>
                                    <li><a href="{{ path_for('trash') }}"> <i class="fa fa-trash-o"></i> Trash</a></li>
                                    <li><a href="{{ path_for('spam') }}"> <i class="fa fa-trash"></i> Spam</a></li>
                                </ul>
                                <h5 style="margin-top: 20px;"><a href="{{ path_for('view_groups') }}"><strong>Groups</strong></a></h5>
                                <ul class="category-list" style="padding: 0; zoom:0.8">
                                    <li style="background-color: rgba(26, 181, 174, 0.45); padding-left: 10px; width: 140px; border: 3px solid rgba(0, 0, 0, .075); border-radius: 10px; margin-bottom: 5px">
                                        <a href="#" data-toggle="modal" data-target="#createNewGroupModal">
                                            <i class="fa fa-users"></i>Create Group
                                        </a>
                                    </li>

                                    <li style="background-color: white; padding-left: 10px; width: 160px; border: 3px solid rgba(0, 0, 0, .075); border-radius: 10px; margin-bottom: 5px">
                                        <a href="#" data-toggle="modal" data-target="#addContactToGroupDiv">
                                            <span><i class="fa fa-user-plus"></i></span>Categorize Contact
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                {% if groups|length > 0 %}

                    <div class="col-lg-9" style="margin-left: 30px">
                        <ol class="folder-list m-b-md">
                            {% for grp in groups %}
                                <li><strong>{{ grp.group_name }}</strong></li>
                            {% endfor %}
                        </ol>
                    </div>
                {% else %}
                    <div class="col-lg-9 no-contact" style="min-height: 300px; background-color: white; margin-left: 30px">
                        <h3 style="text-align: center; color: #707071; margin-top: 60px">
                            <i class="fa fa-ban" aria-hidden="true" style="font-size: 60px"></i><br><br>
                            No groups in your Address Book
                        </h3>
                    </div>
                {% endif %}
            </div>
        </div>

        <!-- NEW GROUP MODAL -->

        <div class="modal inmodal fade" id="createNewGroupModal" tabindex="-2" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true"></span>
                            <i class="fa fa-close"></i>
                        </button>
                        <h4>Create New Contact Groups</h4>
                        <small class="font-bold">
                            Create a group to manage your contacts
                        </small>
                    </div>

                    <div class="modal-body">
                        <div>
                            <form id="newContactGroupForm" method="post" action="{{ path_for('groups') }}">

                                <div class="form-group">
                                    <label for="group_name" class="control-label">Group Name:</label>
                                    <input type="text" class="form-control" id="group_name" name="group_name"
                                           required="required">
                                </div>

                                <div align="center">
                                    <button type="button" class="btn btn-info" id="createNewGroupBtn">
                                        Create Group
                                    </button>
                                </div>

                            </form>
                        </div>

                        <div id="addUsersToGroup" style="display:none">

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- NEW GROUP MODAL ENDS -->

        <!-- NEW CONTACT MODAL -->

        <div class="modal inmodal fade" id="createNewContactModal" tabindex="-2" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true"></span>
                            <i class="fa fa-close"></i>
                        </button>
                        <h4>Create New Contact</h4>
                        <small class="font-bold">
                            Add a contact to your address book
                        </small>
                    </div>

                    <div class="modal-body">
                        <form id="createNewContactForm" method="post" action="{{ path_for('contact') }}">
                            <div class="form-group">
                                <label for="contact_group_name" class="control-label">Select Group</label>
                                <a href="#" onclick="$('#createNewContactModal').modal('hide')" data-toggle="modal" data-target="#createNewGroupModal" class="pull-right">Create Group</a>
                                <select id="contact_group_name" name="contact_group"
                                        class="form-control group_list required">
                                    <option value="">Select Group</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="contact_first_name" class="control-label">First Name:</label>
                                <input type="text" class="form-control" id="contact_first_name"
                                       name="contact_first_name" required="required">
                            </div>

                            <div class="form-group">
                                <label for="contact_last_name" class="control-label">Other Names:</label>
                                <input type="text" class="form-control" id="contact_last_name" name="contact_last_name"
                                       required="required">
                            </div>

                            <div class="form-group">
                                <label for="contact_email" class="control-label">Email:</label>
                                <input type="email" class="form-control" id="contact_email" name="contact_email"
                                       required="required">
                            </div>

                            <div class="form-group">
                                <label for="contact_phone" class="control-label">Phone:</label>
                                <input type="tel" class="form-control" id="contact_phone" name="contact_phone"
                                       required="required">
                            </div>

                            <div align="center">
                                <button type="button" class="btn btn-info" id="createContactBtn">
                                    Create Contact
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- NEW CONTACT MODAL ENDS -->

        <!-- UPLOAD CONTACTS FROM EXCEL -->

        <div class="modal inmodal fade" id="uploadContactExcelModal" tabindex="-3" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span
                                    aria-hidden="true">&times;</span><span
                                    class="sr-only">Close</span>
                        </button>
                        <h4 class="modal-title">Upload Contacts</h4>
                        <small class="font-bold">Upload Contacts to your address book from a spreadsheet.</small>
                        <h4>Download Format <a href="/static/contact_format.xls">here</a></h4>
                    </div>

                    <div class="modal-body">
                        <form id="uploadContactForm" method="post" action="{{ path_for('uploadContact') }}">
                            <div class="row">
                                <label class="col-md-3"></label>
                                <input type="file" name="upload_contact_file"/>
                            </div>

                            <div align="center" style="padding-top:20px;">
                                <button type="button" id="uploadContactBtn" class="btn btn-info">Upload Contact</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- END OF UPLOADING CONTACTS FROM EXCEL SHEET -->

        <!-- SMS MODAL -->
        <div class="modal inmodal fade" id="inviteModal" tabindex="-2" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span
                                    aria-hidden="true">&times;</span><span
                                    class="sr-only">Close</span>
                        </button>
                        <h4 class="modal-title">Send Invite</h4>
                        <small class="font-bold">Send a simple easy sms to a number of your choice.</small>
                    </div>
                    <div class="modal-body">
                        <form method="post" action="{{ path_for('sms') }}">
                            <div class="form-group">
                                <label for="recipient-name" class="control-label">Recipient:</label>
                                <input type="email" class="form-control" id="to" name="to" required disabled>
                            </div>
                            <div class="form-group">
                                <label for="message-text" class="control-label">Message:</label>
                                <textarea class="form-control" id="message" name="message" rows="8" required disabled>Hi,{{ user.phone }} just invited you to join 1Identity, a website where you can manage all your online identities easily and connect with all your friends using only your mobile phone! To accept the invitation, please click the link: {{ link }}
                                </textarea>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Send</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- SMS MODAL ENDS-->

        <!-- ADD CONTACT TO GROUP STARTS-->

        <div class="modal inmodal fade" id="addContactToGroupDiv" tabindex="-5" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span
                                    aria-hidden="true">&times;</span><span
                                    class="sr-only">Close</span></button>
                        <h4 class="modal-title">Categorize Contacts</h4>
                        <small class="font-bold">Order your contacts to group.</small>
                    </div>

                    <div class="modal-body">
                        <form id="addContactToGroupForm" method="post" action="{{ path_for("keepContactGroups") }}">
                            <div class="form-group">
                                <label for="add_group_name" class="control-label">Select Group</label>
                                <select id="add_group_name" name="add_group_name"
                                        class="form-control group_list required">
                                    <option value="">Select Group</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="add-group_contacts" class="control-label">Type Contact Names</label>
                                {#<input type="text" class="form-control input-lg contact_list" name="add_contact_list" style="width:100%" required />#}
                                <select name="add_contact_list[]" class="form-control contact_list" style="width:100%"
                                        required="required" multiple="multiple">

                                </select>
                            </div>

                            <div align="center">
                                <button type="button" class="btn btn-info" id="addContactToGroupBtn">
                                    Add To Group
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- ADD CONTACT TO GROUP ENDS-->

        <!-- COMPOSE MODAL-->
        <div class="modal inmodal fade" id="composeModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span
                                    aria-hidden="true">&times;</span><span
                                    class="sr-only">Close</span></button>
                        <h4 class="modal-title">Compose Email</h4>
                        <small class="font-bold">Send out email to your contact.</small>
                    </div>
                    <div class="modal-body">
                        <form method="post" action="{{ path_for('sms') }}">
                            <div class="form-group">
                                <label for="from" class="control-label">From:</label>
                                <select name="from" id="from" class="btn btn-primary dropdown-toggle"
                                        style="width: 100%">
                                    {% for account in accounts %}
                                        <option {% if account.default_sender > 0 %}selected{% endif %}
                                                value="{{ account.email }}">{{ account.email }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="to" class="control-label">To:</label>
                                <input type="email" class="form-control" id="to" name="to" required disabled>
                            </div>
                            <div class="form-group">
                                <label for="message-text" class="control-label">Message:</label>
                                <div class="summernote" id="note">
                                </div>
                                {#<textarea class="form-control" id="message" name="message" rows="10" required></textarea>#}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Send</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- END OF COMPOSE MODAL -->
    </div>
{% endblock %}
{% block scripts %}
    <script>

        $(function () {

//            $(document).on("click", ".contact-box", function () {
//                var sender = $(this).data('id');
//                alert(sender);
//                $(".modal-body #from").val(sender);
//            });


//            alert($("#get_my_info").val());

            $.get('/api/v1/groups', function (_data){

                var data = JSON.parse(_data);

                if (data.length > 0) {
                    $(".group_list").empty();
                    $.each(data, function (i, v) {
                        //console.log(v.id);
                        $(".group_list").append("<option value=" + v.id + ">" + v.group_name + "</option>");
                    });
                }
            });

            $("#newContactGroupForm").ajaxForm(function (data) {

                var data = JSON.parse(data);

                if (data.status !== 'success') {
                    //we show error at this point
                    //     alert(data.message);
                    displayToast(1000, data.message, false, false);
                    return;
                }

                //alert("Group Created Successfully");
                displayToast(1000, "Group Created Successfully!!", 'success', true, false);
                $("#createNewGroupModal").modal("hide");
                //open the add contact to group interface here
            });

            $(document).on('click', '#createNewGroupBtn', function () {
                var form = $("#newContactGroupForm");

                if (form.valid()) {
                    form.submit();
                }
            });

            //===================================
            $("#createNewContactForm").ajaxForm(function (data) {

                var data = JSON.parse(data);

                if (data.status !== 'success') {
                    displayToast(1000, data.message, 'error', false);
                    return;
                }

                displayToast(1000, 'Contact Created Successfully!!', 'success', false);
                $("#createNewContactModal").modal('hide');

                //reload the contacts to relect the added contact

            });

            $(document).on('click', '#createContactBtn', function () {
                //createNewContactForm
                var form = $("#createNewContactForm");

                if (form.valid()) {
                    form.submit();
                }
            });


            //================================  UPLOAD CONTACT FORM
            $("#uploadContactForm").ajaxForm(function (data) {
                var data = JSON.parse(data);
                if (data.status !== 'success') {
                    displayToast(1000, data.message, 'error', false);
                    return;
                }

                displayToast(1000, 'Contacts Uploaded Successfully!!', 'success', false);
                $("#uploadContactExcelModal").modal('hide');
            });

            $("#uploadContactBtn").click(function () {
                $("#uploadContactForm").submit();
            });

            //============================ADDING CONTACTS TO GROUP
//            $(".contact_list").tokenfield();
            $(".contact_list").select2({
                ajax: {
                    url: '/api/v1/users/1/contacts',
                    dataType: 'json',
                    delay: 200,
                    data: function (params) {
                        return {
                            q: params.term,
                            page: params.page
                        }
                    },
                    processResults: function (data) {
                        return {
                            results: $.map(data, function (obj) {
                                return {id: obj.id, text: obj.full_name};
                            })
                        };
                    },
                    cache: true
                },
                escapeMarkup: function (markup) {
                    return markup
                },
                minimumInputLength: 1,
                placeholder: 'Select Contact To Add',
                allowClear: true
            });


            $("#addContactToGroupForm").ajaxForm(function (data) {

                var data = JSON.parse(data);
                if (data.status !== 'success') {
                    //================show error at this point
                    console.log(data);
                    displayToast(1000, data.message, 'error', false);
                    return;
                }

                //alert("Contacts Added To Group");
                displayToast(1000, 'Contacts Successfully Loaded to group', 'success', false);
                $("#addContactToGroupDiv").modal('hide');

            });

            $(document).on('click', '#addContactToGroupBtn', function () {
                $("#addContactToGroupForm").submit();
            });
        });
    </script>
{% endblock %}