{% extends 'templates/partials/base.twig' %}

{% block content %}
    <div ng-controller="HomeController" ng-init="init()">
        <div ng-show='loading' class="loader loader-default is-active" data-text="Retrieving messages"></div>
        <div ng-controller="MailboxController" ng-init="init({{ count }})" class="row">
            <div class="col-lg-2">
            <div class="ibox float-e-margins">
                <div class="ibox-content mailbox-content">
                    <div class="file-manager">
                        <a class="btn btn-block btn-primary compose-mail" href="{{ path_for('compose') }}"><i class="fa fa-pencil" style="margin-right:10px"></i>Compose</a>
                        <div class="space-25"></div>
                        <h5>Folders</h5>
                        <ul class="folder-list m-b-md" style="padding: 0">
                            <li style="background-color: #ffffff; padding-left: 6px; padding-right: 6px;"><a href="{{ path_for('mailbox') }}" style="color: #000000"> <i class="fa fa-inbox "></i> Inbox <span
                                            class="label label-warning pull-right"
                                            ng-bind="data.message_count"></span> </a></li>
                            <li><a href="{{ path_for('sent') }}"> <i class="fa fa-envelope-o"></i> Sent</a></li>
                            <li><a href="{{ path_for('drafts') }}"> <i class="fa fa-file-text-o"></i> Drafts</a>
                            </li>
                            <li><a href="{{ path_for('trash') }}"> <i class="fa fa-trash-o"></i> Trash</a></li>
                            <li><a href="{{ path_for('spam') }}"> <i class="fa fa-trash"></i> Spam</a></li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
            <div class="col-lg-10 animated fadeInRight">
            <div class="mail-box-header">
                <form method="get" class="pull-right mail-search" ng-submit="searchFolder('inbox')">
                    <div class="input-group">
                        <input type="text" class="form-control input-sm" ng-model="res.query" name="search" placeholder="Search email">
                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-sm btn-primary">
                                Search
                            </button>
                        </div>
                        <div ng-show="searching" style="padding-left: 10px; font-size: 30px"><i class="fa fa-spinner fa-spin"></i></div>
                    </div>
                </form>
                <h2>Inbox (<span ng-bind="data.message_count"></span>)</h2>
                <div class="mail-tools tooltip-demo m-t-md">
                    <div class="btn-group pull-right">
                        <button class="btn btn-white btn-sm"><i class="fa fa-arrow-left"></i></button>
                        <button class="btn btn-white btn-sm"><i class="fa fa-arrow-right"></i></button>

                    </div>
                    <a class="btn btn-white btn-sm" href="."><i class="fa fa-refresh"></i> Refresh</a>
                    <button class="btn btn-warning btn-sm"><i class="fa fa-eye"></i></button>
                    <button class="btn btn-info btn-sm"><i class="fa fa-exclamation"></i></button>
                    <button class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i></button>

                </div>
            </div>
            <div class="mail-box">
                <table ng-show="data.messages.length > 0" class="table table-hover table-mail">
                    <thead>
                    <tr>
                        <th>
                            <i ng-show="data.checked" ng-click="uncheckAll()" class="fa fa-check-square-o" style="font-size: 25px; margin-left: 5px"></i>
                            <i ng-hide="data.checked" ng-click="checkAll()" class="fa fa-square-o" style="font-size: 25px; margin-left: 5px"></i>
                        </th>
                        <th>From</th>
                        <th>Subject</th>
                        <th align="right">Date</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat='message in data.messages' ng-class="message.read ? 'unread' : 'read'">
                            <td>
                                <input type="checkbox" class="i-checks" ng-model="message.checked" ng-change="toggleSelection(message)">
                            </td>
                            <td class="mail-ontact"><a
                                        href="/inbox/[[message.number]]/message" ng-bind="message.from"></a>
                            </td>
                            <td class="mail-subject">
                                <i ng-show="message.has_attachment" class="fa fa-paperclip"></i>
                                <a href="/inbox/[[message.number]]/message" ng-bind="message.subject"></a>
                            </td>
                            <td class="mail-date" am-time-ago="message.date"></td>
                        </tr>
                    </tbody>
                </table>
                <div class="row text-center" ng-hide="data.messages.length > 0">
                    <span style="margin-top: 30px" class="hidden-sm hidden-xs"></span>
                    <h2>
                        <strong>Welcome to 1Identiti</strong>
                    </h2>
                    <p>
                        Send Messages to your contacts and
                    </p><br>
                    <a class="btn btn-sm btn-primary compose-mail" href="{{ path_for('compose') }}">Compose
                        Mail</a>
                </div>
            </div>
        </div>
        </div>
    </div>
{% endblock %}
    {#<div class="row">#}
        {#<div class="col-lg-12">#}
            {#<div class="row">#}
                {#<div class="col-lg-4">#}
                    {#<div class="ibox float-e-margins">#}
                        {#<div class="ibox-title">#}
                            {#<h5><a href="{{ path_for('events') }}">Reminders & Events</a></h5>#}
                            {#<div class="ibox-tools">#}
                                {#<span><a class="btn btn-xs btn-primary" href="{{ path_for('google_calendar') }}">Sync Google Calendar</a></span>#}
                                {#<a class="collapse-link">#}
                                    {#<i class="fa fa-chevron-up"></i>#}
                                {#</a>#}
                            {#</div>#}
                        {#</div>#}
                        {#<div class="ibox-content inspinia-timeline">#}
                            {#<div class="timeline-item" ng-repeat="event in events_feed">#}
                                {#<div class="row">#}
                                    {#<div class="col-xs-3 date">#}
                                        {#<i class="fa fa-briefcase"></i>#}
                                        {#<span>[[event.start_date | date]]</span>#}
                                        {#<br/>#}
                                        {#<small class="text-navy" am-time-ago="event.start_date"></small>#}
                                    {#</div>#}
                                    {#<div class="col-xs-7 content no-top-border">#}
                                        {#<a href="[[event.link]]"><p class="m-b-xs"><strong#}
                                                        {#ng-bind="event.name"></strong></p></a>#}
                                        {#<p ng-bind="event.description"></p>#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}
                            {#<div class="feed-element" ng-show="events_feed.length == 0">#}
                                {#<div class="media-body ">#}
                                    {#<div class="row text-center">#}
                                            {#<span style="font-size: 25px"><i class="fa fa-circle-o-notch"#}
                                                                             {#aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;No events saved yet.</span><br><br>#}
                                        {#<a class="btn btn-xs btn-primary compose-mail"#}
                                           {#href="{{ path_for('compose') }}"><i class="fa fa-plus"#}
                                                                               {#aria-hidden="true"></i> Add#}
                                            {#Event/Reminder</a>#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
                {#<div class="col-lg-8">#}
                    {#<div class="row">#}
                        {#<div class="ibox float-e-margins">#}
                            {#<div class="ibox-title">#}
                                {#<h5><a href="{{ path_for('feed') }}">News Stream</a></h5>#}
                                {#<div class="ibox-tools">#}
                                    {#<a class="collapse-link">#}
                                        {#<i class="fa fa-chevron-up"></i>#}
                                    {#</a>#}
                                {#</div>#}
                            {#</div>#}
                            {#<div class="ibox-content no-padding">#}
                                {#<div style="text-align: center" ng-show="news_data.length == 0">#}
                                    {#<img src="images/balls.gif"><br>#}
                                    {#<small><strong>Loading</strong></small>#}
                                {#</div>#}
                                {#<ul class="col-sm-12">#}
                                    {#<li class="col-sm-4 contact-box" ng-repeat="feed in news_data" style="margin-bottom: 15px; height: 250px" data-toggle="modal">#}
                                        {#<a href="[[feed.url]]" target="_blank">#}
                                            {#<div style="height: 150px; width: 200px;">#}
                                                {#<img src='[[feed.urlToImage]]' width="100%" height="100%">#}
                                            {#</div>#}
                                            {#<h5><strong>[[ feed.title ]]</strong></h5>#}
                                            {#<em style="font-size: 10px">[[ feed.author ]]</em><br>#}
                                            {#<small>[[ feed.publishedAt | date ]]</small>#}
                                        {#</a>#}
                                    {#</li>#}
                                {#</ul>#}
                            {#</div>#}
                            {#<div class="text-center">#}
                                {#<br>#}
                                {#<a class="btn btn-xs btn-success compose-mail" href="/feed">Show More</a>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
            {#<div ng-controller="HomeController" class="modal inmodal fade" id="feedModal" tabindex="-2" role="dialog"#}
                 {#aria-hidden="true">#}
                {#<div class="modal-dialog modal-lg">#}
                    {#<div class="modal-content">#}
                        {#<div class="modal-header">#}
                            {#<button type="button" class="close" data-dismiss="modal"><span#}
                                        {#aria-hidden="true">&times;</span><span#}
                                        {#class="sr-only">Close</span></button>#}
                            {#<h4 class="modal-title">Share Updates/Announcements to appear on your Feed, Here</h4>#}
                        {#</div>#}
                        {#<div class="modal-body">#}
                            {#<form method="post">#}
                                {#<div>#}
                                    {#<span style="color: greenyellow;">{{ message.success }}</span>#}
                                    {#<span style="color: red;">{{ message.error }}</span>#}
                                {#</div>#}
                                {#<div class="form-group">#}
                                    {#<label for="message-text" class="control-label">Message:</label>#}
                                    {#<textarea class="form-control" rows="10" ng-model="text" required></textarea>#}
                                {#</div>#}
                                {#<div class="modal-footer">#}
                                    {#<button type="button" class="btn btn-white" data-dismiss="modal">Close</button>#}
                                    {#<button type="submit" ng-hide="submitted == true" class="btn btn-primary"#}
                                            {#ng-disabled="!message" ng-click="postMessage()">Post#}
                                    {#</button>#}
                                    {#<span ng-show="submitted == true"><img style="height: 30px;" src="images/balls.gif">Posting</span>#}
                                {#</div>#}
                            {#</form>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
        {#<div class="row  border-bottom white-bg dashboard-header">#}
        {#<div class="col-sm-3">#}
        {#<div class="statistic-box">#}
        {#<div class="row text-center">#}
        {#<span style="margin-top: 30px" class="hidden-sm hidden-xs"></span>#}
        {#<h2>#}
        {#<strong>Welcome to 1Identity</strong>#}
        {#</h2>#}
        {#<p>#}
        {#Share Updates/Announcements to appear on your Feed, Here &nbsp;<i#}
        {#class="fa fa-caret-square-o-right" style="font-size: 20px" aria-hidden="true"></i>#}
        {#</p>#}
        {#</div>#}
        {#</div>#}
        {#</div>#}
        {#<div class="col-sm-1"></div>#}
        {#<div class="col-sm-7">#}
        {#<span ng-show="res.error" class="alert-danger" ng-bind="res.error" ng-cloak></span>#}
        {#<span ng-show="res.success" class="alert-success" ng-bind="res.success" ng-cloak></span>#}
        {#<form method="post" ng-submit="postMessage()">#}
        {#<div class="form-group" ng-show="option == 'sms'">#}
        {#<label>Recipient Number</label>#}
        {#<span ng-show="number_error" class="alert-danger" ng-cloak>* Required</span>#}
        {#<input class="form-control" style="background-color: ghostwhite; color: #0a2b1d" type="number"#}
        {#placeholder="Enter Recipient Phone Number here" ng-model="phone">#}
        {#</div>#}
        {#<div class="form-group">#}
        {#<label>Message</label>#}
        {#<textarea rows="10" ng-model="message" class="form-control"#}
        {#style="background-color: ghostwhite; color: #0a2b1d" required></textarea>#}
        {#</div>#}
        {#<div class="form-group">#}
        {#<label class="radio-inline">#}
        {#<input type="radio" ng-model="option" name="option" value="sms">Send as SMS#}
        {#</label>#}
        {#<label class="radio-inline">#}
        {#<input type="radio" ng-model="option" name="option" value="post">Post Update#}
        {#</label>#}
        {#</div>#}
        {#<div class="mail-body text-right">#}
        {#<button class="btn btn-sm btn-primary" title="Send" type="submit"><i class="fa fa-reply"></i>#}
        {#Send#}
        {#</button>#}
        {#</div>#}
        {#</form>#}
        {#</div>#}
        {#<div class="col-sm-1"></div>#}
        {#</div>#}
        {#<div class="wrapper wrapper-content">#}
        {#<div class="row">#}
        {#<div class="col-lg-12">#}
        {#<div class="ibox float-e-margins" style="margin-bottom: 0">#}
        {#<div class="ibox-title">#}
        {#<h5>Placeholder Space for an </h5> <span class="label label-primary">Advert</span>#}
        {#<div class="ibox-tools">#}
        {#<a class="collapse-link">#}
        {#<i class="fa fa-chevron-up"></i>#}
        {#</a>#}
        {#</div>#}
        {#</div>#}
        {#<div class="ibox-content">#}
        {#<div>#}

        {#<div class="pull-right text-right">#}
        {#</div>#}
        {#<h4>Insert Advert Image here#}
        {#<br/>#}
        {#<small class="m-r"><a href="graph_flot.html"> link to advert site </a>#}
        {#</small>#}
        {#</h4>#}
        {#</div>#}
        {#</div>#}
        {#</div>#}
        {#</div>#}
        {#</div>#}
        {#</div>#}
        {#<div class="col-lg-4">#}
        {#<div class="ibox float-e-margins">#}
        {#<div class="ibox-title">#}
        {#<h5>Reminders & Events</h5>#}
        {#<div class="ibox-tools">#}
        {#<span><a class="btn btn-xs btn-primary" href="{{ path_for('google_calendar') }}">Google Sync</a></span>#}
        {#<a class="collapse-link">#}
        {#<i class="fa fa-chevron-up"></i>#}
        {#</a>#}
        {#</div>#}
        {#</div>#}
        {#<div class="ibox-content ibox-heading">#}
        {#<h3>You have meeting today!</h3>#}
        {#<small><i class="fa fa-map-marker"></i> Meeting is on 6:00am. Check your schedule to#}
        {#see detail.#}
        {#</small>#}
        {#</div>#}
        {#<div class="ibox-content inspinia-timeline">#}

        {#<div class="timeline-item">#}
        {#<div class="row">#}
        {#<div class="col-xs-3 date">#}
        {#<i class="fa fa-briefcase"></i>#}
        {#6:00 am#}
        {#<br/>#}
        {#<small class="text-navy">2 hour ago</small>#}
        {#</div>#}
        {#<div class="col-xs-7 content no-top-border">#}
        {#<p class="m-b-xs"><strong>Meeting</strong></p>#}

        {#<p>Conference on the sales results for the previous year. Monica please#}
        {#examine sales trends in marketing and products. Below please find#}
        {#the current status of the#}
        {#sale.</p>#}
        {#</div>#}
        {#</div>#}
        {#</div>#}
        {#<div class="timeline-item" ng-repeat="event in events_feed">#}
        {#<div class="row">#}
        {#<div class="col-xs-3 date">#}
        {#<i class="fa fa-briefcase"></i>#}
        {#<span>[[event.start_date | date]]</span>#}
        {#<br/>#}
        {#<small class="text-navy" am-time-ago="event.start_date"></small>#}
        {#</div>#}
        {#<div class="col-xs-7 content no-top-border">#}
        {#<a href="[[event.link]]"><p class="m-b-xs"><strong ng-bind="event.name"></strong></p></a>#}
        {#<p ng-bind="event.description"></p>#}
        {#</div>#}
        {#</div>#}
        {#</div>#}
        {#<div class="feed-element" ng-show="events_feed.length == 0">#}
        {#<div class="media-body ">#}
        {#<div>#}
        {#<span style="font-size: 25px"><i class="fa fa-circle-o-notch" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;No events saved yet.</span>#}
        {#</div>#}

        {#</div>#}
        {#</div>#}
        {#</div>#}
        {#</div>#}
        {#</div>#}


        {#<div class="ibox float-e-margins">#}
        {#<div class="ibox-title">#}
        {#<h5><a href="{{ path_for('feed') }}">News Stream</a></h5>#}
        {#<div class="ibox-tools">#}
        {#<a class="collapse-link">#}
        {#<i class="fa fa-chevron-up"></i>#}
        {#</a>#}
        {#</div>#}
        {#</div>#}
        {#<div class="ibox-content no-padding">#}
        {#<div style="text-align: center" ng-show="news_data.length == 0">#}
        {#<img src="images/balls.gif"><br>#}
        {#<small><strong>Loading</strong></small>#}
        {#</div>#}
        {#<ul class="col-sm-12" ng-repeat="feed in news_data">#}
        {#<ol class="col-sm-3 contact-box" data-toggle="modal">#}
        {#<h5><strong>[[ feed.title ]]</strong></h5>#}
        {#<span>[[ feed.author ]]</span><br>#}
        {#<small>[[ feed.publishedAt | date ]]</small>#}
        {#<div>#}
        {#{% if contact.is_active %}#}
        {#<a data-toggle="modal" data-target="#composeModal"#}
        {#class="btn btn-xs btn-success pull-right">Contact</a>#}
        {#{% else %}#}
        {#<a data-toggle="modal" data-target="#inviteModal"#}
        {#class="btn btn-xs btn-danger pull-right">Invite</a>#}
        {#{% endif %}#}
        {#</div>#}
        {#</ol>#}
        {#</ul>#}
        {#<ul class="list-group" ng-repeat="feed in news_data">#}
        {#<li class="list-group-item" style="border-bottom: 1px solid #e7eaec;">#}
        {#<a target="_blank" href="[[feed.url]]" ng-bind="feed.title"></a>#}
        {#<small style="color: green" ng-bind='feed.publishedAt | date' class="block text-muted"><i#}
        {#class="fa fa-clock-o"></i></small>#}
        {#</li>#}
        {#</ul>#}
        {#</div>#}
        {#</div>#}

        {#<div class="timeline-item">#}
        {#<div class="row">#}
        {#<div class="col-xs-3 date">#}
        {#<i class="fa fa-briefcase"></i>#}
        {#6:00 am#}
        {#<br/>#}
        {#<small class="text-navy">2 hour ago</small>#}
        {#</div>#}
        {#<div class="col-xs-7 content no-top-border">#}
        {#<p class="m-b-xs"><strong>Meeting</strong></p>#}

        {#<p>Conference on the sales results for the previous year. Monica please#}
        {#examine sales trends in marketing and products. Below please find#}
        {#the current status of the#}
        {#sale.</p>#}
        {#</div>#}
        {#</div>#}
        {#</div>#}
        {#<div class="ibox float-e-margins">#}
        {#<div class="ibox-title">#}
        {#<h5>Connect your email accounts</h5> <span class="label label-danger">HERE</span>#}
        {#<div class="ibox-tools">#}
        {#<a class="collapse-link">#}
        {#<i class="fa fa-chevron-up"></i>#}
        {#</a>#}
        {#</div>#}
        {#</div>#}
        {#<div class="ibox-content">#}
        {#<div>#}
        {#<ul class="category-list" style="padding: 0">#}
        {#<li>#}
        {#<a href="{{ path_for('gmail') }}"><img src="images/gmail.png">Gmail</a>#}
        {#</li>#}
        {#<li>#}
        {#<a data-toggle="modal" data-target="#emailModal"><img src="images/yahooo.png">Yahoo</a>#}
        {#</li>#}
        {#<li>#}
        {#<a data-toggle="modal" data-target="#emailModal"><img src="images/outlook.png">Outlook</a>#}
        {#</li>#}
        {#</ul>#}
        {#</div>#}
        {#</div>#}
        {#</div>#}
        {#<div class="ibox float-e-margins">#}
        {#<div class="ibox-title">#}
        {#<h5><a href="{{ path_for('feed') }}">Your feed</a></h5>#}
        {#<div class="ibox-tools">#}
        {#<span class="label label-warning-light">{{ feed_count }} Messages</span>#}
        {#<a class="collapse-link">#}
        {#<i class="fa fa-chevron-up"></i>#}
        {#</a>#}
        {#</div>#}
        {#</div>#}
        {#<div class="ibox-content">#}
        {#<div>#}
        {#<span><a class="btn btn-xs btn-success pull-right" data-toggle="modal" data-target="#feedModal" href=""><i class="fa fa-plus" aria-hidden="true"></i></a></span><br><br>#}
        {#<div class="feed-activity-list">#}
        {#{% if feed_count > 0 %}#}
        {#{% for feed in feeds %}#}
        {#<div class="feed-element">#}
        {#<a href="/profile" class="pull-left">#}
        {#<img alt="image" class="img-circle" src="/images/a5.jpg">#}
        {#</a>#}
        {#<div class="media-body ">#}
        {#<small class="pull-right">{{ feed.updated_at|ago }}</small>#}
        {#<strong>{{ feed.creator }}</strong> posted a message<br>#}
        {#<small class="text-muted">Yesterday 5:20 pm - 12.06.2014</small>#}
        {#<small class="text-muted">{{ feed.updated_at | date }}</small>#}
        {#<div class="well">#}
        {#{{ feed.text }}#}
        {#</div>#}
        {#<div class="pull-right">#}
        {#<a class="btn btn-xs btn-white"><i#}
        {#class="fa fa-thumbs-up"></i>#}
        {#Like </a>#}
        {#</div>#}
        {#</div>#}
        {#</div>#}
        {#{% endfor %}#}
        {#{% else %}#}
        {#<div class="feed-element">#}
        {#<div class="media-body ">#}
        {#<div class="row text-center">#}
        {#<span style="font-size: 25px"><i class="fa fa-circle-o-notch" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;No Message in your Feed</span><br><br>#}
        {#<a class="btn btn-xs btn-success compose-mail" data-toggle="modal" data-target="#feedModal" href="">Add Feed</a>#}
        {#</div>#}
        {#</div>#}
        {#</div>#}
        {#{% endif %}#}
        {#</div>#}

        {#{% if feed_count > 8 %}#}
        {#<a href="{{ path_for('feed') }}" class="btn btn-primary btn-block m-t"><i#}
        {#class="fa fa-arrow-down"></i>#}
        {#Show More#}
        {#</a>#}
        {#{% endif %}#}
        {#</div>#}
        {#</div>#}
        {#</div>#}
        {#<div class="ibox-content ibox-heading">#}
        {#<h3>You have meeting today!</h3>#}
        {#<small><i class="fa fa-map-marker"></i> Meeting is on 6:00am. Check your schedule to#}
        {#see detail.#}
        {#</small>#}
{#</div>#}