<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>1Identiti</title>
    <link rel='shortcut icon' href='/images/favicon.ico' type='image/x-icon' />
    <script src="/static/js/pace.js"></script>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/theme.css" rel="stylesheet">
    <link href="/static/fonts/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='/static/css/roboto.css' rel='stylesheet' type='text/css'>
    <link href="/static/css/theme-loading-bar.css" rel="stylesheet"/>
    <link href="/static/css/plugins/toastr/toastr.min.css" rel="stylesheet">
    <!-- Gritter -->
    <link href="/static/js/plugins/gritter/jquery.gritter.css" rel="stylesheet">
    <link href="/static/css/animate.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    <link href="/static/css/plugins/summernote/summernote.css" rel="stylesheet">
    <link href="/static/css/plugins/summernote/summernote-bs3.css" rel="stylesheet">

    <link href="/static/css/plugins/fullcalendar/fullcalendar.print.css" rel='stylesheet' media='print'>
    <link href="/static/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="/static/css/plugins/chosen/chosen.css" rel="stylesheet">
    <link href="/static/css/plugins/colorpicker/bootstrap-colorpicker.min.css" rel="stylesheet">
    <link href="/static/css/plugins/cropper/cropper.min.css" rel="stylesheet">
    <link href="/static/css/plugins/switchery/switchery.css" rel="stylesheet">
    <link href="/static/css/plugins/jasny/jasny-bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/plugins/nouslider/jquery.nouislider.css" rel="stylesheet">
    <link href="/static/css/plugins/datapicker/datepicker3.css" rel="stylesheet">
    <link href="/static/css/plugins/ionRangeSlider/ion.rangeSlider.css" rel="stylesheet">
    <link href="/static/css/plugins/ionRangeSlider/ion.rangeSlider.skinFlat.css" rel="stylesheet">


</head>

<body ng-app="mainApp" ng-controller="MainController" ng-init="init('{{ countries }}')">

<div id="wrapper">
    <div id="page-wrapper" class="gray-bg s3-loader">
        <div class="row border-bottom">
            <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <ul class="nav navbar-top-links navbar-left">
                        <li>
                            <a href="{{ path_for('index') }}">
                                <span style="font-size: 20px; font-weight: 600; margin-right: 60px">1Identiti</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <ul class="nav navbar-top-links navbar-right">
                    {% if user %}
                    <li>
                        <a href="{{ path_for('landing') }}">
                            <i class="fa fa-home"></i> Home
                        </a>
                    </li>
                    <li>
                        <a href="{{ path_for('mailbox') }}">
                            <i class="fa fa-envelope-o"></i> Mailbox
                        </a>
                    </li>
                    <li>
                        <a href="{{ path_for('contacts') }}">
                            <i class="fa fa-book"></i> Contacts
                        </a>
                    </li>
                    <li>
                        <a href="/{{ user.phone }}">
                            <i class="fa fa-user-md"></i> Profile
                        </a>
                    </li>
                    <li>
                        <a href="{{ path_for('logout') }}">
                            <i class="fa fa-sign-out"></i> Log out
                        </a>
                    </li>
                    {% else %}
                        <div style="zoom: 0.8; margin-top: 30px; margin-right: 30px">
                            <form class="form-inline hidden-xs hidden-sm" action="{{ path_for('login') }}" accept-charset="utf-8" method="post">
                                <div class="form-group">
                                    <div class="input-group" style="width: 25.5em;">
                                        <div class="input-group-btn">
                                            <select class="form-control" name="countryCode" id="countryCode"
                                                    style="width: 10em; color: black">
                                                <option ng-repeat="country in data.countries" ng-selected="country.name == data.countryCode" ng-value="country.code">[[ country.name ]] ([[ country.code ]])
                                                </option>
                                            </select>
                                        </div>
                                        <input type="number" name="phone" id="phone" class="form-control" value="{{ old.phone }}" placeholder="Enter Phone Number" style="color: black;" required>
                                        <input type="hidden" value="{{ code }}" name="code" id="code">
                                    </div>
                                    <input style="color: black" type="password" class="form-control" id="password" name="password" placeholder="Enter password" required>
                                    <input type="submit" name="submit" value="Login" class="btn btn-primary">
                                </div>
                            </form>
                        </div>
                    {% endif %}
                </ul>
            </nav>
        </div>
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content">
                            <h2>
                                {{ total }} results found for: <span class="text-navy">“{{ q }}”</span>
                            </h2>

                            <div class="search-form">
                                <form action="{{ path_for('search') }}"  method="get">
                                    <div class="input-group">
                                        <input type="text" placeholder="Search for a friend or colleague..." class="form-control input-lg" name="q" id="q">
                                        <div class="input-group-btn">
                                            <button class="btn btn-lg btn-primary" type="submit">
                                                Search
                                            </button>
                                        </div>
                                    </div>

                                </form>
                            </div>
                            {% for account in accounts %}
                                <div class="hr-line-dashed"></div>
                                <div class="search-result">
                                    <h3><a href="/{{ account.phone }}">{{ account.phone }}</a></h3>
                                    <h4><a href="/{{ account.phone }}" class="search-link">{{ account.realname }}</a></h4>
                                    <p>{{ account.email }} {% if account.website_url %}| {{ account.website_url }}{% endif %}</p>
                                    <p> {{ account.summary }} </p>
                                </div>
                                <div class="hr-line-dashed"></div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div>
                <strong>Copyright</strong> TM30 &copy; {{ year }}
            </div>
        </div>
    </div>

</div>

<script src="static/js/jquery-2.1.1.js"></script>
<script src="static/js/bootstrap.min.js"></script>

<!-- Custom and plugin javascript -->
<script src="static/js/inspinia.js"></script>
<script src="static/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

<!-- Chosen -->
<script src="static/js/plugins/chosen/chosen.jquery.js"></script>
<!-- JSKnob -->
<script src="static/js/plugins/jsKnob/jquery.knob.js"></script>
<!-- Input Mask-->
<script src="static/js/plugins/jasny/jasny-bootstrap.min.js"></script>
<!-- Data picker -->
<script src="static/js/plugins/datapicker/bootstrap-datepicker.js"></script>
<!-- NouSlider -->
<script src="static/js/plugins/nouslider/jquery.nouislider.min.js"></script>
<!-- Switchery -->
<script src="static/js/plugins/switchery/switchery.js"></script>
<!-- IonRangeSlider -->
<script src="static/js/plugins/ionRangeSlider/ion.rangeSlider.min.js"></script>
<!-- iCheck -->
<script src="static/js/plugins/iCheck/icheck.min.js"></script>
<!-- MENU -->
<script src="static/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<!-- Color picker -->
<script src="static/js/plugins/colorpicker/bootstrap-colorpicker.min.js"></script>
<!-- Image cropper -->
<script src="static/js/plugins/cropper/cropper.min.js"></script>
<script src="static/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="static/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

<!-- Flot -->
<script src="static/js/plugins/flot/jquery.flot.js"></script>
<script src="static/js/plugins/flot/jquery.flot.tooltip.min.js"></script>
<script src="static/js/plugins/flot/jquery.flot.spline.js"></script>
<script src="static/js/plugins/flot/jquery.flot.resize.js"></script>
<script src="static/js/plugins/flot/jquery.flot.pie.js"></script>

<!-- Peity -->
<script src="static/js/plugins/peity/jquery.peity.min.js"></script>
<script src="static/js/demo/peity-demo.js"></script>
<!-- jQuery UI -->
<script src="static/js/plugins/jquery-ui/jquery-ui.min.js"></script>
<!-- GITTER -->
<script src="static/js/plugins/gritter/jquery.gritter.min.js"></script>
<!-- Sparkline -->
<script src="static/js/plugins/sparkline/jquery.sparkline.min.js"></script>
<!-- Sparkline demo data  -->
<script src="static/js/demo/sparkline-demo.js"></script>
<!-- ChartJS-->
<script src="static/js/plugins/chartJs/Chart.min.js"></script>
<!-- Toastr -->
<script src="static/js/plugins/toastr/toastr.min.js"></script>
<script src="static/js/plugins/iCheck/icheck.min.js"></script>
<script src="static/js/plugins/summernote/summernote.min.js"></script>
<script src="/static/js/angular.min.js"></script>
<script src="/static/js/moment.min.js"></script>
<script src="/node_modules/checklist-model/checklist-model.js"></script>
<script src="/static/js/angular-moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.6.1/angular-sanitize.min.js"></script>
<script src="/static/js/app.js"></script>
</body>
</html>

