{% extends 'templates/partials/base.twig' %}

{% block content %}
    <div class="wrapper wrapper-content" ng-controller="MailboxController" ng-init="init_sent({{ count }})">
        <div class="row">
            <div class="col-lg-2" style="background-color: #fff; height: 300px; margin-left: 15px;">
                <div class="ibox float-e-margins">
                    <div class="ibox-content mailbox-content">
                        <div class="file-manager">
                            <a class="btn btn-block btn-primary compose-mail" style="margin-top: 20px" href="{{ path_for('compose') }}"><i class="fa fa-pencil" style="margin-right:10px"></i> Compose</a>
                            <div class="space-25"></div>
                            <h5>Folders</h5>
                            <ul class="folder-list m-b-md" style="padding: 0">
                                <li style="background-color: #ffffff; padding-left: 6px; padding-right: 6px;"><a href="{{ path_for('mailbox') }}" style="color: black"><i class="fa fa-inbox"></i> Inbox </a></li>
                                <li><a href="{{ path_for('sent') }}"> <i class="fa fa-envelope-o"></i> Sent <span
                                                class="label label-warning pull-right" ng-bind="data.message_count"></span></a></li>
                                <li><a href="{{ path_for('drafts') }}"> <i class="fa fa-file-text-o"></i> Drafts</a></li>
                                <li><a href="{{ path_for('trash') }}"> <i class="fa fa-trash-o"></i> Trash</a></li>
                                <li><a href="{{ path_for('spam') }}"> <i class="fa fa-trash"></i> Spam</a></li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 animated fadeInRight" style="margin-left: 30px">
                <div class="mail-box-header">
                    <form method="get" action="{{ path_for('landing') }}" class="pull-right mail-search">
                        <div class="input-group">
                            <input type="text" class="form-control input-sm" name="search" placeholder="Search email">
                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-sm btn-primary">
                                    Search
                                </button>
                            </div>
                        </div>
                    </form>
                    <h2>
                        Sent (<span ng-bind="data.message_count"></span>)
                    </h2>
                    <div class="mail-tools tooltip-demo m-t-md">
                        <div class="btn-group pull-right">
                            <button class="btn btn-white btn-sm"><i class="fa fa-arrow-left"></i></button>
                            <button class="btn btn-white btn-sm"><i class="fa fa-arrow-right"></i></button>

                        </div>
                        <a class="btn btn-white btn-sm" href="."><i class="fa fa-refresh"></i> Refresh</a>
                        <button class="btn btn-warning btn-sm"><i class="fa fa-eye"></i></button>
                        <button class="btn btn-info btn-sm"><i class="fa fa-exclamation"></i></button>
                        <button class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i></button>

                    </div>
                    <div style="color: green">
                        {{ response }}
                    </div>
                </div>
                <div class="mail-box">
                    <table ng-show="data.messages.length > 0" class="table table-hover table-mail">
                        <thead>
                        <tr>
                            <th></th>
                            <th>From</th>
                            <th>Subject</th>
                            {#<th>Attachment</th>#}
                            <th align="right">Date</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat='message in data.messages' ng-class="message.read ? 'unread' : 'read'">
                            <td>
                                <input type="checkbox" class="i-checks">
                            </td>
                            <td class="mail-ontact"><a
                                        href="/Sent/[[message.number]]/message" ng-bind="message.from"></a>
                            </td>
                            <td class="mail-subject">
                                <i ng-show="message.has_attachment" class="fa fa-paperclip"></i>
                                <a href="/Sent/[[message.number]]/message" ng-bind="message.subject"></a>
                            </td>
                            <td class="mail-date" am-time-ago="message.date"></td>
                        </tr>
                        </tbody>
                    </table>
                    <div ng-hide="data.messages.length > 0" style="padding-top: 20px; border-top: 2px solid whitesmoke">
                        <h3 class="text-center">
                            No messages sent.
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
