{% extends 'templates/center.twig' %}

{% block content %}
    <div>
        {% include 'templates/partials/sidenav.twig' %}
        <div>
            <div class="profileContent">

                <div>
                    <h3 class="profileHeader" style="text-align:center; margin-top:50px;">Connect to Your Email
                        Account</h3>
                    <div style="margin-top:70px; margin-left:130px;">
                        <ul class="acctlist">
                            <div class="list33" id="google" style="margin-left:-64px;">
                                <a href="/user/gmail"><img src="../images/gmail.png" width="100" height="100"></a>
                            </div>
                            <div class="list33" id="yahoo1">
                                <a><img src="../images/yahooo.png" width="100" height="100"></a>
                            </div>
                            <div id="yah1" class="yahoo_modal">
                                <div id="sms_content" class="modal_content">
                                    <span id="close3">X</span><br>
                                    <div style="margin-top:0px">
                                        <label class="recieve">Enter Your Yahoo Address:</label>
                                        <input type="email" name="text" class="recipient_input"><br><br>
                                        <div class="form-group submit_margin pull-right">
                                            <input type="submit" name="Submit" value="Submit" class="btn btn-primary">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="list33" id="outlook">
                                <a><img src="../images/outlook.png" width="100" height="100"></a>
                            </div>

                            <div id="out" class="outlook_modal">
                                <div id="sms_content" class="modal_content">
                                    <span id="close2">X</span><br>
                                    <div style="margin-top:0px">
                                        <label class="recieve">Enter Your Outlook Address:</label>
                                        <input type="email" name="email_address" class="recipient_input"><br><br>
                                        <div class="form-group submit_margin pull-right">
                                            <input type="submit" name="Submit" value="Submit" class="btn btn-primary">
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </ul>
                        <a href="/user/custom" id="addbtn">+</a>
                    </div>
                </div>

                <div>
                    <h3 class="profileHeader" style="text-align:center; margin-top:125px;">Connect to Your Social Media
                        Account</h3>
                    <div style="margin-top:70px; margin-left:190px;">
                        <ul class="acctlist">
                            <div id="list" style="margin-left:-64px;">
                                <a href="/user/facebook"><img src="../images/facebook.png" width="100"
                                                              height="100"></a>
                            </div>
                            <div id="list">
                                <a href="/user/twitter"><img src="../images/twitter.png" width="100"
                                                             height="100"></a>
                            </div>
                            <div id="list">
                                <a href="/user/linkedin"><img src="../images/linkedin.png" width="100"
                                                              height="100"></a>
                            </div>
                        </ul>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <script>
        var outlookbtn = document.getElementById("outlook");
        var yahoobtn = document.getElementById("yahoo1");
        var yahoomodal = document.getElementById("yah1");
        var outlookmodal = document.getElementById("out");
        var close2btn = document.getElementById("close2");
        var close3btn = document.getElementById("close3");

        outlookbtn.onclick = function () {
            outlookmodal.style.display = "block";
        }

        yahoobtn.onclick = function () {
            yahoomodal.style.display = "block";
        }

        close2btn.onclick = function () {
            outlookmodal.style.display = "none";

        }

        close3btn.onclick = function () {
            yahoomodal.style.display = "none";
        }


    </script>
{% endblock %}