<html>
<head>
    <link rel="stylesheet" type="text/css" href="../static/css/styleb.css">
    <link rel="stylesheet" type="text/css" href="../static/css/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/fonts.css">
    <link rel="stylesheet" type="text/css" href="../static/css/Homepage.css">
    <script type="text/javascript" src="../static/css/bootstrap/js/jquery.min.js"></script>
    <script type="text/javascript" src="../static/css/bootstrap/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>One Identity</title>
</head>
<body class="background">
<header class="header">
    <ul class="menu">
        <a href="/user"><li class="menuSeg"><i class="fa fa-home" aria-hidden="true"></i>&nbsp;&nbsp;Home</li></a>
        <a href="/mail"><li class="menuSeg" id="hto"><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;&nbsp;MailBox</li></a>
        <a href="/user/profile"><li class="menuSeg"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;&nbsp;Settings</li></a>
    </ul>
    <ul class="menu pull-right exit">
        <a href="/user/call" style="font-family: 'Abyssinica SIL'; font-size: 14px; color: black"><i class="fa fa-phone exit_icon" style="color: blue" aria-hidden="true"></i>&nbsp;Dial</a> |
        <a href="/user/sms" style="font-family: 'Abyssinica SIL'; font-size: 14px; color: black"><i class="fa fa-envelope-square exit_icon" style="color: forestgreen" aria-hidden="true"></i>&nbsp;Message</a> |
        <a href="/user/logout" style="font-family: 'Abyssinica SIL'; font-size: 14px; color: black"><i class="fa fa-close" style="color: red" aria-hidden="true"></i>&nbsp;Signout</a>
    </ul>
</header>
<div class="container" style="width:auto">
    {% block content %}
    {% endblock %}
</div>
<div class="footer"></div>
</body>
</html>