{% extends 'templates/partials/base.twig' %}

{% block content %}
    <div ng-controller="EventCtrl" ng-init="init({{ events }})">
        <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-8">
            <h2>Events</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="{{ path_for('index') }}">Home</a>
                </li>
                <li class="active">
                    <strong>Events</strong>
                </li>
            </ol>
        </div>
    </div>
        <div class="wrapper wrapper-content">
        <div class="row animated fadeInDown">
            <div class="col-lg-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Add an Event/Reminder</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div id='external-events'>
                            <form method="post" id="eventCreationForm" action="{{ path_for('/event') }}">
                                <div class="form-group">
                                    <label for="title">Title</label>
                                    <input class="form-control" name="title" id="title" placeholder="My Birthday" required>
                                </div>
                                <div class="form-group">
                                    <label for="title">Start Date</label>
                                    <input class="form-control" name="title" id="title" style="width: 50%" placeholder="My Birthday" required>
                                </div>
                                <div class="form-group">
                                    <label for="title">End Date</label>
                                    <input class="form-control" name="title" id="title" placeholder="My Birthday" required>
                                </div>
                                <div class="form-group m-t">
                                    <input type='checkbox' id='drop-remove' class="i-checks"/> <label for='drop-remove'>Set Reminder</label>
                                </div>
                                <button type="submit" class='external-event navy-bg'>Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
                {#<div class="ibox float-e-margins">#}
                    {#<div class="ibox-content">#}
                        {#<h2>FullCalendar</h2> is a jQuery plugin that provides a full-sized, drag & drop calendar like the one below. It uses AJAX to fetch events on-the-fly for each month and is#}
                        {#easily configured to use your own feed format (an extension is provided for Google Calendar).#}
                        {#<p>#}
                            {#<a href="http://arshaw.com/fullcalendar/" target="_blank">FullCalendar documentation</a>#}
                        {#</p>#}
                    {#</div>#}
                {#</div>#}
            </div>
            <div class="col-lg-9">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Calendar </h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="#">Config option 1</a>
                                </li>
                                <li><a href="#">Config option 2</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div id="calendar"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}