<!DOCTYPE html>
<html>
<head>
    <title>OneIdentity</title>
    <link rel="stylesheet" type="text/css" href="/static/css/home.css">
</head>
<body>
<div class="wrapper">
    <div class="Homepage_header">
        <ul class="buttonlist">
            <li>
                <a href="/register"><button class="header_button_Signup">Sign up</button></a>
            </li>
            <li>
                <button class="header_button_login">Login</button>
            </li>
        </ul>
        <h1 class="headermessage">What's Happening</h1>
        <div class="tab">
            <ul class="headertab">
                <li><span class="headerbuttontab">Search</span></li>
                <li><span class="headerbuttontab">Featured</span></li>
                <li><span class="headerbuttontab">News</span></li>
                <li><span class="headerbuttontab">Sports</span></li>
                <li><span class="headerbuttontab">Music</span></li>
                <li><span class="headerbuttontab">Government</span></li>
                <li><span class="headerbuttontab">Entertainment</span></li>
                <li><span class="headerbuttontab">More<span id="downarrow"></span></span></li>
            </ul>
        </div>
    </div>


    <div class="picturesframes">
        <div class="pic">
            <img src="https://pbs.twimg.com/media/CpWhvi7XEAAGKaW.jpg" width="290" height="300">
            <div class="underpictext">
                <span id="picdivtext"><img class="smallimage"
                                           src="http://www.vidiworld.com/dubrovnik/wp-content/uploads/2013/03/fun_xxl.jpg"
                                           width="30px" height="30px"> Entertainment</span>
                <p style="font-weight:normal">Some text is gonna be here but am not sure which yet so dont mind this at
                    all.</p>


            </div>
        </div>
        <div class="pic">
            <img src="https://pbs.twimg.com/media/CpWhvi7XEAAGKaW.jpg" width="290" height="300">
            <div class="underpictext">
                <span id="picdivtext"><img class="smallimage"
                                           src="http://www.vidiworld.com/dubrovnik/wp-content/uploads/2013/03/fun_xxl.jpg"
                                           width="30px" height="30px"> Entertainment</span>
                <p style="font-weight:normal">Some text is gonna be here but am not sure which yet so dont mind this at
                    all.</p>

            </div>
        </div>

        <div class="pic">
            <img src="https://pbs.twimg.com/media/CpWhvi7XEAAGKaW.jpg" width="290" height="300">
            <div class="underpictext">
                <span id="picdivtext"><img class="smallimage"
                                           src="http://www.vidiworld.com/dubrovnik/wp-content/uploads/2013/03/fun_xxl.jpg"
                                           width="30px" height="30px"> Entertainment</span>
                <p style="font-weight:normal">Some text is gonna be here but am not sure which yet so dont mind this at
                    all.</p>

            </div>
        </div>
        <div class="pic">
            <img src="https://pbs.twimg.com/media/CpWhvi7XEAAGKaW.jpg" width="290" height="300">
            <div class="underpictext">
                <span id="picdivtext"><img class="smallimage"
                                           src="http://www.vidiworld.com/dubrovnik/wp-content/uploads/2013/03/fun_xxl.jpg"
                                           width="30px" height="30px"> Entertainment</span>
                <p style="font-weight:normal">Some text is gonna be here but am not sure which yet so dont mind this at
                    all.</p>

            </div>
        </div>
    </div>

</div>
</div>
</body>
</html>