{% extends 'templates/center.twig' %}

{% block content %}
    <div class="container" style="width:auto">
    
        <div class="row">
            <div class="col-lg-4">
                <div id="HomeSidebar">
                    <div id="photoFrame"><img class="img-circle" src="images/fawkes.png"></div>
                    <div id="basicInfo">
                        <table class="table_margin">
                            <tr>
                                <td>
                                    {% if not user.realname %}<a href="/user/profile" style="text-decoration: underline">Add Full
                                        Name</a> {% else %}{{ user.realname }}{% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {{ user.phone }}
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    {{ user.email }}
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    Joined {{ user.created_at | date }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="/profile/image" style="text-decoration: underline">Change Profile Image</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="content">
                <div id="mailTabHome">
                    <div id="Mdirections">
                        <form action="{{ path_for('landing') }}" method="post" id="user-pass"
                              accept-charset="UTF-8">
                                {% include 'templates/partials/flash.twig' %}
                            <br>
                            <div style="margin-top: -8%">
                                <h2 class="homeBasic">Message Box</h2>
                            </div>
                            <div class="form-group">
                                <label for="origin">Origin Address</label>
                                {% if errors.origin %}
                                <span style="color: red">{{ errors.origin | first }}</span>
                                {% endif %}<br>
                                <select class="home_control" name="origin" style="background-color: blanchedalmond;" id="origin" required>
                                    {% for account in email_accounts %}
                                        <option value="{{ account }}">{{ account }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="destination">Destination Address</label>
                                {% if errors.destination %}
                                <span style="color: red">{{ errors.destination | first }}</span>
                                {% endif %}<br>
                                <input type="email" class="home_control"  style="background-color: lightgoldenrodyellow;" id="destination" name="destination" placeholder="Enter Destination Address" value="{{ old.destination }}" required>
                            </div>
                            <div class="form-group">
                                <label for="subject">Subject</label>
                                {% if errors.subject %}
                                <span style="color: red">{{ errors.subject | first }}</span>
                                {% endif %}<br>
                                <input type="text" class="home_control"  style="background-color: #dff0d8" id="subject" name="subject" placeholder="Enter Subject" value="{{ old.subject }}" required>
                            </div>
                            <div class="form-group">
                                <label for="message">Message</label><br>
                                {% if errors.message %}
                                <span style="color: red">{{ errors.message | first }}</span>
                                {% endif %}<br>
                                <textarea style="background-color: ghostwhite" rows="10" cols="79" name="message" id="message">{{ old.message }}</textarea>
                            </div>
                            {#<div id="mailAction">#}
                                {#<div class="pull-left">#}
                                    {#<label class="btn-xs btn-success" for="my-file-selector">#}
                                        {#<i class="fa fa-paperclip"></i>&nbsp;#}
                                        {#<input id="attach" type="file" style="background: transparent; display: None">Attach File#}
                                    {#</label>#}
                                {#</div>#}
                                {#<div>#}
                                    {#<label class="dropbtn" for="sms">#}
                                        {#<i class="fa fa-envelope" aria-hidden="true">&nbsp;&nbsp;SMS</i>#}
                                        {#<input type="checkbox" value="None" id="sms" name="sms" checked hidden />#}
                                    {#</label>#}
                                    {#<label class="dropbtn" for="sms">#}
                                        {#<i class="fa fa-envelope-o" aria-hidden="true">&nbsp;&nbsp;Mail</i>#}
                                        {#<input type="checkbox" value="None" id="sms" name="sms" checked hidden />#}
                                    {#</label>#}
                                {#</div>#}
                            {#</div>#}
                            <div class="form-group pull-right" style="margin-top:2%; margin-right: 75px;">
                                <input type="submit" name="Submit" value="Send Message" class="btn btn-primary">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
   
{% endblock %}