<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport"
          content="width=device-width, maximum-scale=1 , maximum-scale=1, initial-scale=1, user-scalable=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>One Identity</title>
    <link rel="stylesheet" href="js/jquery-ui/jquery-ui.css">
    <link rel="stylesheet" href="css/bootstrap/css/bootstrap-theme.css">
    <link rel="stylesheet" href="css/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/font-awesome/css/font-awesome.css">
    <!--[if !IE]><!-->
    <link type="text/css" rel="stylesheet" href="css/header.css" media="all"/>
    <!--<![endif]-->
    <!--[if IE]>
    <link type="text/css" rel="stylesheet" href="css/ie_header.css" media="all"/>
    <![endif]-->
    <link type="text/css" rel="stylesheet" href="css/media_header.css" media="print"/>
</head>
<body>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    <footer>{% include 'templates/partials/footer.twig' %}</footer>
    {% include 'templates/partials/scripts.twig' %}
</body>
</html>