{% extends 'templates/center.twig' %}

{% block content %}
    <div style="margin-left: 450px" id="sample">
        <script type="text/javascript" src="http://js.nicedit.com/nicEdit-latest.js"></script> <script type="text/javascript">
            //<![CDATA[
            bkLib.onDomLoaded(function() { nicEditors.allTextAreas() });
            //]]>
        </script>
        <label for="Text content">Text</label><br>
        <textarea name="Text" class="text-center" required></textarea>
    </div>

{% endblock %}