{% extends 'templates/center.twig' %}

{% block content %}
           <div>
               {% include 'templates/partials/sidenav.twig' %}
               <div>
                   <div class="profileContent">
                       
                       <div>
                       <h1 class="profileHeader" style="text-align:center; margin-top:50px;">Notification Settings</h1>
                       <h3 class="profileHeader" style="font-size:25px"> Change the Channels You Wish to Receive Notifications On</h3>
                       <div class="toggle_list">
                       <hr>

                       <table style="margin-bottom:60px ;margin-left:30px; margin-top:20px">
                          <th class="notificationfont" style="color:#2196F3">Web</th>
                          <th>
                          <label class="switch">
                          <input type="checkbox">
                          <div class="slider round blue"></div>
                          </label>
                          </th>
                          <th><label class="notification_labels">Get web notifications</label></th>

                       </table>
                       <hr>

                        <table style="margin-bottom:60px ;margin-left:30px">
                          <th class="notificationfont" style="color:#66ff66" >Push</th>
                          <th>
                          <label class="switch" >
                          <input type="checkbox">
                          <div class="slider round green"></div>
                          </label>
                          </th>
                          <th><label class="notification_labels">Get push notifications</label></th>

                       </table>
                       <hr>


                        <table style="margin-bottom:60px ;margin-left:30px">
                          <div><th class="notificationfont" style="color:#ff5c33">Email</th></div>
                          <th>
                          <label class="switch" style="margin-left:90px;">
                          <input type="checkbox">
                          <div class="slider round red"></div>
                          </label>
                          </th>
                          <th><label class="notification_labels">Get email notifications</label></th>

                       </table>
                       <hr>


                        <table style="margin-bottom:60px ;margin-left:30px">
                          <th class="notificationfont" style="color:#e6e600">SMS</th>
                          <th>
                          <label class="switch" >
                          <input type="checkbox">
                          <div class="slider round yellow"></div>
                          </label>
                          </th>
                          <th><label class="notification_labels">Get SMS notifications</label></th>

                       </table>

                         </div>



                        </div>   
                   </div>
               </div>
           </div>
{% endblock %}