{% extends 'templates/partials/crux.twig' %}
{% block content %}
    <div class="div_content">
        <div class="profile_section_box">
            <section class="profile">
                <div class="div1_profile">
                    <div class="div11profilepicture_div1_profile">
                        <img src="images/profile.svg" width="200" height="200">

                    </div>
                    <div class="div12_div1_profile">
                        <div class="profileinfo_div12">
                            <h1>{{ account.name }}</h1>
                            <h2>{{ account.phone }}</h2>
                            <dl id="demographics">
                                {% if account.address and account.country %}
                                <dd><span>{{ account.address }}, {{ account.country }}</span></dd>
                                {% endif %}
                                {% if account.date_of_birth %}
                                    <dd><span>{{ account.date_of_birth }}</span></dd>
                                {% endif %}
                                <dd><span>{{ account.email }}</span></dd>
                                <dd><span>{{ account.website_url }}</span></dd>
                            </dl>
                        </div>
                        <div class="number_of_connections">
                            <p>
                                <small>Date Joined</small><br>
                                <strong><small>{{ account.created_at | date }}</small></strong>
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="profile">
                <div class="div2_profile">
                    <div class="redirect_profilepage">
                        {% if not user %}
                        <h3>Your long lost friends, colleagues, classmates, and other professionals are all on
                            UnoIdentity.
                        </h3>
                        <a href="{{ path_for('register') }}" class="btn btn-success pull-right"><b>Join UnoIdentity</b></a>
                        {% else %}
                            <h3>Check out the extensive features available on UnoIdentity.
                            </h3>
                            <a href="{{ path_for('mailbox') }}" class="btn btn-success pull-right"><b>Click here</b></a>
                        {% endif %}
                    </div>
                </div>
            </section>
            {% if account.education %}
            <section class="profile">
                <div class="education">
                    <h2>Education</h2>
                    <br>
                    <img src="images/school_placeholder.jpg" width="70" height="70" id="logo">
                    <h5><b><span>{{ account.institution }}</span></b></h5>
                    <p>
                        <small>{{ account.graduation_date | date }}</small>
                    </p>
                </div>
            </section>
            {% endif %}
        </div>
        <div class="aux">
            {% if user %}
                <section class="side_bar">
                    <div class="related_friend">
                        <div>
                            <ul style="margin-left:-1.5em; font-size: 14px; color: black">
                                <h3>One Identity Core Features</h3>
                                <li>
                                    <a href=""><img src="images/phone.png" width="40" height="40" id="img">Make a Call</a>
                                </li>
                                <li>
                                    <a type="button"><img src="images/sms.png" width="40" height="40" id="img" data-toggle="modal" data-target="#smsModal">Send SMS</a>
                                </li>
                                <li>
                                    <a href="{{ path_for('compose') }}"><img src="images/mail.png" width="40" height="40" id="img">Compose Email</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>
                <section class="side_bar">
                    <div class="related_friend">
                        <div>
                            <ul style="margin-left:-1.5em; font-size: 14px; color: black">
                                <h3>Synchronise your Email Account</h3>
                                <li>
                                    <a href="/gmail"><img src="images/gmail.png" width="40" height="40" id="img">GMAIL</a>
                                </li>
                                <li>
                                    <a><img src="images/yahooo.png" width="40" height="40" id="img" data-toggle="modal" data-target="#emailModal">YAHOO</a>
                                </li>
                                <li>
                                    <a><img src="images/outlook.png" width="40" height="40" id="img" data-toggle="modal" data-target="#emailModal">OUTLOOK</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>
            {% else %}
                <section class="side_bar">
                    <div class="related_friend">
                        <h5><b>Find another friend</b></h5>
                        <div>
                            <form method="get" action="{{ path_for('search') }}">
                                <input type="text" name="q" placeholder="Mobile Number or Name" class="form-group" style="width: 200px; padding-left: 10px">
                                <input type="submit" name="submit" value="search" class="btn`">
                            </form>

                            <h5><b>Popular suggestions to connect with</b></h5>
                            <ul style="margin-left:-1.5em;">
                                <table>
                                    <th><img src="images/profile-img.jpg" width="70" height="70" id="img"></th>
                                    <th><a href="#ref">Tessy James</a></th>
                                </table>
                                <table>
                                    <th><img src="images/profile-img.jpg" width="70" height="70" id="img"></th>
                                    <th><a href="#ref">Tessy James</a></th>
                                </table>
                                <table>
                                    <th><img src="images/profile-img.jpg" width="70" height="70" id="img"></th>
                                    <th><a href="#ref">Tessy James</a></th>
                                </table>
                                <table>
                                    <th><img src="images/profile-img.jpg" width="70" height="70" id="img"></th>
                                    <th><a href="#ref">Tessy James</a></th>
                                </table>
                            </ul>
                        </div>
                    </div>
                </section>
                <section class="side_bar">
                    <div class="related">
                        <h3><b>Have an Account?</b></h3>
                        <a class="btn btn-success" href="{{ path_for('login') }}" class="viewbadges"><b>Click Here to login</b></a>
                    </div>
                </section>
            {% endif %}
        </div>
    </div>
    <!-- SMS Modal -->
    <div class="modal inmodal fade" id="smsModal" tabindex="-1" role="dialog"  aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Send SMS</h4>
                    <small class="font-bold">Send a simple easy sms to a number of your choice.</small>
                </div>
                <div class="modal-body">
                    <form method="post" action="{{ path_for('sms') }}">
                        <div class="form-group">
                            <label for="recipient-name" class="control-label">Recipient:</label>
                            <input type="number" class="form-control" id="phone" name="phone" style="width: 100%; text-align: justify" required>
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="control-label">Message:</label>
                            <textarea class="form-control" id="message" name="message" required></textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Send</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- YAHOO Modal -->
    <div class="modal inmodal fade" id="emailModal" tabindex="-2" role="dialog"  aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Connect Your Email Account</h4>
                    <small class="font-bold">synchronize your email account.</small>
                </div>
                <div class="modal-body">
                    <form method="post" action="{{ path_for('email') }}">
                        <div class="form-group">
                            <label for="recipient-name" class="control-label">Email:</label>
                            <input type="email" class="form-control" id="email" name="email" style="width: 100%; text-align: justify" required>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Send</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}