{% extends 'templates/partials/base.twig' %}
{% block content %}
    <div class="wrapper wrapper-content animated fadeInRight">

        <!-- PERSONAL EMAIL PREFERENCE COMES HERE-->
        <div class="row">
            <div class="col-lg-2" style="background-color: #fff; height: 300px; margin-left: 15px;">
                <div class="ibox float-e-margins">
                    <div class="ibox-content mailbox-content">
                        <div class="file-manager">
                            <a class="btn btn-block btn-primary compose-mail" style="margin-top: 20px" href="{{ path_for('compose') }}"><i class="fa fa-pencil" style="margin-right:10px"></i> Compose</a>
                            <div class="space-25"></div>
                            <h5>Folders</h5>
                            <ul class="folder-list m-b-md" style="padding: 0">
                                <li style="background-color: #ffffff; padding-left: 6px; padding-right: 6px;"><a href="{{ path_for('mailbox') }}" style="color: black"><i class="fa fa-inbox"></i> Inbox <span
                                                class="label label-warning pull-right" ng-bind="data.message_count"></span> </a></li>
                                <li><a href="{{ path_for('sent') }}"> <i class="fa fa-envelope-o"></i> Sent</a></li>
                                <li><a href="{{ path_for('drafts') }}"> <i class="fa fa-file-text-o"></i> Drafts</a></li>
                                <li><a href="{{ path_for('trash') }}"> <i class="fa fa-trash-o"></i> Trash</a></li>
                                <li><a href="{{ path_for('spam') }}"> <i class="fa fa-trash"></i> Spam</a></li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9" style="max-height: 500px; margin-left: 30px">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Personal Preferences
                            <small>Edit Your Personal Preference Here</small>
                        </h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>

                    <div class="ibox-content">
                        <form class="form-horizontal" id="personalPreferenceForm" method="post"
                              action="{{ path_for('preference') }}">
                            <div class="form-group">
                                <label for="signature" class="col-sm-2 control-label">Signature</label>
                                <div class="col-sm-10">
                                    <textarea  class="form-control summernote" name="signature" id="signature"></textarea>
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>
                            <div class="form-group" style="padding-bottom:20px;">
                                <div class="col-sm-6 col-sm-offset-2">
                                    {#<button class="btn btn-white" type="reset">Cancel</button>#}
                                    <button class="btn btn-primary" type="button" id="savePreferenceBtn">Save Preference
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- PERSONAL EMAIL PREFERENCE ENDS HERE-->

        <!-- PERSONAL INFORMATION EDITING STARTS-->

        <div class="row">
            <div class="col-lg-2" style="margin-left: 15px;"></div>
            <div class="col-lg-9" style="margin-left: 30px">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Update Profile
                            <small>Edit account profile settings.</small>
                        </h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <form method="post" id="basicSettingsForm" class="form-horizontal"
                              action="{{ path_for('basic_settings') }}">
                            <div>
                                <h2 class="text-right">Basic Information</h2>
                            </div>
                            <div class="form-group"><label class="col-lg-2 control-label">Mobile Phone Number</label>

                                <div class="col-lg-10"><input type="text" disabled="" value="{{ user.phone }}"
                                                              class="form-control"></div>
                            </div>
                            <div class="form-group"><label class="col-lg-2 control-label">Email Address</label>
                                <div class="col-lg-10"><input type="text" disabled="" value="{{ user.email }}"
                                                              class="form-control"></div>
                            </div>
                            <div class="form-group"><label class="col-lg-2 control-label">Web Address</label>
                                <div class="col-lg-10"><input type="text" disabled="" value="{{ user.website_url }}"
                                                              class="form-control"></div>
                            </div>

                            <div>
                                <h2 class="text-right">Contact Details</h2>
                            </div>
                            <div class="form-group"><label class="col-sm-2 control-label">First Name</label>
                                <div class="col-sm-10"><input type="text" class="form-control required"
                                                              name="first_name"
                                                              id="first_name" value="{{ user.first_name }}"></div>
                            </div>
                            <div class="form-group"><label class="col-sm-2 control-label">Last Name</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control required" name="last_name" id="last_name"
                                           value="{{ user.last_name }}">
                                </div>
                            </div>
                            <div class="form-group"><label class="col-sm-2 control-label">Address</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control required" name="address" id="address"
                                           value="{{ user.address }}"/>
                                </div>
                            </div>
                            <div class="form-group"><label class="col-sm-2 control-label">Country</label>

                                <div class="col-sm-10">
                                    <select class="form-control m-b required" name="country" id="country">
                                        {% for country in countries %}
                                            <option {% if user.country == country.name %} selected{% endif %} value="{{ country.name }}">{{ country.name }} ({{ country.code }})
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>


                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-sm-6 col-sm-offset-2">
                                    <button class="btn btn-white" type="reset">Cancel</button>
                                    <button class="btn btn-primary" type="button" id="saveBasicInfoBtn">Save Basic
                                        Contact
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- EDIT BASIC PROFILE-->

        <!-- EDIT EDUCATION HISTORY-->

        <div class="row">
            <div class="col-lg-2" style="margin-left: 15px;"></div>
            <div class="col-lg-9" style="margin-left: 30px">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>
                            Update Education History
                            <small>Edit Education and Academic Settings</small>
                        </h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>

                    <div class="ibox-content">
                        <div>
                            <table class="table table-responsive table-bordered" id="educationHistoryTable">
                                <thead>
                                <tr>
                                    <th>Institution</th>
                                    <th>Course</th>
                                    <th>Certificate</th>
                                    <th>Grad. Year</th>
                                </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>

                        <form class="form-horizontal" id="saveEducationHistoryForm" method="post"
                              action="{{ path_for('education') }}">
                            <div id="loadMoreSchools">
                                <div class="form-group"><label class="col-sm-2 control-label">Institution</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="institution[]" id="institution"/>
                                    </div>
                                </div>

                                <div class="form-group"><label class="col-sm-2 control-label">Course</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="course[]" id="course"/>
                                    </div>
                                </div>

                                <div class="form-group"><label class="col-sm-2 control-label">Certificate</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="certificate[]" id="certificate"/>
                                    </div>
                                </div>

                                <div class="form-group" id="data_1">
                                    <label class="col-sm-2 control-label">Graduation Date</label>
                                    <div class="col-sm-10">
                                        <div class="input-group date">
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            <input type="text" class="form-control user-grad-date"
                                                   name="graduation_date[]"
                                                   id="graduation_date" value="03-04-2014">
                                        </div>
                                    </div>
                                </div>

                                <div class="hr-line-dashed"></div>
                            </div>
                        </form>

                        <div align="right">
                            <button class="btn btn-while" type="button" id="addMoreSchoolsBtn">
                                <i class="fa fa-plus"></i>
                                Add More Schools
                            </button>
                        </div>

                        <div class="hr-line-dashed"></div>
                        <div class="form-group" style="padding-bottom:20px;">
                            <div class="col-sm-6 col-sm-offset-2">
                                <button class="btn btn-white" type="reset">Cancel</button>
                                <button class="btn btn-primary" type="button" id="saveEducationBtn">Save Education
                                    History
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- END OF EDITING EDUCATION HISTORY-->

        <!-- EDIT WORK EXPERIENCE HISTORY-->

        <div class="row">
            <div class="col-lg-2" style="margin-left: 15px;"></div>
            <div class="col-lg-9" style="margin-left:30px">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>
                            Update Work Experience
                            <small>Edit Work Experience Settings</small>
                        </h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>

                    <div class="ibox-content">
                        <div>
                            <table class="table table-responsive table-bordered" id="workExperienceHistoryTable">
                                <thead>
                                <tr>
                                    <th>Company</th>
                                    <th>Post Held</th>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                    <th>Job Description</th>
                                </tr>
                                </thead>

                                <tbody>

                                </tbody>
                            </table>
                        </div>

                        <form class="form-horizontal" id="workExperienceForm" method="post"
                              action="{{ path_for('work') }}">
                            <div id="loadMoreWorks">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Company Name</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="company_name[]"
                                               id="company_name"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Post Held</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="post_held[]" id="post_held"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Job Description</label>
                                    <div class="col-sm-10">
                                    <textarea class="form-control" name="job_description[]"
                                              id="job_description"></textarea>
                                    </div>
                                </div>


                                <div class="form-group" id="data_1">
                                    <label class="col-sm-2 control-label">Start Date:</label>
                                    <div class="col-sm-10">
                                        <div class="input-group date" style="position: relative;">
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            <input type="text" class="form-control work_start_date" name="start_date[]"
                                                   id="work_start_date" value="03/04/2014"/>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group" id="data_1">
                                    <label class="col-sm-2 control-label">End Date:</label>
                                    <div class="col-sm-10">
                                        <div class="input-group date" style="position: relative;">
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            <input type="text" class="form-control work_end_date" name="end_date[]"
                                                   id="work_end_date" value="03/04/2014"/>
                                        </div>
                                    </div>
                                </div>

                                <div class="hr-line-dashed"></div>
                            </div>
                        </form>

                        <div align="right">
                            <button class="btn btn-while" type="button" id="addMoreWorkInfoBtn">
                                <i class="fa fa-plus"></i>
                                Add More
                            </button>
                        </div>

                        <div class="hr-line-dashed"></div>
                        <div class="form-group" style="padding-bottom:20px;">
                            <div class="col-sm-6 col-sm-offset-2">
                                <button class="btn btn-white" type="reset">Cancel</button>
                                <button class="btn btn-primary" type="button" id="saveWorkBtn">Save Work Experience
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- END OF EDITING WORK EXPERIENCE-->

        <!-- CHANGE PASSWORD INTERFACE-->
        <div class="row">
            <div class="col-lg-2" style="margin-left: 15px;"></div>
            <div class="col-lg-9" style="margin-left:30px">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Change Password
                        </h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <form method="post" class="form-horizontal" action="{{ path_for('password') }}"
                              id="changePasswordForm">
                            {% if errors.current_password %}
                            <span style="color: red">{{ errors.current_password | first }}</span>
                            {% endif %}<br>
                            <div class="form-group"><label class="col-sm-2 control-label">Current Password</label>
                                <div class="col-sm-10">
                                    <input type="password" class="form-control required" name="current_password"
                                           id="current_password" required/>
                                </div>
                            </div>
                            {% if errors.new_password %}
                            <span style="color: red">{{ errors.new_password | first }}</span>
                            {% endif %}<br>
                            <div class="form-group"><label class="col-sm-2 control-label">New Password</label>
                                <div class="col-sm-10">
                                    <input type="password" class="form-control" name="new_password" id="new_password"
                                           required/>
                                </div>
                            </div>
                            {% if errors.repeat_password %}
                            <span style="color: red">{{ errors.repeat_password | first }}</span>
                            {% endif %}<br>
                            <div class="form-group"><label class="col-sm-2 control-label">Confirm Password</label>
                                <div class="col-sm-10">
                                    <input type="password" class="form-control required" name="repeat_password"
                                           id="repeat_password" required/>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-6 col-sm-offset-2">
                                    <button class="btn btn-white" type="reset">Cancel</button>
                                    <button class="btn btn-primary" type="button" id="changePasswordBtn">Save changes
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- CHANGE PASSWORD ENDS-->

        <div id="addMoreEducation" style="display: none;">
            <div class="form-group"><label class="col-sm-2 control-label">Institution</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="institution[]" id="institution"/>
                </div>
            </div>

            <div class="form-group"><label class="col-sm-2 control-label">Course</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="course[]" id="course"/>
                </div>
            </div>

            <div class="form-group"><label class="col-sm-2 control-label">Certificate</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="certificate[]" id="certificate"/>
                </div>
            </div>

            <div class="form-group" id="data_1">
                <label class="col-sm-2 control-label">Graduation Date</label>
                <div class="col-sm-10">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input type="text" class="form-control user-grad-date" name="graduation_date[]"
                               id="graduation_date"
                               value="03-04-2014">
                    </div>
                </div>
            </div>


            <div class="hr-line-dashed"></div>
        </div>

        <div id="addMoreWorkInformations" style="display: none;">
            <div class="form-group">
                <label class="col-sm-2 control-label">Company Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="company_name[]" id="company_name"/>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Post Held</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="post_held[]" id="post_held"/>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Job Description</label>
                <div class="col-sm-10">
                    <textarea class="form-control" name="job_description[]" id="job_description"></textarea>
                </div>
            </div>


            <div class="form-group" id="data_1">
                <label class="col-sm-2 control-label">Start Date:</label>
                <div class="col-sm-10" style="position: relative;">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input type="text" class="form-control work_start_date" name="start_date[]" id="work_start_date"
                               value="03/04/2014"/>
                    </div>
                </div>
            </div>

            <div class="form-group" id="data_1">
                <label class="col-sm-2 control-label">End Date:</label>
                <div class="col-sm-10" style="position: relative;">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <textarea class="form-control work_end_date" name="end_date[]" id="work_end_date"
                                  value="03/04/2014">
                        </textarea>
                    </div>
                </div>
            </div>

            <div class="hr-line-dashed"></div>
        </div>

    </div>
{% endblock %}

    {% block scripts %}

        <script>
            $(function () {

                $("#signature").summernote({
                    height: 300
                });

                //retrieve previously existing record
                //for the education history
                getEducationHistory();

                //for the work experience
                getWorkExperienceHistory();

                //for the user experience
                getUserPreference();

                $(document).on('focus', '.user-grad-date', function () {
                    $(this).datetimepicker({format: 'YYYY-MM-DD'});
                });

                $(document).on('focus', '.work_start_date', function () {
                    $(this).datetimepicker({format: 'YYYY-MM-DD'});
                });

                $(document).on('focus', '.work_end_date', function () {
                    $(this).datetimepicker({format: 'YYYY-MM-DD'});
                });

                $("#addMoreSchoolsBtn").click(function () {
                    $("#loadMoreSchools").append($("#addMoreEducation").html());
                });

                $("#addMoreWorkInfoBtn").click(function () {
                    $("#loadMoreWorks").append($("#addMoreWorkInformations").html());
                });

                //=================================FORM SUBMISSIONS COMES HERE
                $("#basicSettingsForm").ajaxForm(function (_data) {
                    toastr.clear();
                    var data = JSON.parse(_data);
                    if (data.status !== 'success') {
                        displayToast(1000, data.message, 'error', false, false);
                        return;
                    }

                    displayToast(1000, data.description, 'success', true, false);
                });

                $("#saveBasicInfoBtn").click(function () {
                    //alert("Hello World!!!");
                    var form = $("#basicSettingsForm");

                    if (form.valid()) {
                        displayToast(0, 'Saving changes...', 'info');
                        form.submit();
                    }
                });

                //=========================EDUCATION HISTORY

                $("#saveEducationHistoryForm").ajaxForm(function (_data) {
                    toastr.clear();
                    var data = JSON.parse(_data);
                    if (data.status !== 'success') {
                        displayToast(1000, data.message, 'error', false, false);
                        return;
                    }
                    $("#saveEducationHistoryForm").resetForm();
                    displayToast(1000, data.description, 'success', true, false);
                    getEducationHistory();
                });

                $("#saveEducationBtn").click(function () {
                    var form = $("#saveEducationHistoryForm");

                    if (form.valid()) {
                        displayToast(0, 'Saving changes...', 'info');
                        form.submit();
                    }
                });

                //===========================WORK EXPERIENCE
                $("#workExperienceForm").ajaxForm(function (_data) {
                    toastr.clear();
                    var data = JSON.parse(_data);
                    if (data.status !== 'success') {
                        displayToast(1000, data.message, 'error', false, false);
                        return;
                    }

                    displayToast(1000, data.description, 'success', true, false);
                    $("#workExperienceForm").resetForm();
                    getWorkExperienceHistory();
                });

                $("#saveWorkBtn").click(function () {
                    var form = $("#workExperienceForm");

                    if (form.valid()) {
                        displayToast(0, 'Saving changes...', 'info');
                        form.submit();
                    }
                });

                //=================================USER PREFERENCE

                $("#personalPreferenceForm").ajaxForm(function (_data) {

                    var data = JSON.parse(_data);

                    toastr.clear();
                    if (data.status !== 'success') {
                        displayToast(1000, data.message, 'error', false, false);
                        return;
                    }

                    displayToast(1000, data.description, 'success', true, false);
                });

                $("#savePreferenceBtn").click(function () {
                    var form = $("#personalPreferenceForm");

                    if (form.valid()) {
                        displayToast(0, 'Saving changes...', 'info');
                        form.submit();
                    }
                });

                //===========================CHANGE PASSWORD
                $("#changePasswordForm").ajaxForm(function (_data) {

                    toastr.clear();
                    var data = JSON.parse(_data);
                    if (data.status !== 'success') {
                        displayToast(3000, data.message, 'error', false);
                        return;
                    }

                    displayToast(1000, data.description, 'success', false);
                    $("#changePasswordForm").resetForm();
                });

                $("#changePasswordBtn").click(function () {

                    var current_password = $("#current_password").val();
                    var new_password = $("#new_password").val();
                    var repeat_password = $("#repeat_password").val();

                    if (current_password === new_password) {
                        displayToast(1000, "Your Old and new password can't be the same thing", 'error', false);
                        return;
                    }

                    if (new_password !== repeat_password) {
                        displayToast(1000, "New Password and Confirmation do not match!!", 'error', false);
                        return;
                    }

                    var form = $("#changePasswordForm");
                    if (form.valid()) {
                        displayToast(0, 'Saving changes...', 'info');
                        form.submit();
                    }
                });

            });

            function getEducationHistory() {
                $.get('/api/v1/education', function (data) {
                    var data = JSON.parse(data);

                    if (data.status !== 'success') {
                        displayToast(1000, data.message, false, false);
                        return;
                    }

                    if (data.message.length > 0) {
                        //$("#educationHistoryTable").empty();
                        $("#educationHistoryTable > tbody").html("");
                        $.each(data.message, function (i, v) {
                            $("#educationHistoryTable").append("<tr>" +
                                    "<td>" + v.school_name + "</td>" +
                                    "<td>" + v.course + "</td>" +
                                    "<td>" + v.certificate + "</td>" +
                                    "<td>" + v.grad_year + "</td>" + +"</tr>");
                        });
                    }
                    else {
                        console.log("No Record Exist for now");
                    }
                });

            }

            function getWorkExperienceHistory() {
                //
                $.get('/api/v1/work_experience', function (data) {
                    var data = JSON.parse(data);

                    if (data.status !== 'error' && data.message.length > 0) {
                        //$("#workExperienceHistoryTable").empty();
                        $("#workExperienceHistoryTable > tbody").html("");

                        $.each(data.message, function (i, v) {
                            $("#workExperienceHistoryTable").append("<tr>"
                                    + "<td>" + v.workplace + "</td>"
                                    + "<td>" + v.post_held + "</td>"
                                    + "<td>" + v.start_date + "</td>"
                                    + "<td>" + v.end_date + "</td>"
                                    + "<td><p align='justify'>" + v.job_desc + "</p></td>"
                                    + "</tr>");
                        });
                    }
                });
            }

            function getUserPreference() {
                $.get('/api/v1/preference', function (data) {
                    var data = JSON.parse(data);

                    if (data.status !== 'success') {
                        displayToast(1000, data.description, false, false);
                        return;
                    }

                    if (data.message !== null) {

                        if (data.message.signature !== "" || data.message.signature !== null) {
//                        $("#signature").text(data.message.signature);
                            $("#signature").code(data.message.signature);
                        }

                        if (data.message.undo_timer !== "" || data.message.undo_timer !== null) {
                            $("#undo_timer").val(data.message.undo_timer);
                        }
                    }
                });
            }
        </script>

    {% endblock %}


