<!DOCTYPE html>
<html>
<style type="text/css">
	#container{
		width: 600px;
		height: 700px;
		margin: auto;
		border-radius: 2em;
		margin: auto;
		border: thin;
		border-color: black;
		background-color: black;



	}

	#header{
		height: 100px;
		width: 600px;
		background-color:black;
		margin: 0px;
		border-top-left-radius: 1em;
		border-top-right-radius: 1em;
	}

	#content{
		height: 400px;
		width: 600px;
		background-color: white;
		margin-top: 10px;
	}
	#footer{
		height: 150px;
		width:600px;
		margin-top: 10px;
		background-color: black;
	}
	#txtAreaSms{
		width: 599px;
		height: 400px;
		background-color: whitesmoke;
		border: none;
		font-size: 18px;
		resize: none;
	}
	#btnSms{
		width: 200px;
		height: 100px;
		background-color: blue;
		color: white;
		border: none;
		cursor: pointer;
		float: right;
		margin-top: 20px;
		margin-right: 40px;
		font-size: 25px;
	}
	#recNum{
		height: 50px;
		width: 350px;
		background-color: whitesmoke;
		border: none;
		float: left;
		margin-top: 20px;
		margin-left: 40px;
		font-size: 19px;
		-webkit-appearance: none;

	}
	input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
 
input[type="number"] {
    -moz-appearance: textfield;
}
</style>
<head>
	<title></title>
</head>
<body>
<div id="container">
<div id="header">
	<input type="number" name="recipient" id="recNum" placeholder="Recipient's Phone Number...">
</div>

<div id="content">
<textarea id="txtAreaSms" placeholder="Type Message Here...."></textarea>
</div>
<div id="footer">
	<button id="btnSms">
		<strong>Send</strong>
	</button>
</div>
</div>

</body>
</html>