{% extends 'templates/partials/base.twig' %}
{% block content %}
    <div class="wrapper wrapper-content animated fadeInRight">

        <!-- PERSONAL INFORMATION EDITING STARTS-->

        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <div class="ibox float-e-margins">
                    <div class="ibox-content" style="min-height: 150px;">
                        <div class="pull-left profile_image">
                            <img src="images/profile.svg" width="120" height="120">
                        </div>
                        <div class="text-justify" style="margin-right: 10px">
                            <span style="padding-left: 20px; font-size: 20px;">{{ account.first_name }} {{ account.last_name }}</span><br>
                            <small style="padding-left: 20px;">{{ account.email }}</small> | <small>{{ account.phone }}</small><br>
                            <small style="padding-left: 20px;">{{ account.website_url }}</small>
                        </div>
                        {% if user %}
                            {% if user.email != account.email %}
                                <a style="margin: 20px 20px" href="/settings" class="btn btn-sm btn-primary">Update Profile</a>
                            {% else %}
                                <a style="margin: 20px 20px" href="/compose" class="btn btn-sm btn-success">Send Email</a>
                            {% endif %}
                        {% else %}
                            <a style="margin: 20px 20px" href="/register" class="btn btn-sm btn-success">Sign Up</a>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>

        <!-- EDUCATION HISTORY-->

        {% if institutions.length > 0 %}
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Education History</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>

                    <div class="ibox-content">
                        <div>
                            <table class="table table-responsive table-bordered" id="educationHistoryTable">
                                <thead>
                                <tr>
                                    <th>Institution</th>
                                    <th>Course</th>
                                    <th>Certificate</th>
                                    <th>Graduation Year</th>
                                </tr>
                                </thead>
                                <tbody>
                                    {% for edu in institutions %}
                                        <tr>
                                            <td>{{ edu.school_name }}</td>
                                            <td>{{ edu.course }}</td>
                                            <td>{{ edu.certificate }}</td>
                                            <td>{{ edu.grad_year }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        <!-- END OF EDUCATION HISTORY-->

        <!-- WORK EXPERIENCE HISTORY-->

        {% if places.length > 0 %}
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Work Experience</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>

                    <div class="ibox-content">
                        <div>
                            <table class="table table-responsive table-bordered" id="workExperienceHistoryTable">
                                <thead>
                                <tr>
                                    <th>Company</th>
                                    <th>Post Held</th>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                    <th>Job Description</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for work in places %}
                                    <tr>
                                        <td>{{ work.workplace }}</td>
                                        <td>{{ work.post_held }}</td>
                                        <td>{{ work.start_date }}</td>
                                        <td>{{ work.end_date }}</td>
                                        <td>{{ work.job_desc }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        <!-- END OF WORK EXPERIENCE-->

    </div>
{% endblock %}


