<!DOCTYPE html>
<html>
<head>
    <title>One Identity</title>
    <link rel="stylesheet" type="text/css" href="../static/css/Homepage.css">
    <link rel="stylesheet" type="text/css" href="../static//css/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static//css/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/fonts.css">
    <link rel="stylesheet" type="text/css" href="../static/css/helper/dist/css/bootstrap-formhelpers.min.css">
    <script type="text/javascript" src="../static/css/bootstrap/js/jquery.min.js"></script>
    <script type="text/javascript" src="../static/css/bootstrap/js/bootstrap.min.js"></script>
</head>
<body class="_body">
<div class="body_container">

    {% include 'templates/partials/header.twig'%}

    {% block content %}
    {% endblock %}

</div>
{% include 'templates/partials/footer.twig' %}

<div class="modal inmodal fade" id="smsModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                            class="sr-only">Close</span></button>
                <h4 class="modal-title">Send SMS</h4>
                <small class="font-bold">Send a simple easy sms to a number of your choice.</small>
            </div>
            <div class="modal-body">
                <form method="post" action="{{ path_for('sms') }}">
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">Recipient:</label>
                        <input type="number" class="form-control" id="phone" name="phone" required>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="control-label">Message:</label>
                        <textarea class="form-control" id="message" name="message" required></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal inmodal fade" id="yahooModal" tabindex="-2" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                            class="sr-only">Close</span></button>
                <h4 class="modal-title">Connect Your Email Account</h4>
                <small class="font-bold">synchronize your email account.</small>
            </div>
            <div class="modal-body">
                <form class="form-inline" method="post" action="{{ path_for('yahoo') }}">
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">Email:</label>&nbsp;
                        <div class="input-group">
                            <input type="text" class="form-control" id="email" name="email"
                                   placeholder="Enter Email Address" required>
                            <div class="input-group-addon">@yahoo.com</div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>