<!DOCTYPE html>
<html ng-app="mainApp">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>1Identiti</title>
    <link rel='shortcut icon' href='/images/favicon.ico' type='image/x-icon' />

    <script src="/static/js/pace.js"></script>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/node_modules/select2/dist/css/select2.min.css" rel="stylesheet" />
    <link href="/static/css/theme.css" rel="stylesheet">
    <link href="/static/fonts/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">
    {#<link href='/static/css/roboto.css' rel='stylesheet' type='text/css'>#}
    <link href="/static/css/theme-loading-bar.css" rel="stylesheet"/>
    <link href="/static/css/plugins/toastr/toastr.min.css" rel="stylesheet">
    <!-- Gritter -->
    <link href="/static/js/plugins/gritter/jquery.gritter.css" rel="stylesheet">
    <link href="/static/css/animate.css" rel="stylesheet">
    <link href="/static/css/plugins/summernote/summernote.css" rel="stylesheet">
    <link href="/static/css/plugins/summernote/summernote-bs3.css" rel="stylesheet">

    <link href="/static/css/plugins/fullcalendar/fullcalendar.print.css" rel='stylesheet' media='print'>
    <link href="/static/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="/static/css/plugins/chosen/chosen.css" rel="stylesheet">
    <link href="/static/css/plugins/colorpicker/bootstrap-colorpicker.min.css" rel="stylesheet">
    <link href="/static/css/plugins/cropper/cropper.min.css" rel="stylesheet">
    <link href="/static/css/plugins/switchery/switchery.css" rel="stylesheet">
    <link href="/static/css/plugins/jasny/jasny-bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/plugins/nouslider/jquery.nouislider.css" rel="stylesheet">
    <link href="/static/css/plugins/datapicker/datepicker3.css" rel="stylesheet">
    <link href="/static/css/plugins/ionRangeSlider/ion.rangeSlider.css" rel="stylesheet">
    <link href="/static/css/plugins/ionRangeSlider/ion.rangeSlider.skinFlat.css" rel="stylesheet">

    <link href="/bower_components/bootstrap-tokenfield/dist/css/bootstrap-tokenfield.min.css" rel="stylesheet" />
    <link href="/bower_components/bootstrap-tokenfield/dist/css/tokenfield-typeahead.min.css" rel="stylesheet" />


    <link rel="stylesheet" href="/static/css/pure-css-loader/dist/css-loader.css">
    <link href="/static/css/style.css" rel="stylesheet">

    {#<link rel="stylesheet" href="/static/css/bootstrap/css/datepicker.css">#}
    {#<link href="/bower_components/datetimepicker/build/css/bootstrap-datetimepicker.min.css" />#}
    {#<link href="/static/css/plugins/fullcalendar/fullcalendar.css" rel="stylesheet">#}

</head>

<body ng-controller="HomeController">

<div id="wrapper">

    {#<nav class="navbar-default navbar-static-side" role="navigation">#}
        {#<div class="sidebar-collapse">#}
            {#<ul class="nav" id="side-menu">#}
                {#<li class="nav-header">#}
                    {#<div class="dropdown profile-element"> <span>#}
                            {#<img alt="image" class="img-circle" src="img/profile_small.jpg"/>#}
                             {#</span>#}
                        {#<a data-toggle="dropdown" class="dropdown-toggle" href="#">#}
                            {#<span class="clear"> <span class="block m-t-xs"> <strong#}
                                            {#class="font-bold">David Williams</strong>#}
                             {#</span> <span class="text-muted text-xs block">Art Director <b#}
                                            {#class="caret"></b></span> </span> </a>#}
                        {#<ul class="dropdown-menu animated fadeInRight m-t-xs">#}
                            {#<li><a href="profile.html">Profile</a></li>#}
                            {#<li><a href="contacts.html">Contacts</a></li>#}
                            {#<li><a href="mailbox.html">Mailbox</a></li>#}
                            {#<li class="divider"></li>#}
                            {#<li><a href="login.html">Logout</a></li>#}
                        {#</ul>#}
                    {#</div>#}
                    {#<div class="logo-element">#}
                        {#IN+#}
                    {#</div>#}
                {#</li>#}
                {#<li>#}
                    {#<a href="index.html"><i class="fa fa-th-large"></i> <span class="nav-label">Dashboards</span> <span#}
                                {#class="fa arrow"></span></a>#}
                    {#<ul class="nav nav-second-level">#}
                        {#<li><a href="index.html">Dashboard v.1</a></li>#}
                        {#<li><a href="dashboard_2.html">Dashboard v.2</a></li>#}
                        {#<li><a href="dashboard_3.html">Dashboard v.3</a></li>#}
                        {#<li><a href="dashboard_4_1.html">Dashboard v.4</a></li>#}
                    {#</ul>#}
                {#</li>#}
                {#<li>#}
                    {#<a href="layouts.html"><i class="fa fa-diamond"></i> <span class="nav-label">Layouts</span> <span#}
                                {#class="label label-primary pull-right">NEW</span></a>#}
                {#</li>#}
                {#<li>#}
                    {#<a href="#"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">Graphs</span><span#}
                                {#class="fa arrow"></span></a>#}
                    {#<ul class="nav nav-second-level">#}
                        {#<li><a href="graph_flot.html">Flot Charts</a></li>#}
                        {#<li><a href="graph_morris.html">Morris.js Charts</a></li>#}
                        {#<li><a href="graph_rickshaw.html">Rickshaw Charts</a></li>#}
                        {#<li><a href="graph_chartjs.html">Chart.js</a></li>#}
                        {#<li><a href="graph_peity.html">Peity Charts</a></li>#}
                        {#<li><a href="graph_sparkline.html">Sparkline Charts</a></li>#}
                    {#</ul>#}
                {#</li>#}
                {#<li>#}
                    {#<a href="mailbox.html"><i class="fa fa-envelope"></i> <span class="nav-label">Mailbox </span><span#}
                                {#class="label label-warning pull-right">16/24</span></a>#}
                    {#<ul class="nav nav-second-level">#}
                        {#<li><a href="mailbox.html">Inbox</a></li>#}
                        {#<li><a href="mail_detail.html">Email view</a></li>#}
                        {#<li><a href="mail_compose.html">Compose email</a></li>#}
                        {#<li><a href="email_template.html">Email templates</a></li>#}
                    {#</ul>#}
                {#</li>#}
                {#<li>#}
                    {#<a href="widgets.html"><i class="fa fa-flask"></i> <span class="nav-label">Widgets</span> </a>#}
                {#</li>#}
                {#<li>#}
                    {#<a href="#"><i class="fa fa-edit"></i> <span class="nav-label">Forms</span><span#}
                                {#class="fa arrow"></span></a>#}
                    {#<ul class="nav nav-second-level">#}
                        {#<li><a href="form_basic.html">Basic form</a></li>#}
                        {#<li><a href="form_advanced.html">Advanced Plugins</a></li>#}
                        {#<li><a href="form_wizard.html">Wizard</a></li>#}
                        {#<li><a href="form_file_upload.html">File Upload</a></li>#}
                        {#<li><a href="form_editors.html">Text Editor</a></li>#}
                    {#</ul>#}
                {#</li>#}
                {#<li class="active">#}
                    {#<a href="#"><i class="fa fa-desktop"></i> <span class="nav-label">App Views</span> <span#}
                                {#class="pull-right label label-primary">SPECIAL</span></a>#}
                    {#<ul class="nav nav-second-level">#}
                        {#<li><a href="contacts.html">Contacts</a></li>#}
                        {#<li class="active"><a href="profile.html">Profile</a></li>#}
                        {#<li><a href="projects.html">Projects</a></li>#}
                        {#<li><a href="project_detail.html">Project detail</a></li>#}
                        {#<li><a href="file_manager.html">File manager</a></li>#}
                        {#<li><a href="calendar.html">Calendar</a></li>#}
                        {#<li><a href="faq.html">FAQ</a></li>#}
                        {#<li><a href="timeline.html">Timeline</a></li>#}
                        {#<li><a href="pin_board.html">Pin board</a></li>#}
                    {#</ul>#}
                {#</li>#}
                {#<li>#}
                    {#<a href="#"><i class="fa fa-files-o"></i> <span class="nav-label">Other Pages</span><span#}
                                {#class="fa arrow"></span></a>#}
                    {#<ul class="nav nav-second-level">#}
                        {#<li><a href="search_results.html">Search results</a></li>#}
                        {#<li><a href="lockscreen.html">Lockscreen</a></li>#}
                        {#<li><a href="invoice.html">Invoice</a></li>#}
                        {#<li><a href="login.html">Login</a></li>#}
                        {#<li><a href="login_two_columns.html">Login v.2</a></li>#}
                        {#<li><a href="register.html">Register</a></li>#}
                        {#<li><a href="404.html">404 Page</a></li>#}
                        {#<li><a href="500.html">500 Page</a></li>#}
                        {#<li><a href="empty_page.html">Empty page</a></li>#}
                    {#</ul>#}
                {#</li>#}
                {#<li>#}
                    {#<a href="#"><i class="fa fa-globe"></i> <span class="nav-label">Miscellaneous</span><span#}
                                {#class="label label-info pull-right">NEW</span></a>#}
                    {#<ul class="nav nav-second-level">#}
                        {#<li><a href="toastr_notifications.html">Notification</a></li>#}
                        {#<li><a href="nestable_list.html">Nestable list</a></li>#}
                        {#<li><a href="timeline_2.html">Timeline v.2</a></li>#}
                        {#<li><a href="forum_main.html">Forum view</a></li>#}
                        {#<li><a href="google_maps.html">Google maps</a></li>#}
                        {#<li><a href="code_editor.html">Code editor</a></li>#}
                        {#<li><a href="modal_window.html">Modal window</a></li>#}
                        {#<li><a href="validation.html">Validation</a></li>#}
                        {#<li><a href="tree_view.html">Tree view</a></li>#}
                        {#<li><a href="chat_view.html">Chat view</a></li>#}
                    {#</ul>#}
                {#</li>#}
                {#<li>#}
                    {#<a href="#"><i class="fa fa-flask"></i> <span class="nav-label">UI Elements</span><span#}
                                {#class="fa arrow"></span></a>#}
                    {#<ul class="nav nav-second-level">#}
                        {#<li><a href="typography.html">Typography</a></li>#}
                        {#<li><a href="icons.html">Icons</a></li>#}
                        {#<li><a href="draggable_panels.html">Draggable Panels</a></li>#}
                        {#<li><a href="buttons.html">Buttons</a></li>#}
                        {#<li><a href="video.html">Video</a></li>#}
                        {#<li><a href="tabs_panels.html">Tabs & Panels</a></li>#}
                        {#<li><a href="notifications.html">Notifications & Tooltips</a></li>#}
                        {#<li><a href="badges_labels.html">Badges, Labels, Progress</a></li>#}
                    {#</ul>#}
                {#</li>#}

                {#<li>#}
                    {#<a href="grid_options.html"><i class="fa fa-laptop"></i> <span class="nav-label">Grid options</span></a>#}
                {#</li>#}
                {#<li>#}
                    {#<a href="#"><i class="fa fa-table"></i> <span class="nav-label">Tables</span><span#}
                                {#class="fa arrow"></span></a>#}
                    {#<ul class="nav nav-second-level">#}
                        {#<li><a href="table_basic.html">Static Tables</a></li>#}
                        {#<li><a href="table_data_tables.html">Data Tables</a></li>#}
                        {#<li><a href="jq_grid.html">jqGrid</a></li>#}
                    {#</ul>#}
                {#</li>#}
                {#<li>#}
                    {#<a href="#"><i class="fa fa-picture-o"></i> <span class="nav-label">Gallery</span><span#}
                                {#class="fa arrow"></span></a>#}
                    {#<ul class="nav nav-second-level">#}
                        {#<li><a href="basic_gallery.html">Lightbox Gallery</a></li>#}
                        {#<li><a href="carousel.html">Bootstrap Carusela</a></li>#}

                    {#</ul>#}
                {#</li>#}
                {#<li>#}
                    {#<a href="#"><i class="fa fa-sitemap"></i> <span class="nav-label">Menu Levels </span><span#}
                                {#class="fa arrow"></span></a>#}
                    {#<ul class="nav nav-second-level">#}
                        {#<li>#}
                            {#<a href="#">Third Level <span class="fa arrow"></span></a>#}
                            {#<ul class="nav nav-third-level">#}
                                {#<li>#}
                                    {#<a href="#">Third Level Item</a>#}
                                {#</li>#}
                                {#<li>#}
                                    {#<a href="#">Third Level Item</a>#}
                                {#</li>#}
                                {#<li>#}
                                    {#<a href="#">Third Level Item</a>#}
                                {#</li>#}

                            {#</ul>#}
                        {#</li>#}
                        {#<li><a href="#">Second Level Item</a></li>#}
                        {#<li>#}
                            {#<a href="#">Second Level Item</a></li>#}
                        {#<li>#}
                            {#<a href="#">Second Level Item</a></li>#}
                    {#</ul>#}
                {#</li>#}
                {#<li>#}
                    {#<a href="css_animation.html"><i class="fa fa-magic"></i> <span#}
                                {#class="nav-label">CSS Animations </span><span#}
                                {#class="label label-info pull-right">62</span></a>#}
                {#</li>#}
                {#<li class="landing_link">#}
                    {#<a target="_blank" href="Landing_page/index.html"><i class="fa fa-star"></i> <span#}
                                {#class="nav-label">Landing Page</span> <span#}
                                {#class="label label-warning pull-right">NEW</span></a>#}
                {#</li>#}
                {#<li class="special_link">#}
                    {#<a href="package.html"><i class="fa fa-database"></i> <span class="nav-label">Package</span></a>#}
                {#</li>#}
            {#</ul>#}

        {#</div>#}
    {#</nav>#}

    <div id="page-wrapper" class="gray-bg s3-loader">
        <div class="row border-bottom">
            <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0; back">
                <div class="navbar-header">
                    <ul class="nav navbar-top-links navbar-left">
                        <li class="dropdown">
                            <a href="/home">
                                <span style="font-size: 20px; padding-left: 20px" class="clear">1Identiti</span>
                            </a>

                        </li>
                    </ul>
                </div>

                <form class="navbar-form-custom" style="width: 300px; margin-top: 18px" method="get" action="{{ path_for('search') }}">
                    <div class="form-group">
                        <select class="form-control colleague_search"
                               name="q" id="q" style="width:100%">
                        </select>
                    </div>
                </form>
                {% if user %}
                    <ul class="nav navbar-top-links navbar-right visible-xs visible-sm">
                        <li>
                            <a href="{{ path_for('mailbox') }}">
                                <i class="fa fa-envelope-o"></i>
                            </a>
                        </li>
                        <li>
                            <a href="{{ path_for('contacts') }}">
                                <i class="fa fa-book"></i>
                            </a>
                        </li>
                        <li>
                            <a href="/{{ user.phone }}">
                                <i class="fa fa-user-md"></i>
                            </a>
                        </li>
                        <li>
                            <a href="{{ path_for('logout') }}">
                                <i class="fa fa-sign-out"></i>
                            </a>
                        </li>
                    </ul>
                    <ul class="nav navbar-top-links navbar-right hidden-sm hidden-xs">
                        {#<li>#}
                            {#<a href="{{ path_for('mailbox') }}">#}
                                {#<i class="fa fa-envelope-o"></i>Inbox#}
                            {#</a>#}
                        {#</li>#}
                        <li>
                            <a href="{{ path_for('contacts') }}">
                                <i class="fa fa-book"></i>Contacts
                            </a>
                        </li>
                        <li>
                            <a href="/{{ user.phone }}">
                                <i class="fa fa-user-md"></i>Profile
                            </a>
                        </li>

                        <li>
                            <a href="{{ path_for('settings') }}">
                                <i class="fa fa-gear"></i>Settings
                            </a>
                        </li>

                        <li>
                            <a href="{{ path_for('logout') }}">
                                <i class="fa fa-sign-out"></i>Logout
                            </a>
                        </li>
                    </ul>
                {% else %}
                    <div style="zoom: 0.8; margin-top: 25px; margin-right: 5px" class="pull-right">
                        <form class="form-inline hidden-xs hidden-sm" action="{{ path_for('login') }}" accept-charset="utf-8" method="post">
                            <div class="form-group">
                                <div class="input-group" style="width: 25.5em;">
                                    <div class="input-group-btn">
                                        <select class="form-control" name="countryCode" id="countryCode"
                                                style="width: 10em; color: black">
                                            <option ng-repeat="country in data.countries" ng-selected="country.name == data.countryCode" ng-value="country.code">[[ country.name ]] ([[ country.code ]])
                                            </option>
                                        </select>
                                    </div>
                                    <input type="number" name="phone" id="phone" class="form-control" value="{{ old.phone }}" placeholder="Enter Phone Number" style="color: black;" required>
                                    <input type="hidden" value="{{ code }}" name="code" id="code">
                                </div>
                                <input style="color: black" type="password" class="form-control" id="password" name="password" placeholder="Enter password" required>
                                <input type="submit" name="submit" value="Login" class="btn btn-primary">
                            </div>
                        </form>
                    </div>
                {% endif %}
            </nav>
        </div>
        {% block content %}
        {% endblock %}
        <div class="footer">
            <div>
                <strong>Copyright</strong> TM30 &copy; {{ year }}
            </div>
        </div>
    </div>

</div>

<div class="modal inmodal fade" id="smsModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                            class="sr-only">Close</span></button>
                <h4 class="modal-title">Send SMS</h4>
                <small class="font-bold">Send a simple easy sms to a number of your choice.</small>
            </div>
            <div class="modal-body">
                <form method="post" action="{{ path_for('sms') }}">
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">Recipient:</label>
                        <input type="number" class="form-control" id="phone" name="phone" required>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="control-label">Message:</label>
                        <textarea class="form-control" id="message" name="message" required></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal inmodal fade" id="yahooModal" tabindex="-2" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                            class="sr-only">Close</span></button>
                <h4 class="modal-title">Connect Your Email Account</h4>
                <small class="font-bold">synchronize your email account.</small>
            </div>
            <div class="modal-body">
                <form class="form-inline" method="post" action="{{ path_for('yahoo') }}">
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">Email:</label>&nbsp;
                        <div class="input-group">
                            <input type="text" class="form-control" id="email" name="email"
                                   placeholder="Enter Email Address" required>
                            <div class="input-group-addon">@yahoo.com</div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- YAHOO Modal -->
<div class="modal inmodal fade" id="emailModal" tabindex="-2" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                            class="sr-only">Close</span></button>
                <h4 class="modal-title">Connect Your Email Account</h4>
                <small class="font-bold">synchronize your email account.</small>
            </div>
            <div class="modal-body">
                <form method="post" action="{{ path_for('email') }}">
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">Email:</label>
                        <input type="email" class="form-control" id="email" name="email"
                               style="width: 100%; text-align: justify" required>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{#<script src="static/js/plugins/fullcalendar/moment.min.js"></script>#}
<script src="static/js/jquery-2.1.1.js"></script>
<script src="bower_components/moment/min/moment.min.js"></script>
<script src="bower_components/datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
<script src="static/js/jquery.form.min.js"></script>
<script src="static/js/plugins/validate/jquery.validate.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>

<!-- Custom and plugin javascript -->
<script src="static/js/inspinia.js"></script>
{#<script src="static/js/plugins/pace/pace.min.js"></script>#}
<script src="static/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

<!-- Chosen -->
<script src="static/js/plugins/chosen/chosen.jquery.js"></script>
<!-- JSKnob -->
<script src="static/js/plugins/jsKnob/jquery.knob.js"></script>
<!-- Input Mask-->
{#<script src="static/js/plugins/jquery-ui/jquery-ui.min.js"></script>#}
<script src="static/js/plugins/jasny/jasny-bootstrap.min.js"></script>
<!-- Data picker -->
<script src="static/js/plugins/datapicker/bootstrap-datepicker.js"></script>
<!-- NouSlider -->
<script src="static/js/plugins/nouslider/jquery.nouislider.min.js"></script>
<!-- Switchery -->
<script src="static/js/plugins/switchery/switchery.js"></script>
<!-- IonRangeSlider -->
<script src="static/js/plugins/ionRangeSlider/ion.rangeSlider.min.js"></script>
<!-- iCheck -->
<script src="static/js/plugins/iCheck/icheck.min.js"></script>
<script src="static/js/plugins/fullcalendar/fullcalendar.min.js"></script>
<!-- MENU -->
<script src="static/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<!-- Color picker -->
<script src="static/js/plugins/colorpicker/bootstrap-colorpicker.min.js"></script>
<!-- Image cropper -->
<script src="static/js/plugins/cropper/cropper.min.js"></script>
<script src="static/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="static/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

<!-- Flot -->
<script src="/static/js/plugins/flot/jquery.flot.js"></script>
<script src="/static/js/plugins/flot/jquery.flot.tooltip.min.js"></script>
<script src="/static/js/plugins/flot/jquery.flot.spline.js"></script>
<script src="static/js/plugins/flot/jquery.flot.resize.js"></script>
<script src="static/js/plugins/flot/jquery.flot.pie.js"></script>

<!-- Peity -->
<script src="static/js/plugins/peity/jquery.peity.min.js"></script>
<script src="static/js/demo/peity-demo.js"></script>
<!-- jQuery UI -->
<!-- GITTER -->
<script src="static/js/plugins/gritter/jquery.gritter.min.js"></script>
<!-- Sparkline -->
<script src="static/js/plugins/sparkline/jquery.sparkline.min.js"></script>
<!-- Sparkline demo data  -->
<script src="static/js/demo/sparkline-demo.js"></script>
<!-- ChartJS-->
<script src="static/js/plugins/chartJs/Chart.min.js"></script>
<!-- Toastr -->
<script src="/static/js/plugins/toastr/toastr.min.js"></script>
<script src="/static/js/angular.min.js"></script>
<script src="/static/js/moment.min.js"></script>
<script src="/static/js/angular-moment.min.js"></script>
<script src="/node_modules/checklist-model/checklist-model.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.6.1/angular-sanitize.min.js"></script>
<script src="/static/js/app.js"></script>
<script src="/static/js/plugins/iCheck/icheck.min.js"></script>
<script src="/static/js/plugins/summernote/summernote.min.js"></script>
<script src="/node_modules/bootstrap-timepicker/js/bootstrap-timepicker.min.js"></script>
<script src="/bower_components/bootstrap-tokenfield/dist/bootstrap-tokenfield.min.js"></script>
<script src="/node_modules/select2/dist/js/select2.full.min.js"></script>

<script src="/node_modules/socket.io/node_modules/socket.io-client/dist/socket.io.min.js"></script>
<script>
    $(document).ready(function () {

        $(".colleague_search").select2({
            ajax: {
                url: '/api/v1/users/contact/platform',
                dataType: 'json',
                delay: 200,
                data: function (params) {
                    return {
                        q: params.term,
                        page: params.page
                    }
                },
                processResults: function (data) {
                    return {
                        results: $.map(data.message, function (obj) {
                            console.log(obj);
                            return {id: JSON.stringify([obj.id,obj.phone]), text: obj.first_name+" "+obj.last_name+" ("+obj.phone+")"};
                        })
                    };
                },
                cache: true
            },
            escapeMarkup: function (markup) {
                return markup
            },
            minimumInputLength: 1,
            placeholder: 'Search for a friend or colleague...',
            allowClear: true
        });

        $(".colleague_search").on('select2:select',function(e){
            var value_arr=$(this).val();
            var value=JSON.parse(value_arr);
            window.location="/"+value[1];
        });

        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green'
        });

        $('.summernote').summernote();

        $('#launch_date').datepicker({
            format: "dd/mm/yyyy"
        });

        $('#expiry_date').datepicker({
            format: "dd/mm/yyyy"
        });

        $('#external-events div.external-event').each(function() {

            // store data so the calendar knows to render an event upon drop
            $(this).data('event', {
                title: $.trim($(this).text()), // use the element's text as the event title
                stick: true // maintain when user navigates (see docs on the renderEvent method)
            });

            // make the event draggable using jQuery UI
            $(this).draggable({
                zIndex: 1111999,
                revert: true,      // will cause the event to go back to its
                revertDuration: 0  //  original position after the drag
            });

        });

        /* initialize the calendar
         -----------------------------------------------------------------*/
        var date = new Date();
        var d = date.getDate();
        var m = date.getMonth();
        var y = date.getFullYear();

    });
    var edit = function () {
        $('.click2edit').summernote({focus: true});
    };
    var save = function () {
        var aHTML = $('.click2edit').code(); //save HTML If you need(aHTML: array).
        $('.click2edit').destroy();
    };
    $('#start_time').timepicker();
    $('#end_time').timepicker();
</script>
{% block scripts %}
{% endblock %}
</body>
</html>