{% if flash.getMessage('basic') %}
    <div class="flash_alert alert-info">
        {{ flash.getMessage('basic') | first }}
    </div>
{% endif %}

{% if flash.getMessage('error') %}
    <div class="flash_alert alert-danger">
        {{ flash.getMessage('error') | first }}
    </div>
{% endif %}