<footer style="bottom: 0px;position: fixed;">
    <div class="footer_table">

        
        <div class="general">
            <a class="footernotes"><i class="fa fa-copyright" aria-hidden="true"></i>&nbsp;TM30</a>
            <p><a href="/register" class="footernotes">Sign Up</a> | <a href="#help" class="footernotes">Help Center </a> | <a href="#about" class="footernotes">About</a> |
                <a href="#blog" class="footernotes">Blog</a> | <a
                        href="#career" class="footernotes">Careers</a> | <a href="#developers" class="footernotes">Developers</a>
            </p>
        </div>

        {#<div class="businessolution">#}
            {#<a class="footernotes">Business Solution</a>#}
            {#<p><a href="#talent" class="footernotes">Talent</a> | <a href="#marketing" class="footernotes">Marketing </a> | <a href="#sales" class="footernotes">Sales</a></p>#}
        {#</div>#}
    </div>

</footer>