<div class="headerCSS">
    <div>
        <a href="{{ path_for('index') }}"><h1 class="oneidentity_heading">One Identity</h1></a>
        <form method="get" action="{{ path_for('search') }}">
            <input type="text" name="q" placeholder="Mobile Number/Name" class="input_header">
            <button class="btn-sm" style="margin-left: -5px; background-color: transparent; color: white" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
        </form>
    </div>

    {% if not user %}
    <form method="post" action="{{ path_for('login') }}" class="pull-right" style="margin-top: -1.9em; float: right;">
        <select class="header_option" name="countryCode" id="countryCode">
            {% for country in countries %}
                <option {% if country.name == [[countryCode]] %}selected{% endif %} value="{{ country.code }}">{{ country.name }} ({{ country.code }})</option>
            {% endfor %}
        </select>
        <input type="number" name="phone" placeholder="Enter Phone Number" id="signin" value="{{ old.phone }}" required>
        <input type="password" name="password" placeholder="Enter Password" id="signin" required>
        <input type="submit" name="submit" value="Login" class="btn-xs btn-success">
    </form>
    {% endif %}

</div>