<div>
    <div id="profileSidebar">
        <a class="removeHover" href="/user/profile"><button class="proMenu">
            <i class="fa fa-user" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Account<i
                        class="fa fa-caret-right" aria-hidden="true"></i>
        </button></a>
        <a class="removeHover" href="/user/privacy"><button class="proMenu">
            <i class="fa fa-eye-slash" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;
                Security & Privacy<i class="fa fa-caret-right" aria-hidden="true"></i>
        </button></a>
        <a class="removeHover" href="/user/password/change"><button class="proMenu">
            <i class="fa fa-key" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Password<i
                    class="fa fa-caret-right"
                    aria-hidden="true"></i>
        </button></a>
        <a class="removeHover" href="/user/notifications"><button class="proMenu">
            <i class="fa fa-mobile" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Notifications<i
                        class="fa fa-caret-right" aria-hidden="true"></i>
        </button></a>
        <a class="removeHover" href="/user/apps"><button class="proMenu">
                <i class="fa fa-share-square-o" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Apps<i
                        class="fa fa-caret-right" aria-hidden="true"></i>
        </button></a>
    </div>
</div>