<html>
<head>
    <link rel="stylesheet" type="text/css" href="../../css/styleb.css">
    <link rel="stylesheet" type="text/css" href="../../css/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../css/fonts.css">
    <link rel="stylesheet" type="text/css" href="../../css/Homepage.css">
    <script type="text/javascript" src="../../css/bootstrap/js/jquery.min.js"></script>
    <script type="text/javascript" src="../../css/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../js/jquery_validate.js"></script>
    <script type="text/javascript" src="../../js/jquery_validation.js"></script>
    <title>One Identity</title>
</head>
<body>
<header class="header">
    <ul class="menu">
        <li class="menuSeg"><a href="/user"><i class="fa fa-home" aria-hidden="true"></i>&nbsp;&nbsp;Home</a></li>
        <li class="menuSeg" id="hto"><a href="/mail"><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;&nbsp;MailBox</a></li>
        <li class="menuSeg"><a href="/user/profile"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;&nbsp;Settings</a></li>
    </ul>
</header>
<div class="container">
    <div>
     {% include 'templates/partials/sidenav.twig' %}
     <div>
         <div class="profileContent" style="height:45%">
             <h1 class="profileHeader">Change Password</h1>
             <form action="{{ path_for('password') }}" method="post" id="user-pass"
                   accept-charset="UTF-8" class="form_box">
                 
                 <div class="form-group">
                     {% if errors.current_password %}
                     <span style="color: red">{{ errors.current_password | first }}</span>
                     {% endif %}<br>
                     <label for="name">Current Password</label>
                     <input type="password" class="form_control" id="current_password" name="current_password" placeholder="Enter Current Password" required>
                 </div>
                 <div class="form-group">
                     {% if errors.new_password %}
                     <span style="color: red">{{ errors.new_password | first }}</span>
                     {% endif %}<br>
                     <label for="name">New Password</label>
                     <input type="Password" class="form_control" id="new_password" name="new_password" placeholder="Enter New Pasword" required>
                 </div>
                 <div class="form-group">
                     {% if errors.repeat_password %}
                     <span style="color: red">{{ errors.repeat_password | first }}</span>
                     {% endif %}<br>
                     <label for="password">Re-enter New Password</label>
                     <input type="Password" class="form_control" id="repeat_password" name="repeat_password" placeholder="Re-enter New Password" required>
                 </div>
                
                 <div class="form-group submit_margin pull-right">
                     <input type="submit" name="Submit" value="Submit" class="btn btn-primary">
                 </div>
             </form>
         </div>
     </div>
 </div>
</div>
<div class="footer"></div>
</body>
</html>